@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?190k7a');
  src:  url('icomoon.eot?190k7a#iefix') format('embedded-opentype'),
    url('icomoon.ttf?190k7a') format('truetype'),
    url('icomoon.woff?190k7a') format('woff'),
    url('icomoon.svg?190k7a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
  content: "\e915";
}
.icon-error_outline:before {
  content: "\e916";
}
.icon-warning1:before {
  content: "\e917";
}
.icon-add_alert:before {
  content: "\e918";
}
.icon-notification_important:before {
  content: "\e919";
}
.icon-album:before {
  content: "\e91a";
}
.icon-av_timer:before {
  content: "\e91b";
}
.icon-closed_caption:before {
  content: "\e91c";
}
.icon-equalizer1:before {
  content: "\e91d";
}
.icon-explicit:before {
  content: "\e91e";
}
.icon-fast_forward:before {
  content: "\e91f";
}
.icon-fast_rewind:before {
  content: "\e920";
}
.icon-games:before {
  content: "\e921";
}
.icon-hearing:before {
  content: "\e922";
}
.icon-high_quality:before {
  content: "\e923";
}
.icon-loop1:before {
  content: "\e924";
}
.icon-mic1:before {
  content: "\e925";
}
.icon-mic_none:before {
  content: "\e926";
}
.icon-mic_off:before {
  content: "\e927";
}
.icon-movie:before {
  content: "\e928";
}
.icon-library_add:before {
  content: "\e929";
}
.icon-library_books:before {
  content: "\e92a";
}
.icon-library_music:before {
  content: "\e92b";
}
.icon-new_releases:before {
  content: "\e92c";
}
.icon-not_interested:before {
  content: "\e92d";
}
.icon-pause1:before {
  content: "\e92e";
}
.icon-pause_circle_filled:before {
  content: "\e92f";
}
.icon-pause_circle_outline:before {
  content: "\e930";
}
.icon-play_arrow:before {
  content: "\e931";
}
.icon-play_circle_filled:before {
  content: "\e932";
}
.icon-play_circle_outline:before {
  content: "\e933";
}
.icon-playlist_add:before {
  content: "\e934";
}
.icon-queue_music:before {
  content: "\e935";
}
.icon-radio:before {
  content: "\e936";
}
.icon-recent_actors:before {
  content: "\e937";
}
.icon-repeat:before {
  content: "\e938";
}
.icon-repeat_one:before {
  content: "\e939";
}
.icon-replay:before {
  content: "\e93a";
}
.icon-shuffle1:before {
  content: "\e93b";
}
.icon-skip_next:before {
  content: "\e93c";
}
.icon-skip_previous:before {
  content: "\e93d";
}
.icon-snooze:before {
  content: "\e93e";
}
.icon-stop1:before {
  content: "\e93f";
}
.icon-subtitles:before {
  content: "\e940";
}
.icon-surround_sound:before {
  content: "\e941";
}
.icon-video_collection:before {
  content: "\e942";
}
.icon-videocam:before {
  content: "\e943";
}
.icon-videocam_off:before {
  content: "\e944";
}
.icon-volume_down:before {
  content: "\e945";
}
.icon-volume_mute:before {
  content: "\e946";
}
.icon-volume_off:before {
  content: "\e947";
}
.icon-volume_up:before {
  content: "\e948";
}
.icon-web:before {
  content: "\e949";
}
.icon-hd:before {
  content: "\e94a";
}
.icon-sort_by_alpha:before {
  content: "\e94b";
}
.icon-airplay:before {
  content: "\e94c";
}
.icon-forward_10:before {
  content: "\e94d";
}
.icon-forward_30:before {
  content: "\e94e";
}
.icon-forward_5:before {
  content: "\e94f";
}
.icon-replay_10:before {
  content: "\e950";
}
.icon-replay_30:before {
  content: "\e951";
}
.icon-replay_5:before {
  content: "\e952";
}
.icon-add_to_queue:before {
  content: "\e953";
}
.icon-fiber_dvr:before {
  content: "\e954";
}
.icon-fiber_new:before {
  content: "\e955";
}
.icon-playlist_play:before {
  content: "\e956";
}
.icon-art_track:before {
  content: "\e957";
}
.icon-fiber_manual_record:before {
  content: "\e958";
}
.icon-fiber_smart_record:before {
  content: "\e959";
}
.icon-music_video:before {
  content: "\e95a";
}
.icon-subscriptions:before {
  content: "\e95b";
}
.icon-playlist_add_check:before {
  content: "\e95c";
}
.icon-queue_play_next:before {
  content: "\e95d";
}
.icon-remove_from_queue:before {
  content: "\e95e";
}
.icon-slow_motion_video:before {
  content: "\e95f";
}
.icon-web_asset:before {
  content: "\e960";
}
.icon-fiber_pin:before {
  content: "\e961";
}
.icon-branding_watermark:before {
  content: "\e962";
}
.icon-call_to_action:before {
  content: "\e963";
}
.icon-featured_play_list:before {
  content: "\e964";
}
.icon-featured_video:before {
  content: "\e965";
}
.icon-note:before {
  content: "\e966";
}
.icon-video_call:before {
  content: "\e967";
}
.icon-video_label:before {
  content: "\e968";
}
.icon-4k:before {
  content: "\e969";
}
.icon-missed_video_call:before {
  content: "\e96a";
}
.icon-control_camera:before {
  content: "\e96b";
}
.icon-business:before {
  content: "\e96c";
}
.icon-call:before {
  content: "\e96d";
}
.icon-call_end:before {
  content: "\e96e";
}
.icon-call_made:before {
  content: "\e96f";
}
.icon-call_merge:before {
  content: "\e970";
}
.icon-call_missed:before {
  content: "\e971";
}
.icon-call_received:before {
  content: "\e972";
}
.icon-call_split:before {
  content: "\e973";
}
.icon-chat:before {
  content: "\e974";
}
.icon-clear_all:before {
  content: "\e975";
}
.icon-comment:before {
  content: "\e976";
}
.icon-contacts:before {
  content: "\e977";
}
.icon-dialer_sip:before {
  content: "\e978";
}
.icon-dialpad:before {
  content: "\e979";
}
.icon-email:before {
  content: "\e97a";
}
.icon-forum:before {
  content: "\e97b";
}
.icon-import_export:before {
  content: "\e97c";
}
.icon-invert_colors_off:before {
  content: "\e97d";
}
.icon-live_help:before {
  content: "\e97e";
}
.icon-location_off:before {
  content: "\e97f";
}
.icon-location_on:before {
  content: "\e980";
}
.icon-message:before {
  content: "\e981";
}
.icon-chat_bubble:before {
  content: "\e982";
}
.icon-chat_bubble_outline:before {
  content: "\e983";
}
.icon-no_sim:before {
  content: "\e984";
}
.icon-phone1:before {
  content: "\e985";
}
.icon-portable_wifi_off:before {
  content: "\e986";
}
.icon-contact_phone:before {
  content: "\e987";
}
.icon-contact_mail:before {
  content: "\e988";
}
.icon-ring_volume:before {
  content: "\e989";
}
.icon-speaker_phone:before {
  content: "\e98a";
}
.icon-stay_current_landscape:before {
  content: "\e98b";
}
.icon-stay_current_portrait:before {
  content: "\e98c";
}
.icon-swap_calls:before {
  content: "\e98d";
}
.icon-textsms:before {
  content: "\e98e";
}
.icon-voicemail:before {
  content: "\e98f";
}
.icon-vpn_key:before {
  content: "\e990";
}
.icon-phonelink_erase:before {
  content: "\e991";
}
.icon-phonelink_lock:before {
  content: "\e992";
}
.icon-phonelink_ring:before {
  content: "\e993";
}
.icon-phonelink_setup:before {
  content: "\e994";
}
.icon-present_to_all:before {
  content: "\e995";
}
.icon-import_contacts:before {
  content: "\e996";
}
.icon-mail_outline:before {
  content: "\e997";
}
.icon-screen_share:before {
  content: "\e998";
}
.icon-stop_screen_share:before {
  content: "\e999";
}
.icon-call_missed_outgoing:before {
  content: "\e99a";
}
.icon-rss_feed:before {
  content: "\e99b";
}
.icon-alternate_email:before {
  content: "\e99c";
}
.icon-mobile_screen_share:before {
  content: "\e99d";
}
.icon-add_call:before {
  content: "\e99e";
}
.icon-cancel_presentation:before {
  content: "\e99f";
}
.icon-pause_presentation:before {
  content: "\e9a0";
}
.icon-unsubscribe:before {
  content: "\e9a1";
}
.icon-cell_wifi:before {
  content: "\e9a2";
}
.icon-sentiment_satisfied_alt:before {
  content: "\e9a3";
}
.icon-list_alt:before {
  content: "\e9a4";
}
.icon-domain_disabled:before {
  content: "\e9a5";
}
.icon-lightbulb:before {
  content: "\e9a6";
}
.icon-add:before {
  content: "\e9a7";
}
.icon-add_box:before {
  content: "\e9a8";
}
.icon-add_circle:before {
  content: "\e9a9";
}
.icon-add_circle_outline:before {
  content: "\e9aa";
}
.icon-archive:before {
  content: "\e9ab";
}
.icon-backspace:before {
  content: "\e9ac";
}
.icon-block:before {
  content: "\e9ad";
}
.icon-clear:before {
  content: "\e9ae";
}
.icon-content_copy:before {
  content: "\e9af";
}
.icon-content_cut:before {
  content: "\e9b0";
}
.icon-content_paste:before {
  content: "\e9b1";
}
.icon-create:before {
  content: "\e9b2";
}
.icon-drafts:before {
  content: "\e9b3";
}
.icon-filter_list:before {
  content: "\e9b4";
}
.icon-flag1:before {
  content: "\e9b5";
}
.icon-forward1:before {
  content: "\e9b6";
}
.icon-gesture:before {
  content: "\e9b7";
}
.icon-inbox:before {
  content: "\e9b8";
}
.icon-link1:before {
  content: "\e9b9";
}
.icon-redo1:before {
  content: "\e9ba";
}
.icon-remove:before {
  content: "\e9bb";
}
.icon-remove_circle:before {
  content: "\e9bc";
}
.icon-remove_circle_outline:before {
  content: "\e9bd";
}
.icon-reply1:before {
  content: "\e9be";
}
.icon-reply_all:before {
  content: "\e9bf";
}
.icon-report:before {
  content: "\e9c0";
}
.icon-save:before {
  content: "\e9c1";
}
.icon-select_all:before {
  content: "\e9c2";
}
.icon-send:before {
  content: "\e9c3";
}
.icon-sort:before {
  content: "\e9c4";
}
.icon-text_format:before {
  content: "\e9c5";
}
.icon-undo1:before {
  content: "\e9c6";
}
.icon-font_download:before {
  content: "\e9c7";
}
.icon-move_to_inbox:before {
  content: "\e9c8";
}
.icon-unarchive:before {
  content: "\e9c9";
}
.icon-next_week:before {
  content: "\e9ca";
}
.icon-weekend:before {
  content: "\e9cb";
}
.icon-delete_sweep:before {
  content: "\e9cc";
}
.icon-low_priority:before {
  content: "\e9cd";
}
.icon-outlined_flag:before {
  content: "\e9ce";
}
.icon-link_off:before {
  content: "\e9cf";
}
.icon-report_off:before {
  content: "\e9d0";
}
.icon-save_alt:before {
  content: "\e9d1";
}
.icon-ballot:before {
  content: "\e9d2";
}
.icon-file_copy:before {
  content: "\e9d3";
}
.icon-how_to_reg:before {
  content: "\e9d4";
}
.icon-how_to_vote:before {
  content: "\e9d5";
}
.icon-waves:before {
  content: "\e9d6";
}
.icon-where_to_vote:before {
  content: "\e9d7";
}
.icon-add_link:before {
  content: "\e9d8";
}
.icon-inventory:before {
  content: "\e9d9";
}
.icon-access_alarm:before {
  content: "\e9da";
}
.icon-access_alarms:before {
  content: "\e9db";
}
.icon-access_time:before {
  content: "\e9dc";
}
.icon-add_alarm:before {
  content: "\e9dd";
}
.icon-airplanemode_inactive:before {
  content: "\e9de";
}
.icon-airplanemode_active:before {
  content: "\e9df";
}
.icon-battery_alert:before {
  content: "\e9e0";
}
.icon-battery_charging_full:before {
  content: "\e9e1";
}
.icon-battery_full:before {
  content: "\e9e2";
}
.icon-battery_unknown:before {
  content: "\e9e3";
}
.icon-bluetooth:before {
  content: "\e9e4";
}
.icon-bluetooth_connected:before {
  content: "\e9e5";
}
.icon-bluetooth_disabled:before {
  content: "\e9e6";
}
.icon-bluetooth_searching:before {
  content: "\e9e7";
}
.icon-brightness_auto:before {
  content: "\e9e8";
}
.icon-brightness_high:before {
  content: "\e9e9";
}
.icon-brightness_low:before {
  content: "\e9ea";
}
.icon-brightness_medium:before {
  content: "\e9eb";
}
.icon-data_usage:before {
  content: "\e9ec";
}
.icon-developer_mode:before {
  content: "\e9ed";
}
.icon-devices:before {
  content: "\e9ee";
}
.icon-dvr:before {
  content: "\e9ef";
}
.icon-gps_fixed:before {
  content: "\e9f0";
}
.icon-gps_not_fixed:before {
  content: "\e9f1";
}
.icon-gps_off:before {
  content: "\e9f2";
}
.icon-graphic_eq:before {
  content: "\e9f3";
}
.icon-network_cell:before {
  content: "\e9f4";
}
.icon-network_wifi:before {
  content: "\e9f5";
}
.icon-nfc:before {
  content: "\e9f6";
}
.icon-now_wallpaper:before {
  content: "\e9f7";
}
.icon-now_widgets:before {
  content: "\e9f8";
}
.icon-screen_lock_landscape:before {
  content: "\e9f9";
}
.icon-screen_lock_portrait:before {
  content: "\e9fa";
}
.icon-screen_lock_rotation:before {
  content: "\e9fb";
}
.icon-screen_rotation:before {
  content: "\e9fc";
}
.icon-sd_storage:before {
  content: "\e9fd";
}
.icon-settings_system_daydream:before {
  content: "\e9fe";
}
.icon-signal_cellular_4_bar:before {
  content: "\e9ff";
}
.icon-signal_cellular_connected_no_internet_4_bar:before {
  content: "\ea00";
}
.icon-signal_cellular_null:before {
  content: "\ea01";
}
.icon-signal_cellular_off:before {
  content: "\ea02";
}
.icon-signal_wifi_4_bar:before {
  content: "\ea03";
}
.icon-signal_wifi_4_bar_lock:before {
  content: "\ea04";
}
.icon-signal_wifi_off:before {
  content: "\ea05";
}
.icon-storage:before {
  content: "\ea06";
}
.icon-usb:before {
  content: "\ea07";
}
.icon-wifi_lock:before {
  content: "\ea08";
}
.icon-wifi_tethering:before {
  content: "\ea09";
}
.icon-add_to_home_screen:before {
  content: "\ea0a";
}
.icon-device_thermostat:before {
  content: "\ea0b";
}
.icon-mobile_friendly:before {
  content: "\ea0c";
}
.icon-mobile_off:before {
  content: "\ea0d";
}
.icon-signal_cellular_alt:before {
  content: "\ea0e";
}
.icon-attach_file:before {
  content: "\ea0f";
}
.icon-attach_money:before {
  content: "\ea10";
}
.icon-border_all:before {
  content: "\ea11";
}
.icon-border_bottom:before {
  content: "\ea12";
}
.icon-border_clear:before {
  content: "\ea13";
}
.icon-border_color:before {
  content: "\ea14";
}
.icon-border_horizontal:before {
  content: "\ea15";
}
.icon-border_inner:before {
  content: "\ea16";
}
.icon-border_left:before {
  content: "\ea17";
}
.icon-border_outer:before {
  content: "\ea18";
}
.icon-border_right:before {
  content: "\ea19";
}
.icon-border_style:before {
  content: "\ea1a";
}
.icon-border_top:before {
  content: "\ea1b";
}
.icon-border_vertical:before {
  content: "\ea1c";
}
.icon-format_align_center:before {
  content: "\ea1d";
}
.icon-format_align_justify:before {
  content: "\ea1e";
}
.icon-format_align_left:before {
  content: "\ea1f";
}
.icon-format_align_right:before {
  content: "\ea20";
}
.icon-format_bold:before {
  content: "\ea21";
}
.icon-format_clear:before {
  content: "\ea22";
}
.icon-format_color_fill:before {
  content: "\ea23";
}
.icon-format_color_reset:before {
  content: "\ea24";
}
.icon-format_color_text:before {
  content: "\ea25";
}
.icon-format_indent_decrease:before {
  content: "\ea26";
}
.icon-format_indent_increase:before {
  content: "\ea27";
}
.icon-format_italic:before {
  content: "\ea28";
}
.icon-format_line_spacing:before {
  content: "\ea29";
}
.icon-format_list_bulleted:before {
  content: "\ea2a";
}
.icon-format_list_numbered:before {
  content: "\ea2b";
}
.icon-format_paint:before {
  content: "\ea2c";
}
.icon-format_quote:before {
  content: "\ea2d";
}
.icon-format_size:before {
  content: "\ea2e";
}
.icon-format_strikethrough:before {
  content: "\ea2f";
}
.icon-format_textdirection_l_to_r:before {
  content: "\ea30";
}
.icon-format_textdirection_r_to_l:before {
  content: "\ea31";
}
.icon-format_underlined:before {
  content: "\ea32";
}
.icon-functions:before {
  content: "\ea33";
}
.icon-insert_chart:before {
  content: "\ea34";
}
.icon-insert_comment:before {
  content: "\ea35";
}
.icon-insert_drive_file:before {
  content: "\ea36";
}
.icon-insert_emoticon:before {
  content: "\ea37";
}
.icon-insert_invitation:before {
  content: "\ea38";
}
.icon-insert_photo:before {
  content: "\ea39";
}
.icon-mode_comment:before {
  content: "\ea3a";
}
.icon-publish:before {
  content: "\ea3b";
}
.icon-space_bar:before {
  content: "\ea3c";
}
.icon-strikethrough_s:before {
  content: "\ea3d";
}
.icon-vertical_align_bottom:before {
  content: "\ea3e";
}
.icon-vertical_align_center:before {
  content: "\ea3f";
}
.icon-vertical_align_top:before {
  content: "\ea40";
}
.icon-wrap_text:before {
  content: "\ea41";
}
.icon-money_off:before {
  content: "\ea42";
}
.icon-drag_handle:before {
  content: "\ea43";
}
.icon-format_shapes:before {
  content: "\ea44";
}
.icon-highlight:before {
  content: "\ea45";
}
.icon-linear_scale:before {
  content: "\ea46";
}
.icon-short_text:before {
  content: "\ea47";
}
.icon-text_fields:before {
  content: "\ea48";
}
.icon-monetization_on:before {
  content: "\ea49";
}
.icon-title:before {
  content: "\ea4a";
}
.icon-table_chart:before {
  content: "\ea4b";
}
.icon-add_comment:before {
  content: "\ea4c";
}
.icon-format_list_numbered_rtl:before {
  content: "\ea4d";
}
.icon-scatter_plot:before {
  content: "\ea4e";
}
.icon-score:before {
  content: "\ea4f";
}
.icon-insert_chart_outlined:before {
  content: "\ea50";
}
.icon-bar_chart:before {
  content: "\ea51";
}
.icon-notes:before {
  content: "\ea52";
}
.icon-attachment1:before {
  content: "\ea53";
}
.icon-cloud1:before {
  content: "\ea54";
}
.icon-cloud_circle:before {
  content: "\ea55";
}
.icon-cloud_done:before {
  content: "\ea56";
}
.icon-cloud_download:before {
  content: "\ea57";
}
.icon-cloud_off:before {
  content: "\ea58";
}
.icon-cloud_queue:before {
  content: "\ea59";
}
.icon-cloud_upload:before {
  content: "\ea5a";
}
.icon-file_download:before {
  content: "\ea5b";
}
.icon-file_upload:before {
  content: "\ea5c";
}
.icon-folder1:before {
  content: "\ea5d";
}
.icon-folder_open:before {
  content: "\ea5e";
}
.icon-folder_shared:before {
  content: "\ea5f";
}
.icon-create_new_folder:before {
  content: "\ea60";
}
.icon-cast:before {
  content: "\ea61";
}
.icon-cast_connected:before {
  content: "\ea62";
}
.icon-computer:before {
  content: "\ea63";
}
.icon-desktop_mac:before {
  content: "\ea64";
}
.icon-desktop_windows:before {
  content: "\ea65";
}
.icon-developer_board:before {
  content: "\ea66";
}
.icon-dock:before {
  content: "\ea67";
}
.icon-headset:before {
  content: "\ea68";
}
.icon-headset_mic:before {
  content: "\ea69";
}
.icon-keyboard1:before {
  content: "\ea6a";
}
.icon-keyboard_arrow_down:before {
  content: "\ea6b";
}
.icon-keyboard_arrow_left:before {
  content: "\ea6c";
}
.icon-keyboard_arrow_right:before {
  content: "\ea6d";
}
.icon-keyboard_arrow_up:before {
  content: "\ea6e";
}
.icon-keyboard_backspace:before {
  content: "\ea6f";
}
.icon-keyboard_capslock:before {
  content: "\ea70";
}
.icon-keyboard_hide:before {
  content: "\ea71";
}
.icon-keyboard_return:before {
  content: "\ea72";
}
.icon-keyboard_tab:before {
  content: "\ea73";
}
.icon-keyboard_voice:before {
  content: "\ea74";
}
.icon-laptop_chromebook:before {
  content: "\ea75";
}
.icon-laptop_mac:before {
  content: "\ea76";
}
.icon-laptop_windows:before {
  content: "\ea77";
}
.icon-memory:before {
  content: "\ea78";
}
.icon-mouse:before {
  content: "\ea79";
}
.icon-phone_android:before {
  content: "\ea7a";
}
.icon-phone_iphone:before {
  content: "\ea7b";
}
.icon-phonelink_off:before {
  content: "\ea7c";
}
.icon-router:before {
  content: "\ea7d";
}
.icon-scanner:before {
  content: "\ea7e";
}
.icon-security:before {
  content: "\ea7f";
}
.icon-sim_card:before {
  content: "\ea80";
}
.icon-speaker:before {
  content: "\ea81";
}
.icon-speaker_group:before {
  content: "\ea82";
}
.icon-tablet1:before {
  content: "\ea83";
}
.icon-tablet_android:before {
  content: "\ea84";
}
.icon-tablet_mac:before {
  content: "\ea85";
}
.icon-toys:before {
  content: "\ea86";
}
.icon-tv1:before {
  content: "\ea87";
}
.icon-watch:before {
  content: "\ea88";
}
.icon-device_hub:before {
  content: "\ea89";
}
.icon-power_input:before {
  content: "\ea8a";
}
.icon-devices_other:before {
  content: "\ea8b";
}
.icon-videogame_asset:before {
  content: "\ea8c";
}
.icon-device_unknown:before {
  content: "\ea8d";
}
.icon-headset_off:before {
  content: "\ea8e";
}
.icon-adjust:before {
  content: "\ea8f";
}
.icon-assistant:before {
  content: "\ea90";
}
.icon-audiotrack:before {
  content: "\ea91";
}
.icon-blur_circular:before {
  content: "\ea92";
}
.icon-blur_linear:before {
  content: "\ea93";
}
.icon-blur_off:before {
  content: "\ea94";
}
.icon-blur_on:before {
  content: "\ea95";
}
.icon-brightness_1:before {
  content: "\ea96";
}
.icon-brightness_2:before {
  content: "\ea97";
}
.icon-brightness_3:before {
  content: "\ea98";
}
.icon-brightness_4:before {
  content: "\ea99";
}
.icon-broken_image:before {
  content: "\ea9a";
}
.icon-brush:before {
  content: "\ea9b";
}
.icon-camera1:before {
  content: "\ea9c";
}
.icon-camera_alt:before {
  content: "\ea9d";
}
.icon-camera_front:before {
  content: "\ea9e";
}
.icon-camera_rear:before {
  content: "\ea9f";
}
.icon-camera_roll:before {
  content: "\eaa0";
}
.icon-center_focus_strong:before {
  content: "\eaa1";
}
.icon-center_focus_weak:before {
  content: "\eaa2";
}
.icon-collections:before {
  content: "\eaa3";
}
.icon-color_lens:before {
  content: "\eaa4";
}
.icon-colorize:before {
  content: "\eaa5";
}
.icon-compare:before {
  content: "\eaa6";
}
.icon-control_point_duplicate:before {
  content: "\eaa7";
}
.icon-crop_16_9:before {
  content: "\eaa8";
}
.icon-crop_3_2:before {
  content: "\eaa9";
}
.icon-crop1:before {
  content: "\eaaa";
}
.icon-crop_5_4:before {
  content: "\eaab";
}
.icon-crop_7_5:before {
  content: "\eaac";
}
.icon-crop_din:before {
  content: "\eaad";
}
.icon-crop_free:before {
  content: "\eaae";
}
.icon-crop_original:before {
  content: "\eaaf";
}
.icon-crop_portrait:before {
  content: "\eab0";
}
.icon-crop_square:before {
  content: "\eab1";
}
.icon-dehaze:before {
  content: "\eab2";
}
.icon-details:before {
  content: "\eab3";
}
.icon-exposure:before {
  content: "\eab4";
}
.icon-exposure_minus_1:before {
  content: "\eab5";
}
.icon-exposure_minus_2:before {
  content: "\eab6";
}
.icon-exposure_plus_1:before {
  content: "\eab7";
}
.icon-exposure_plus_2:before {
  content: "\eab8";
}
.icon-exposure_zero:before {
  content: "\eab9";
}
.icon-filter_1:before {
  content: "\eaba";
}
.icon-filter_2:before {
  content: "\eabb";
}
.icon-filter_3:before {
  content: "\eabc";
}
.icon-filter1:before {
  content: "\eabd";
}
.icon-filter_4:before {
  content: "\eabe";
}
.icon-filter_5:before {
  content: "\eabf";
}
.icon-filter_6:before {
  content: "\eac0";
}
.icon-filter_7:before {
  content: "\eac1";
}
.icon-filter_8:before {
  content: "\eac2";
}
.icon-filter_9:before {
  content: "\eac3";
}
.icon-filter_9_plus:before {
  content: "\eac4";
}
.icon-filter_b_and_w:before {
  content: "\eac5";
}
.icon-filter_center_focus:before {
  content: "\eac6";
}
.icon-filter_drama:before {
  content: "\eac7";
}
.icon-filter_frames:before {
  content: "\eac8";
}
.icon-filter_hdr:before {
  content: "\eac9";
}
.icon-filter_none:before {
  content: "\eaca";
}
.icon-filter_tilt_shift:before {
  content: "\eacb";
}
.icon-filter_vintage:before {
  content: "\eacc";
}
.icon-flare:before {
  content: "\eacd";
}
.icon-flash_auto:before {
  content: "\eace";
}
.icon-flash_off:before {
  content: "\eacf";
}
.icon-flash_on:before {
  content: "\ead0";
}
.icon-flip:before {
  content: "\ead1";
}
.icon-gradient:before {
  content: "\ead2";
}
.icon-grain:before {
  content: "\ead3";
}
.icon-grid_off:before {
  content: "\ead4";
}
.icon-grid_on:before {
  content: "\ead5";
}
.icon-hdr_off:before {
  content: "\ead6";
}
.icon-hdr_on:before {
  content: "\ead7";
}
.icon-hdr_strong:before {
  content: "\ead8";
}
.icon-hdr_weak:before {
  content: "\ead9";
}
.icon-healing:before {
  content: "\eada";
}
.icon-image_aspect_ratio:before {
  content: "\eadb";
}
.icon-iso:before {
  content: "\eadc";
}
.icon-leak_add:before {
  content: "\eadd";
}
.icon-leak_remove:before {
  content: "\eade";
}
.icon-lens:before {
  content: "\eadf";
}
.icon-looks_3:before {
  content: "\eae0";
}
.icon-looks:before {
  content: "\eae1";
}
.icon-looks_4:before {
  content: "\eae2";
}
.icon-looks_5:before {
  content: "\eae3";
}
.icon-looks_6:before {
  content: "\eae4";
}
.icon-looks_one:before {
  content: "\eae5";
}
.icon-looks_two:before {
  content: "\eae6";
}
.icon-loupe:before {
  content: "\eae7";
}
.icon-monochrome_photos:before {
  content: "\eae8";
}
.icon-music_note:before {
  content: "\eae9";
}
.icon-nature:before {
  content: "\eaea";
}
.icon-nature_people:before {
  content: "\eaeb";
}
.icon-navigate_before:before {
  content: "\eaec";
}
.icon-navigate_next:before {
  content: "\eaed";
}
.icon-panorama:before {
  content: "\eaee";
}
.icon-panorama_fish_eye:before {
  content: "\eaef";
}
.icon-panorama_horizontal:before {
  content: "\eaf0";
}
.icon-panorama_vertical:before {
  content: "\eaf1";
}
.icon-panorama_wide_angle:before {
  content: "\eaf2";
}
.icon-photo_album:before {
  content: "\eaf3";
}
.icon-picture_as_pdf:before {
  content: "\eaf4";
}
.icon-portrait:before {
  content: "\eaf5";
}
.icon-remove_red_eye:before {
  content: "\eaf6";
}
.icon-rotate_90_degrees_ccw:before {
  content: "\eaf7";
}
.icon-rotate_left:before {
  content: "\eaf8";
}
.icon-rotate_right:before {
  content: "\eaf9";
}
.icon-slideshow:before {
  content: "\eafa";
}
.icon-straighten:before {
  content: "\eafb";
}
.icon-style:before {
  content: "\eafc";
}
.icon-switch_camera:before {
  content: "\eafd";
}
.icon-switch_video:before {
  content: "\eafe";
}
.icon-texture:before {
  content: "\eaff";
}
.icon-timelapse:before {
  content: "\eb00";
}
.icon-timer_10:before {
  content: "\eb01";
}
.icon-timer_3:before {
  content: "\eb02";
}
.icon-timer:before {
  content: "\eb03";
}
.icon-timer_off:before {
  content: "\eb04";
}
.icon-tonality:before {
  content: "\eb05";
}
.icon-transform:before {
  content: "\eb06";
}
.icon-tune:before {
  content: "\eb07";
}
.icon-view_comfortable:before {
  content: "\eb08";
}
.icon-view_compact:before {
  content: "\eb09";
}
.icon-wb_auto:before {
  content: "\eb0a";
}
.icon-wb_cloudy:before {
  content: "\eb0b";
}
.icon-wb_incandescent:before {
  content: "\eb0c";
}
.icon-wb_sunny:before {
  content: "\eb0d";
}
.icon-collections_bookmark:before {
  content: "\eb0e";
}
.icon-photo_size_select_actual:before {
  content: "\eb0f";
}
.icon-photo_size_select_large:before {
  content: "\eb10";
}
.icon-photo_size_select_small:before {
  content: "\eb11";
}
.icon-vignette:before {
  content: "\eb12";
}
.icon-wb_iridescent:before {
  content: "\eb13";
}
.icon-crop_rotate:before {
  content: "\eb14";
}
.icon-linked_camera:before {
  content: "\eb15";
}
.icon-add_a_photo:before {
  content: "\eb16";
}
.icon-movie_filter:before {
  content: "\eb17";
}
.icon-photo_filter:before {
  content: "\eb18";
}
.icon-burst_mode:before {
  content: "\eb19";
}
.icon-shutter_speed:before {
  content: "\eb1a";
}
.icon-add_photo_alternate:before {
  content: "\eb1b";
}
.icon-image_search:before {
  content: "\eb1c";
}
.icon-music_off:before {
  content: "\eb1d";
}
.icon-beenhere:before {
  content: "\eb1e";
}
.icon-directions:before {
  content: "\eb1f";
}
.icon-directions_bike:before {
  content: "\eb20";
}
.icon-directions_bus:before {
  content: "\eb21";
}
.icon-directions_car:before {
  content: "\eb22";
}
.icon-directions_ferry:before {
  content: "\eb23";
}
.icon-directions_subway:before {
  content: "\eb24";
}
.icon-directions_railway:before {
  content: "\eb25";
}
.icon-directions_walk:before {
  content: "\eb26";
}
.icon-hotel:before {
  content: "\eb27";
}
.icon-layers:before {
  content: "\eb28";
}
.icon-layers_clear:before {
  content: "\eb29";
}
.icon-local_atm:before {
  content: "\eb2a";
}
.icon-local_attraction:before {
  content: "\eb2b";
}
.icon-local_bar:before {
  content: "\eb2c";
}
.icon-local_cafe:before {
  content: "\eb2d";
}
.icon-local_car_wash:before {
  content: "\eb2e";
}
.icon-local_convenience_store:before {
  content: "\eb2f";
}
.icon-local_drink:before {
  content: "\eb30";
}
.icon-local_florist:before {
  content: "\eb31";
}
.icon-local_gas_station:before {
  content: "\eb32";
}
.icon-local_grocery_store:before {
  content: "\eb33";
}
.icon-local_hospital:before {
  content: "\eb34";
}
.icon-local_laundry_service:before {
  content: "\eb35";
}
.icon-local_library:before {
  content: "\eb36";
}
.icon-local_mall:before {
  content: "\eb37";
}
.icon-local_movies:before {
  content: "\eb38";
}
.icon-local_offer:before {
  content: "\eb39";
}
.icon-local_parking:before {
  content: "\eb3a";
}
.icon-local_pharmacy:before {
  content: "\eb3b";
}
.icon-local_pizza:before {
  content: "\eb3c";
}
.icon-local_print_shop:before {
  content: "\eb3d";
}
.icon-local_restaurant:before {
  content: "\eb3e";
}
.icon-local_shipping:before {
  content: "\eb3f";
}
.icon-local_taxi:before {
  content: "\eb40";
}
.icon-location_history:before {
  content: "\eb41";
}
.icon-map1:before {
  content: "\eb42";
}
.icon-navigation:before {
  content: "\eb43";
}
.icon-pin_drop:before {
  content: "\eb44";
}
.icon-rate_review:before {
  content: "\eb45";
}
.icon-satellite:before {
  content: "\eb46";
}
.icon-store_mall_directory:before {
  content: "\eb47";
}
.icon-traffic:before {
  content: "\eb48";
}
.icon-directions_run:before {
  content: "\eb49";
}
.icon-add_location:before {
  content: "\eb4a";
}
.icon-edit_location:before {
  content: "\eb4b";
}
.icon-near_me:before {
  content: "\eb4c";
}
.icon-person_pin_circle:before {
  content: "\eb4d";
}
.icon-zoom_out_map:before {
  content: "\eb4e";
}
.icon-restaurant:before {
  content: "\eb4f";
}
.icon-ev_station:before {
  content: "\eb50";
}
.icon-streetview:before {
  content: "\eb51";
}
.icon-subway:before {
  content: "\eb52";
}
.icon-train:before {
  content: "\eb53";
}
.icon-tram:before {
  content: "\eb54";
}
.icon-transfer_within_a_station:before {
  content: "\eb55";
}
.icon-atm:before {
  content: "\eb56";
}
.icon-category:before {
  content: "\eb57";
}
.icon-not_listed_location:before {
  content: "\eb58";
}
.icon-departure_board:before {
  content: "\eb59";
}
.icon-360:before {
  content: "\eb5a";
}
.icon-edit_attributes:before {
  content: "\eb5b";
}
.icon-transit_enterexit:before {
  content: "\eb5c";
}
.icon-fastfood:before {
  content: "\eb5d";
}
.icon-trip_origin:before {
  content: "\eb5e";
}
.icon-compass_calibration:before {
  content: "\eb5f";
}
.icon-money:before {
  content: "\eb60";
}
.icon-apps:before {
  content: "\eb61";
}
.icon-arrow_back:before {
  content: "\eb62";
}
.icon-arrow_drop_down:before {
  content: "\eb63";
}
.icon-arrow_drop_down_circle:before {
  content: "\eb64";
}
.icon-arrow_drop_up:before {
  content: "\eb65";
}
.icon-arrow_forward:before {
  content: "\eb66";
}
.icon-cancel1:before {
  content: "\eb67";
}
.icon-check1:before {
  content: "\eb68";
}
.icon-expand_less:before {
  content: "\eb69";
}
.icon-expand_more:before {
  content: "\eb6a";
}
.icon-fullscreen:before {
  content: "\eb6b";
}
.icon-fullscreen_exit:before {
  content: "\eb6c";
}
.icon-menu1:before {
  content: "\eb6d";
}
.icon-keyboard_control:before {
  content: "\eb6e";
}
.icon-more_vert:before {
  content: "\eb6f";
}
.icon-refresh:before {
  content: "\eb70";
}
.icon-unfold_less:before {
  content: "\eb71";
}
.icon-unfold_more:before {
  content: "\eb72";
}
.icon-arrow_upward:before {
  content: "\eb73";
}
.icon-subdirectory_arrow_left:before {
  content: "\eb74";
}
.icon-subdirectory_arrow_right:before {
  content: "\eb75";
}
.icon-arrow_downward:before {
  content: "\eb76";
}
.icon-first_page:before {
  content: "\eb77";
}
.icon-last_page:before {
  content: "\eb78";
}
.icon-arrow_left:before {
  content: "\eb79";
}
.icon-arrow_right:before {
  content: "\eb7a";
}
.icon-arrow_back_ios:before {
  content: "\eb7b";
}
.icon-arrow_forward_ios:before {
  content: "\eb7c";
}
.icon-adb:before {
  content: "\eb7d";
}
.icon-disc_full:before {
  content: "\eb7e";
}
.icon-do_not_disturb_alt:before {
  content: "\eb7f";
}
.icon-drive_eta:before {
  content: "\eb80";
}
.icon-event_available:before {
  content: "\eb81";
}
.icon-event_busy:before {
  content: "\eb82";
}
.icon-event_note:before {
  content: "\eb83";
}
.icon-folder_special:before {
  content: "\eb84";
}
.icon-mms:before {
  content: "\eb85";
}
.icon-more:before {
  content: "\eb86";
}
.icon-network_locked:before {
  content: "\eb87";
}
.icon-phone_bluetooth_speaker:before {
  content: "\eb88";
}
.icon-phone_forwarded:before {
  content: "\eb89";
}
.icon-phone_in_talk:before {
  content: "\eb8a";
}
.icon-phone_locked:before {
  content: "\eb8b";
}
.icon-phone_missed:before {
  content: "\eb8c";
}
.icon-phone_paused:before {
  content: "\eb8d";
}
.icon-sim_card_alert:before {
  content: "\eb8e";
}
.icon-sms_failed:before {
  content: "\eb8f";
}
.icon-sync_disabled:before {
  content: "\eb90";
}
.icon-sync_problem:before {
  content: "\eb91";
}
.icon-system_update:before {
  content: "\eb92";
}
.icon-tap_and_play:before {
  content: "\eb93";
}
.icon-vibration:before {
  content: "\eb94";
}
.icon-voice_chat:before {
  content: "\eb95";
}
.icon-vpn_lock:before {
  content: "\eb96";
}
.icon-airline_seat_flat:before {
  content: "\eb97";
}
.icon-airline_seat_flat_angled:before {
  content: "\eb98";
}
.icon-airline_seat_individual_suite:before {
  content: "\eb99";
}
.icon-airline_seat_legroom_extra:before {
  content: "\eb9a";
}
.icon-airline_seat_legroom_normal:before {
  content: "\eb9b";
}
.icon-airline_seat_legroom_reduced:before {
  content: "\eb9c";
}
.icon-airline_seat_recline_extra:before {
  content: "\eb9d";
}
.icon-airline_seat_recline_normal:before {
  content: "\eb9e";
}
.icon-confirmation_number:before {
  content: "\eb9f";
}
.icon-live_tv:before {
  content: "\eba0";
}
.icon-ondemand_video:before {
  content: "\eba1";
}
.icon-personal_video:before {
  content: "\eba2";
}
.icon-power1:before {
  content: "\eba3";
}
.icon-wc:before {
  content: "\eba4";
}
.icon-wifi:before {
  content: "\eba5";
}
.icon-enhanced_encryption:before {
  content: "\eba6";
}
.icon-network_check:before {
  content: "\eba7";
}
.icon-no_encryption:before {
  content: "\eba8";
}
.icon-rv_hookup:before {
  content: "\eba9";
}
.icon-do_not_disturb_off:before {
  content: "\ebaa";
}
.icon-priority_high:before {
  content: "\ebab";
}
.icon-power_off:before {
  content: "\ebac";
}
.icon-tv_off:before {
  content: "\ebad";
}
.icon-wifi_off:before {
  content: "\ebae";
}
.icon-phone_callback:before {
  content: "\ebaf";
}
.icon-pie_chart:before {
  content: "\ebb0";
}
.icon-pie_chart_outlined:before {
  content: "\ebb1";
}
.icon-bubble_chart:before {
  content: "\ebb2";
}
.icon-multiline_chart:before {
  content: "\ebb3";
}
.icon-show_chart:before {
  content: "\ebb4";
}
.icon-cake:before {
  content: "\ebb5";
}
.icon-group:before {
  content: "\ebb6";
}
.icon-group_add:before {
  content: "\ebb7";
}
.icon-location_city:before {
  content: "\ebb8";
}
.icon-mood_bad:before {
  content: "\ebb9";
}
.icon-notifications:before {
  content: "\ebba";
}
.icon-notifications_none:before {
  content: "\ebbb";
}
.icon-notifications_off:before {
  content: "\ebbc";
}
.icon-notifications_active:before {
  content: "\ebbd";
}
.icon-notifications_paused:before {
  content: "\ebbe";
}
.icon-pages:before {
  content: "\ebbf";
}
.icon-party_mode:before {
  content: "\ebc0";
}
.icon-people_outline:before {
  content: "\ebc1";
}
.icon-person:before {
  content: "\ebc2";
}
.icon-person_add:before {
  content: "\ebc3";
}
.icon-person_outline:before {
  content: "\ebc4";
}
.icon-plus_one:before {
  content: "\ebc5";
}
.icon-public:before {
  content: "\ebc6";
}
.icon-school:before {
  content: "\ebc7";
}
.icon-share1:before {
  content: "\ebc8";
}
.icon-whatshot:before {
  content: "\ebc9";
}
.icon-sentiment_dissatisfied:before {
  content: "\ebca";
}
.icon-sentiment_neutral:before {
  content: "\ebcb";
}
.icon-sentiment_satisfied:before {
  content: "\ebcc";
}
.icon-sentiment_very_dissatisfied:before {
  content: "\ebcd";
}
.icon-sentiment_very_satisfied:before {
  content: "\ebce";
}
.icon-thumb_down_alt:before {
  content: "\ebcf";
}
.icon-thumb_up_alt:before {
  content: "\ebd0";
}
.icon-check_box:before {
  content: "\ebd1";
}
.icon-check_box_outline_blank:before {
  content: "\ebd2";
}
.icon-radio_button_checked:before {
  content: "\ebd3";
}
.icon-star:before {
  content: "\ebd4";
}
.icon-star_half:before {
  content: "\ebd5";
}
.icon-star_outline:before {
  content: "\ebd6";
}
.icon-3d_rotation:before {
  content: "\ebd7";
}
.icon-accessibility1:before {
  content: "\ebd8";
}
.icon-account_balance:before {
  content: "\ebd9";
}
.icon-account_balance_wallet:before {
  content: "\ebda";
}
.icon-account_box:before {
  content: "\ebdb";
}
.icon-account_circle:before {
  content: "\ebdc";
}
.icon-add_shopping_cart:before {
  content: "\ebdd";
}
.icon-alarm_off:before {
  content: "\ebde";
}
.icon-alarm_on:before {
  content: "\ebdf";
}
.icon-android1:before {
  content: "\ebe0";
}
.icon-announcement:before {
  content: "\ebe1";
}
.icon-aspect_ratio:before {
  content: "\ebe2";
}
.icon-assignment:before {
  content: "\ebe3";
}
.icon-assignment_ind:before {
  content: "\ebe4";
}
.icon-assignment_late:before {
  content: "\ebe5";
}
.icon-assignment_return:before {
  content: "\ebe6";
}
.icon-assignment_returned:before {
  content: "\ebe7";
}
.icon-assignment_turned_in:before {
  content: "\ebe8";
}
.icon-autorenew:before {
  content: "\ebe9";
}
.icon-book1:before {
  content: "\ebea";
}
.icon-bookmark1:before {
  content: "\ebeb";
}
.icon-bookmark_outline:before {
  content: "\ebec";
}
.icon-bug_report:before {
  content: "\ebed";
}
.icon-build:before {
  content: "\ebee";
}
.icon-cached:before {
  content: "\ebef";
}
.icon-change_history:before {
  content: "\ebf0";
}
.icon-check_circle:before {
  content: "\ebf1";
}
.icon-chrome_reader_mode:before {
  content: "\ebf2";
}
.icon-code:before {
  content: "\ebf3";
}
.icon-credit_card:before {
  content: "\ebf4";
}
.icon-dashboard:before {
  content: "\ebf5";
}
.icon-delete:before {
  content: "\ebf6";
}
.icon-description:before {
  content: "\ebf7";
}
.icon-dns:before {
  content: "\ebf8";
}
.icon-done:before {
  content: "\ebf9";
}
.icon-done_all:before {
  content: "\ebfa";
}
.icon-exit_to_app:before {
  content: "\ebfb";
}
.icon-explore:before {
  content: "\ebfc";
}
.icon-extension:before {
  content: "\ebfd";
}
.icon-face:before {
  content: "\ebfe";
}
.icon-favorite:before {
  content: "\ebff";
}
.icon-favorite_outline:before {
  content: "\ec00";
}
.icon-find_in_page:before {
  content: "\ec01";
}
.icon-find_replace:before {
  content: "\ec02";
}
.icon-flip_to_back:before {
  content: "\ec03";
}
.icon-flip_to_front:before {
  content: "\ec04";
}
.icon-group_work:before {
  content: "\ec05";
}
.icon-help:before {
  content: "\ec06";
}
.icon-highlight_remove:before {
  content: "\ec07";
}
.icon-history1:before {
  content: "\ec08";
}
.icon-home1:before {
  content: "\ec09";
}
.icon-hourglass_empty:before {
  content: "\ec0a";
}
.icon-hourglass_full:before {
  content: "\ec0b";
}
.icon-https:before {
  content: "\ec0c";
}
.icon-info1:before {
  content: "\ec0d";
}
.icon-info_outline:before {
  content: "\ec0e";
}
.icon-input:before {
  content: "\ec0f";
}
.icon-invert_colors_on:before {
  content: "\ec10";
}
.icon-label:before {
  content: "\ec11";
}
.icon-label_outline:before {
  content: "\ec12";
}
.icon-language:before {
  content: "\ec13";
}
.icon-launch:before {
  content: "\ec14";
}
.icon-list1:before {
  content: "\ec15";
}
.icon-lock_open:before {
  content: "\ec16";
}
.icon-lock_outline:before {
  content: "\ec17";
}
.icon-loyalty:before {
  content: "\ec18";
}
.icon-markunread_mailbox:before {
  content: "\ec19";
}
.icon-note_add:before {
  content: "\ec1a";
}
.icon-open_in_browser:before {
  content: "\ec1b";
}
.icon-open_with:before {
  content: "\ec1c";
}
.icon-pageview:before {
  content: "\ec1d";
}
.icon-perm_camera_mic:before {
  content: "\ec1e";
}
.icon-perm_contact_calendar:before {
  content: "\ec1f";
}
.icon-perm_data_setting:before {
  content: "\ec20";
}
.icon-perm_device_information:before {
  content: "\ec21";
}
.icon-perm_media:before {
  content: "\ec22";
}
.icon-perm_phone_msg:before {
  content: "\ec23";
}
.icon-perm_scan_wifi:before {
  content: "\ec24";
}
.icon-picture_in_picture:before {
  content: "\ec25";
}
.icon-polymer:before {
  content: "\ec26";
}
.icon-power_settings_new:before {
  content: "\ec27";
}
.icon-receipt:before {
  content: "\ec28";
}
.icon-redeem:before {
  content: "\ec29";
}
.icon-search1:before {
  content: "\ec2a";
}
.icon-settings:before {
  content: "\ec2b";
}
.icon-settings_applications:before {
  content: "\ec2c";
}
.icon-settings_backup_restore:before {
  content: "\ec2d";
}
.icon-settings_bluetooth:before {
  content: "\ec2e";
}
.icon-settings_cell:before {
  content: "\ec2f";
}
.icon-settings_brightness:before {
  content: "\ec30";
}
.icon-settings_ethernet:before {
  content: "\ec31";
}
.icon-settings_input_antenna:before {
  content: "\ec32";
}
.icon-settings_input_component:before {
  content: "\ec33";
}
.icon-settings_input_hdmi:before {
  content: "\ec34";
}
.icon-settings_input_svideo:before {
  content: "\ec35";
}
.icon-settings_overscan:before {
  content: "\ec36";
}
.icon-settings_phone:before {
  content: "\ec37";
}
.icon-settings_power:before {
  content: "\ec38";
}
.icon-settings_remote:before {
  content: "\ec39";
}
.icon-settings_voice:before {
  content: "\ec3a";
}
.icon-shop:before {
  content: "\ec3b";
}
.icon-shop_two:before {
  content: "\ec3c";
}
.icon-shopping_basket:before {
  content: "\ec3d";
}
.icon-speaker_notes:before {
  content: "\ec3e";
}
.icon-spellcheck:before {
  content: "\ec3f";
}
.icon-stars:before {
  content: "\ec40";
}
.icon-subject:before {
  content: "\ec41";
}
.icon-supervisor_account:before {
  content: "\ec42";
}
.icon-swap_horiz:before {
  content: "\ec43";
}
.icon-swap_vert:before {
  content: "\ec44";
}
.icon-swap_vertical_circle:before {
  content: "\ec45";
}
.icon-system_update_alt:before {
  content: "\ec46";
}
.icon-tab1:before {
  content: "\ec47";
}
.icon-tab_unselected:before {
  content: "\ec48";
}
.icon-thumb_down:before {
  content: "\ec49";
}
.icon-thumb_up:before {
  content: "\ec4a";
}
.icon-thumbs_up_down:before {
  content: "\ec4b";
}
.icon-toc:before {
  content: "\ec4c";
}
.icon-today:before {
  content: "\ec4d";
}
.icon-toll:before {
  content: "\ec4e";
}
.icon-track_changes:before {
  content: "\ec4f";
}
.icon-translate:before {
  content: "\ec50";
}
.icon-trending_down:before {
  content: "\ec51";
}
.icon-trending_neutral:before {
  content: "\ec52";
}
.icon-trending_up:before {
  content: "\ec53";
}
.icon-verified_user:before {
  content: "\ec54";
}
.icon-view_agenda:before {
  content: "\ec55";
}
.icon-view_array:before {
  content: "\ec56";
}
.icon-view_carousel:before {
  content: "\ec57";
}
.icon-view_column:before {
  content: "\ec58";
}
.icon-view_day:before {
  content: "\ec59";
}
.icon-view_headline:before {
  content: "\ec5a";
}
.icon-view_list:before {
  content: "\ec5b";
}
.icon-view_module:before {
  content: "\ec5c";
}
.icon-view_quilt:before {
  content: "\ec5d";
}
.icon-view_stream:before {
  content: "\ec5e";
}
.icon-view_week:before {
  content: "\ec5f";
}
.icon-visibility_off:before {
  content: "\ec60";
}
.icon-card_membership:before {
  content: "\ec61";
}
.icon-card_travel:before {
  content: "\ec62";
}
.icon-work:before {
  content: "\ec63";
}
.icon-youtube_searched_for:before {
  content: "\ec64";
}
.icon-eject1:before {
  content: "\ec65";
}
.icon-camera_enhance:before {
  content: "\ec66";
}
.icon-help_outline:before {
  content: "\ec67";
}
.icon-reorder:before {
  content: "\ec68";
}
.icon-zoom_in:before {
  content: "\ec69";
}
.icon-zoom_out:before {
  content: "\ec6a";
}
.icon-http:before {
  content: "\ec6b";
}
.icon-event_seat:before {
  content: "\ec6c";
}
.icon-flight_land:before {
  content: "\ec6d";
}
.icon-flight_takeoff:before {
  content: "\ec6e";
}
.icon-play_for_work:before {
  content: "\ec6f";
}
.icon-gif:before {
  content: "\ec70";
}
.icon-indeterminate_check_box:before {
  content: "\ec71";
}
.icon-offline_pin:before {
  content: "\ec72";
}
.icon-all_out:before {
  content: "\ec73";
}
.icon-copyright:before {
  content: "\ec74";
}
.icon-fingerprint:before {
  content: "\ec75";
}
.icon-gavel:before {
  content: "\ec76";
}
.icon-lightbulb_outline:before {
  content: "\ec77";
}
.icon-picture_in_picture_alt:before {
  content: "\ec78";
}
.icon-important_devices:before {
  content: "\ec79";
}
.icon-touch_app:before {
  content: "\ec7a";
}
.icon-accessible:before {
  content: "\ec7b";
}
.icon-compare_arrows:before {
  content: "\ec7c";
}
.icon-date_range:before {
  content: "\ec7d";
}
.icon-donut_large:before {
  content: "\ec7e";
}
.icon-donut_small:before {
  content: "\ec7f";
}
.icon-line_style:before {
  content: "\ec80";
}
.icon-line_weight:before {
  content: "\ec81";
}
.icon-motorcycle:before {
  content: "\ec82";
}
.icon-opacity:before {
  content: "\ec83";
}
.icon-pets:before {
  content: "\ec84";
}
.icon-pregnant_woman:before {
  content: "\ec85";
}
.icon-record_voice_over:before {
  content: "\ec86";
}
.icon-rounded_corner:before {
  content: "\ec87";
}
.icon-rowing:before {
  content: "\ec88";
}
.icon-timeline:before {
  content: "\ec89";
}
.icon-update:before {
  content: "\ec8a";
}
.icon-watch_later:before {
  content: "\ec8b";
}
.icon-pan_tool:before {
  content: "\ec8c";
}
.icon-euro_symbol:before {
  content: "\ec8d";
}
.icon-g_translate:before {
  content: "\ec8e";
}
.icon-remove_shopping_cart:before {
  content: "\ec8f";
}
.icon-restore_page:before {
  content: "\ec90";
}
.icon-speaker_notes_off:before {
  content: "\ec91";
}
.icon-delete_forever:before {
  content: "\ec92";
}
.icon-accessibility_new:before {
  content: "\ec93";
}
.icon-check_circle_outline:before {
  content: "\ec94";
}
.icon-delete_outline:before {
  content: "\ec95";
}
.icon-done_outline:before {
  content: "\ec96";
}
.icon-maximize:before {
  content: "\ec97";
}
.icon-minimize:before {
  content: "\ec98";
}
.icon-offline_bolt:before {
  content: "\ec99";
}
.icon-swap_horizontal_circle:before {
  content: "\ec9a";
}
.icon-accessible_forward:before {
  content: "\ec9b";
}
.icon-calendar_today:before {
  content: "\ec9c";
}
.icon-calendar_view_day:before {
  content: "\ec9d";
}
.icon-label_important:before {
  content: "\ec9e";
}
.icon-restore_from_trash:before {
  content: "\ec9f";
}
.icon-supervised_user_circle:before {
  content: "\eca0";
}
.icon-text_rotate_up:before {
  content: "\eca1";
}
.icon-text_rotate_vertical:before {
  content: "\eca2";
}
.icon-text_rotation_angledown:before {
  content: "\eca3";
}
.icon-text_rotation_angleup:before {
  content: "\eca4";
}
.icon-text_rotation_down:before {
  content: "\eca5";
}
.icon-text_rotation_none:before {
  content: "\eca6";
}
.icon-commute:before {
  content: "\eca7";
}
.icon-arrow_right_alt:before {
  content: "\eca8";
}
.icon-work_off:before {
  content: "\eca9";
}
.icon-work_outline:before {
  content: "\ecaa";
}
.icon-drag_indicator:before {
  content: "\ecab";
}
.icon-horizontal_split:before {
  content: "\ecac";
}
.icon-label_important_outline:before {
  content: "\ecad";
}
.icon-vertical_split:before {
  content: "\ecae";
}
.icon-voice_over_off:before {
  content: "\ecaf";
}
.icon-segment:before {
  content: "\ecb0";
}
.icon-contact_support:before {
  content: "\ecb1";
}
.icon-compress:before {
  content: "\ecb2";
}
.icon-filter_list_alt:before {
  content: "\ecb3";
}
.icon-expand:before {
  content: "\ecb4";
}
.icon-edit_off:before {
  content: "\ecb5";
}
.icon-10k:before {
  content: "\ecb6";
}
.icon-10mp:before {
  content: "\ecb7";
}
.icon-11mp:before {
  content: "\ecb8";
}
.icon-12mp:before {
  content: "\ecb9";
}
.icon-13mp:before {
  content: "\ecba";
}
.icon-14mp:before {
  content: "\ecbb";
}
.icon-15mp:before {
  content: "\ecbc";
}
.icon-16mp:before {
  content: "\ecbd";
}
.icon-17mp:before {
  content: "\ecbe";
}
.icon-18mp:before {
  content: "\ecbf";
}
.icon-19mp:before {
  content: "\ecc0";
}
.icon-1k:before {
  content: "\ecc1";
}
.icon-1k_plus:before {
  content: "\ecc2";
}
.icon-20mp:before {
  content: "\ecc3";
}
.icon-21mp:before {
  content: "\ecc4";
}
.icon-22mp:before {
  content: "\ecc5";
}
.icon-23mp:before {
  content: "\ecc6";
}
.icon-24mp:before {
  content: "\ecc7";
}
.icon-2k:before {
  content: "\ecc8";
}
.icon-2k_plus:before {
  content: "\ecc9";
}
.icon-2mp:before {
  content: "\ecca";
}
.icon-3k:before {
  content: "\eccb";
}
.icon-3k_plus:before {
  content: "\eccc";
}
.icon-3mp:before {
  content: "\eccd";
}
.icon-4k_plus:before {
  content: "\ecce";
}
.icon-4mp:before {
  content: "\eccf";
}
.icon-5k:before {
  content: "\ecd0";
}
.icon-5k_plus:before {
  content: "\ecd1";
}
.icon-5mp:before {
  content: "\ecd2";
}
.icon-6k:before {
  content: "\ecd3";
}
.icon-6k_plus:before {
  content: "\ecd4";
}
.icon-6mp:before {
  content: "\ecd5";
}
.icon-7k:before {
  content: "\ecd6";
}
.icon-7k_plus:before {
  content: "\ecd7";
}
.icon-7mp:before {
  content: "\ecd8";
}
.icon-8k:before {
  content: "\ecd9";
}
.icon-8k_plus:before {
  content: "\ecda";
}
.icon-8mp:before {
  content: "\ecdb";
}
.icon-9k:before {
  content: "\ecdc";
}
.icon-9k_plus:before {
  content: "\ecdd";
}
.icon-9mp:before {
  content: "\ecde";
}
.icon-account_tree:before {
  content: "\ecdf";
}
.icon-add_chart:before {
  content: "\ece0";
}
.icon-add_ic_call:before {
  content: "\ece1";
}
.icon-add_moderator:before {
  content: "\ece2";
}
.icon-all_inbox:before {
  content: "\ece3";
}
.icon-approval:before {
  content: "\ece4";
}
.icon-assistant_direction:before {
  content: "\ece5";
}
.icon-assistant_navigation:before {
  content: "\ece6";
}
.icon-bookmarks1:before {
  content: "\ece7";
}
.icon-bus_alert:before {
  content: "\ece8";
}
.icon-cases:before {
  content: "\ece9";
}
.icon-circle_notifications:before {
  content: "\ecea";
}
.icon-closed_caption_off:before {
  content: "\eceb";
}
.icon-connected_tv:before {
  content: "\ecec";
}
.icon-dangerous:before {
  content: "\eced";
}
.icon-dashboard_customize:before {
  content: "\ecee";
}
.icon-desktop_access_disabled:before {
  content: "\ecef";
}
.icon-drive_file_move_outline:before {
  content: "\ecf0";
}
.icon-drive_file_rename_outline:before {
  content: "\ecf1";
}
.icon-drive_folder_upload:before {
  content: "\ecf2";
}
.icon-duo:before {
  content: "\ecf3";
}
.icon-explore_off:before {
  content: "\ecf4";
}
.icon-file_download_done:before {
  content: "\ecf5";
}
.icon-rtt:before {
  content: "\ecf6";
}
.icon-grid_view:before {
  content: "\ecf7";
}
.icon-hail:before {
  content: "\ecf8";
}
.icon-home_filled:before {
  content: "\ecf9";
}
.icon-imagesearch_roller:before {
  content: "\ecfa";
}
.icon-label_off:before {
  content: "\ecfb";
}
.icon-library_add_check:before {
  content: "\ecfc";
}
.icon-logout1:before {
  content: "\ecfd";
}
.icon-margin:before {
  content: "\ecfe";
}
.icon-mark_as_unread:before {
  content: "\ecff";
}
.icon-menu_open:before {
  content: "\ed00";
}
.icon-mp:before {
  content: "\ed01";
}
.icon-offline_share:before {
  content: "\ed02";
}
.icon-padding:before {
  content: "\ed03";
}
.icon-panorama_photosphere:before {
  content: "\ed04";
}
.icon-panorama_photosphere_select:before {
  content: "\ed05";
}
.icon-person_add_disabled:before {
  content: "\ed06";
}
.icon-phone_disabled:before {
  content: "\ed07";
}
.icon-phone_enabled:before {
  content: "\ed08";
}
.icon-pivot_table_chart:before {
  content: "\ed09";
}
.icon-print_disabled:before {
  content: "\ed0a";
}
.icon-railway_alert:before {
  content: "\ed0b";
}
.icon-recommend:before {
  content: "\ed0c";
}
.icon-remove_done:before {
  content: "\ed0d";
}
.icon-remove_moderator:before {
  content: "\ed0e";
}
.icon-repeat_on:before {
  content: "\ed0f";
}
.icon-repeat_one_on:before {
  content: "\ed10";
}
.icon-replay_circle_filled:before {
  content: "\ed11";
}
.icon-reset_tv:before {
  content: "\ed12";
}
.icon-sd:before {
  content: "\ed13";
}
.icon-shield1:before {
  content: "\ed14";
}
.icon-shuffle_on:before {
  content: "\ed15";
}
.icon-speed:before {
  content: "\ed16";
}
.icon-stacked_bar_chart:before {
  content: "\ed17";
}
.icon-stream:before {
  content: "\ed18";
}
.icon-swipe:before {
  content: "\ed19";
}
.icon-switch_account:before {
  content: "\ed1a";
}
.icon-tag:before {
  content: "\ed1b";
}
.icon-thumb_down_off_alt:before {
  content: "\ed1c";
}
.icon-thumb_up_off_alt:before {
  content: "\ed1d";
}
.icon-toggle_off:before {
  content: "\ed1e";
}
.icon-toggle_on:before {
  content: "\ed1f";
}
.icon-two_wheeler:before {
  content: "\ed20";
}
.icon-upload_file:before {
  content: "\ed21";
}
.icon-view_in_ar:before {
  content: "\ed22";
}
.icon-waterfall_chart:before {
  content: "\ed23";
}
.icon-wb_shade:before {
  content: "\ed24";
}
.icon-wb_twighlight:before {
  content: "\ed25";
}
.icon-home_work:before {
  content: "\ed26";
}
.icon-schedule_send:before {
  content: "\ed27";
}
.icon-bolt:before {
  content: "\ed28";
}
.icon-send_and_archive:before {
  content: "\ed29";
}
.icon-workspaces_filled:before {
  content: "\ed2a";
}
.icon-file_present:before {
  content: "\ed2b";
}
.icon-workspaces_outline:before {
  content: "\ed2c";
}
.icon-fit_screen:before {
  content: "\ed2d";
}
.icon-saved_search:before {
  content: "\ed2e";
}
.icon-storefront:before {
  content: "\ed2f";
}
.icon-amp_stories:before {
  content: "\ed30";
}
.icon-dynamic_feed:before {
  content: "\ed31";
}
.icon-euro:before {
  content: "\ed32";
}
.icon-height:before {
  content: "\ed33";
}
.icon-policy:before {
  content: "\ed34";
}
.icon-sync_alt:before {
  content: "\ed35";
}
.icon-menu_book:before {
  content: "\ed36";
}
.icon-emoji_flags:before {
  content: "\ed37";
}
.icon-emoji_food_beverage:before {
  content: "\ed38";
}
.icon-emoji_nature:before {
  content: "\ed39";
}
.icon-emoji_people:before {
  content: "\ed3a";
}
.icon-emoji_symbols:before {
  content: "\ed3b";
}
.icon-emoji_transportation:before {
  content: "\ed3c";
}
.icon-post_add:before {
  content: "\ed3d";
}
.icon-people_alt:before {
  content: "\ed3e";
}
.icon-emoji_emotions:before {
  content: "\ed3f";
}
.icon-emoji_events:before {
  content: "\ed40";
}
.icon-emoji_objects:before {
  content: "\ed41";
}
.icon-sports_basketball:before {
  content: "\ed42";
}
.icon-sports_cricket:before {
  content: "\ed43";
}
.icon-sports_esports:before {
  content: "\ed44";
}
.icon-sports_football:before {
  content: "\ed45";
}
.icon-sports_golf:before {
  content: "\ed46";
}
.icon-sports_hockey:before {
  content: "\ed47";
}
.icon-sports_mma:before {
  content: "\ed48";
}
.icon-sports_motorsports:before {
  content: "\ed49";
}
.icon-sports_rugby:before {
  content: "\ed4a";
}
.icon-sports_soccer:before {
  content: "\ed4b";
}
.icon-sports:before {
  content: "\ed4c";
}
.icon-sports_volleyball:before {
  content: "\ed4d";
}
.icon-sports_tennis:before {
  content: "\ed4e";
}
.icon-sports_handball:before {
  content: "\ed4f";
}
.icon-sports_kabaddi:before {
  content: "\ed50";
}
.icon-eco:before {
  content: "\ed51";
}
.icon-museum:before {
  content: "\ed52";
}
.icon-flip_camera_android:before {
  content: "\ed53";
}
.icon-flip_camera_ios:before {
  content: "\ed54";
}
.icon-cancel_schedule_send:before {
  content: "\ed55";
}
.icon-apartment:before {
  content: "\ed56";
}
.icon-bathtub:before {
  content: "\ed57";
}
.icon-deck:before {
  content: "\ed58";
}
.icon-fireplace:before {
  content: "\ed59";
}
.icon-house:before {
  content: "\ed5a";
}
.icon-king_bed:before {
  content: "\ed5b";
}
.icon-nights_stay:before {
  content: "\ed5c";
}
.icon-outdoor_grill:before {
  content: "\ed5d";
}
.icon-single_bed:before {
  content: "\ed5e";
}
.icon-square_foot:before {
  content: "\ed5f";
}
.icon-double_arrow:before {
  content: "\ed60";
}
.icon-sports_baseball:before {
  content: "\ed61";
}
.icon-attractions:before {
  content: "\ed62";
}
.icon-bakery_dining:before {
  content: "\ed63";
}
.icon-breakfast_dining:before {
  content: "\ed64";
}
.icon-car_rental:before {
  content: "\ed65";
}
.icon-car_repair:before {
  content: "\ed66";
}
.icon-dinner_dining:before {
  content: "\ed67";
}
.icon-dry_cleaning:before {
  content: "\ed68";
}
.icon-hardware:before {
  content: "\ed69";
}
.icon-liquor:before {
  content: "\ed6a";
}
.icon-lunch_dining:before {
  content: "\ed6b";
}
.icon-nightlife:before {
  content: "\ed6c";
}
.icon-park:before {
  content: "\ed6d";
}
.icon-ramen_dining:before {
  content: "\ed6e";
}
.icon-celebration:before {
  content: "\ed6f";
}
.icon-theater_comedy:before {
  content: "\ed70";
}
.icon-badge:before {
  content: "\ed71";
}
.icon-festival:before {
  content: "\ed72";
}
.icon-icecream:before {
  content: "\ed73";
}
.icon-volunteer_activism:before {
  content: "\ed74";
}
.icon-contactless:before {
  content: "\ed75";
}
.icon-delivery_dining:before {
  content: "\ed76";
}
.icon-brunch_dining:before {
  content: "\ed77";
}
.icon-takeout_dining:before {
  content: "\ed78";
}
.icon-ac_unit:before {
  content: "\ed79";
}
.icon-airport_shuttle:before {
  content: "\ed7a";
}
.icon-all_inclusive:before {
  content: "\ed7b";
}
.icon-beach_access:before {
  content: "\ed7c";
}
.icon-business_center:before {
  content: "\ed7d";
}
.icon-casino:before {
  content: "\ed7e";
}
.icon-child_care:before {
  content: "\ed7f";
}
.icon-child_friendly:before {
  content: "\ed80";
}
.icon-fitness_center:before {
  content: "\ed81";
}
.icon-golf_course:before {
  content: "\ed82";
}
.icon-hot_tub:before {
  content: "\ed83";
}
.icon-kitchen:before {
  content: "\ed84";
}
.icon-pool:before {
  content: "\ed85";
}
.icon-room_service:before {
  content: "\ed86";
}
.icon-smoke_free:before {
  content: "\ed87";
}
.icon-smoking_rooms:before {
  content: "\ed88";
}
.icon-spa:before {
  content: "\ed89";
}
.icon-no_meeting_room:before {
  content: "\ed8a";
}
.icon-meeting_room:before {
  content: "\ed8b";
}
.icon-goat:before {
  content: "\ed8c";
}
.icon-heart1:before {
  content: "\ed8d";
}
.icon-cloud2:before {
  content: "\ed8e";
}
.icon-star1:before {
  content: "\ed8f";
}
.icon-tv2:before {
  content: "\ed90";
}
.icon-sound:before {
  content: "\ed91";
}
.icon-video:before {
  content: "\ed92";
}
.icon-trash:before {
  content: "\ed93";
}
.icon-user2:before {
  content: "\ed94";
}
.icon-key1:before {
  content: "\ed95";
}
.icon-search2:before {
  content: "\ed96";
}
.icon-settings1:before {
  content: "\ed97";
}
.icon-camera2:before {
  content: "\ed98";
}
.icon-tag1:before {
  content: "\ed99";
}
.icon-lock1:before {
  content: "\ed9a";
}
.icon-bulb:before {
  content: "\ed9b";
}
.icon-pen1:before {
  content: "\ed9c";
}
.icon-diamond:before {
  content: "\ed9d";
}
.icon-display1:before {
  content: "\ed9e";
}
.icon-location3:before {
  content: "\ed9f";
}
.icon-eye1:before {
  content: "\eda0";
}
.icon-bubble1:before {
  content: "\eda1";
}
.icon-stack1:before {
  content: "\eda2";
}
.icon-cup:before {
  content: "\eda3";
}
.icon-phone2:before {
  content: "\eda4";
}
.icon-news:before {
  content: "\eda5";
}
.icon-mail1:before {
  content: "\eda6";
}
.icon-like:before {
  content: "\eda7";
}
.icon-photo:before {
  content: "\eda8";
}
.icon-note1:before {
  content: "\eda9";
}
.icon-clock3:before {
  content: "\edaa";
}
.icon-paperplane:before {
  content: "\edab";
}
.icon-params:before {
  content: "\edac";
}
.icon-banknote:before {
  content: "\edad";
}
.icon-data:before {
  content: "\edae";
}
.icon-music1:before {
  content: "\edaf";
}
.icon-megaphone:before {
  content: "\edb0";
}
.icon-study:before {
  content: "\edb1";
}
.icon-lab1:before {
  content: "\edb2";
}
.icon-food:before {
  content: "\edb3";
}
.icon-t-shirt:before {
  content: "\edb4";
}
.icon-fire1:before {
  content: "\edb5";
}
.icon-clip:before {
  content: "\edb6";
}
.icon-shop1:before {
  content: "\edb7";
}
.icon-calendar2:before {
  content: "\edb8";
}
.icon-wallet:before {
  content: "\edb9";
}
.icon-vynil:before {
  content: "\edba";
}
.icon-truck1:before {
  content: "\edbb";
}
.icon-world:before {
  content: "\edbc";
}
.icon-home:before {
  content: "\edbd";
}
.icon-home2:before {
  content: "\edbe";
}
.icon-home3:before {
  content: "\edbf";
}
.icon-office:before {
  content: "\edc0";
}
.icon-newspaper:before {
  content: "\edc1";
}
.icon-pencil:before {
  content: "\edc2";
}
.icon-pencil2:before {
  content: "\edc3";
}
.icon-quill:before {
  content: "\edc4";
}
.icon-pen:before {
  content: "\edc5";
}
.icon-blog:before {
  content: "\edc6";
}
.icon-eyedropper:before {
  content: "\edc7";
}
.icon-droplet:before {
  content: "\edc8";
}
.icon-paint-format:before {
  content: "\edc9";
}
.icon-image:before {
  content: "\edca";
}
.icon-images:before {
  content: "\edcb";
}
.icon-camera:before {
  content: "\edcc";
}
.icon-headphones:before {
  content: "\edcd";
}
.icon-music:before {
  content: "\edce";
}
.icon-play:before {
  content: "\edcf";
}
.icon-film:before {
  content: "\edd0";
}
.icon-video-camera:before {
  content: "\edd1";
}
.icon-dice:before {
  content: "\edd2";
}
.icon-pacman:before {
  content: "\edd3";
}
.icon-spades:before {
  content: "\edd4";
}
.icon-clubs:before {
  content: "\edd5";
}
.icon-diamonds:before {
  content: "\edd6";
}
.icon-bullhorn:before {
  content: "\edd7";
}
.icon-connection:before {
  content: "\edd8";
}
.icon-podcast:before {
  content: "\edd9";
}
.icon-feed:before {
  content: "\edda";
}
.icon-mic:before {
  content: "\eddb";
}
.icon-book:before {
  content: "\eddc";
}
.icon-books:before {
  content: "\eddd";
}
.icon-library:before {
  content: "\edde";
}
.icon-file-text:before {
  content: "\eddf";
}
.icon-profile:before {
  content: "\ede0";
}
.icon-file-empty:before {
  content: "\ede1";
}
.icon-files-empty:before {
  content: "\ede2";
}
.icon-file-text2:before {
  content: "\ede3";
}
.icon-file-picture:before {
  content: "\ede4";
}
.icon-file-music:before {
  content: "\ede5";
}
.icon-file-play:before {
  content: "\ede6";
}
.icon-file-video:before {
  content: "\ede7";
}
.icon-file-zip:before {
  content: "\ede8";
}
.icon-copy:before {
  content: "\ede9";
}
.icon-paste:before {
  content: "\edea";
}
.icon-stack:before {
  content: "\edeb";
}
.icon-folder:before {
  content: "\edec";
}
.icon-folder-open:before {
  content: "\eded";
}
.icon-folder-plus:before {
  content: "\edee";
}
.icon-folder-minus:before {
  content: "\edef";
}
.icon-folder-download:before {
  content: "\edf0";
}
.icon-folder-upload:before {
  content: "\edf1";
}
.icon-price-tag:before {
  content: "\edf2";
}
.icon-price-tags:before {
  content: "\edf3";
}
.icon-barcode:before {
  content: "\edf4";
}
.icon-qrcode:before {
  content: "\edf5";
}
.icon-ticket:before {
  content: "\edf6";
}
.icon-cart:before {
  content: "\edf7";
}
.icon-coin-dollar:before {
  content: "\edf8";
}
.icon-coin-euro:before {
  content: "\edf9";
}
.icon-coin-pound:before {
  content: "\edfa";
}
.icon-coin-yen:before {
  content: "\edfb";
}
.icon-credit-card:before {
  content: "\edfc";
}
.icon-calculator:before {
  content: "\edfd";
}
.icon-lifebuoy:before {
  content: "\edfe";
}
.icon-phone:before {
  content: "\edff";
}
.icon-phone-hang-up:before {
  content: "\ee00";
}
.icon-address-book:before {
  content: "\ee01";
}
.icon-envelop:before {
  content: "\ee02";
}
.icon-pushpin:before {
  content: "\ee03";
}
.icon-location1:before {
  content: "\ee04";
}
.icon-location2:before {
  content: "\ee05";
}
.icon-compass:before {
  content: "\ee06";
}
.icon-compass2:before {
  content: "\ee07";
}
.icon-map:before {
  content: "\ee08";
}
.icon-map2:before {
  content: "\ee09";
}
.icon-history:before {
  content: "\ee0a";
}
.icon-clock1:before {
  content: "\ee0b";
}
.icon-clock2:before {
  content: "\ee0c";
}
.icon-alarm:before {
  content: "\ee0d";
}
.icon-bell:before {
  content: "\ee0e";
}
.icon-stopwatch:before {
  content: "\ee0f";
}
.icon-calendar1:before {
  content: "\ee10";
}
.icon-printer:before {
  content: "\ee11";
}
.icon-keyboard:before {
  content: "\ee12";
}
.icon-display:before {
  content: "\ee13";
}
.icon-laptop:before {
  content: "\ee14";
}
.icon-mobile:before {
  content: "\ee15";
}
.icon-mobile2:before {
  content: "\ee16";
}
.icon-tablet:before {
  content: "\ee17";
}
.icon-tv:before {
  content: "\ee18";
}
.icon-drawer:before {
  content: "\ee19";
}
.icon-drawer2:before {
  content: "\ee1a";
}
.icon-box-add:before {
  content: "\ee1b";
}
.icon-box-remove:before {
  content: "\ee1c";
}
.icon-download:before {
  content: "\ee1d";
}
.icon-upload:before {
  content: "\ee1e";
}
.icon-floppy-disk:before {
  content: "\ee1f";
}
.icon-drive:before {
  content: "\ee20";
}
.icon-database:before {
  content: "\ee21";
}
.icon-undo:before {
  content: "\ee22";
}
.icon-redo:before {
  content: "\ee23";
}
.icon-undo2:before {
  content: "\ee24";
}
.icon-redo2:before {
  content: "\ee25";
}
.icon-forward:before {
  content: "\ee26";
}
.icon-reply:before {
  content: "\ee27";
}
.icon-bubble:before {
  content: "\ee28";
}
.icon-bubbles:before {
  content: "\ee29";
}
.icon-bubbles2:before {
  content: "\ee2a";
}
.icon-bubble2:before {
  content: "\ee2b";
}
.icon-bubbles3:before {
  content: "\ee2c";
}
.icon-bubbles4:before {
  content: "\ee2d";
}
.icon-user1:before {
  content: "\ee2e";
}
.icon-users:before {
  content: "\ee2f";
}
.icon-user-plus:before {
  content: "\ee30";
}
.icon-user-minus:before {
  content: "\ee31";
}
.icon-user-check:before {
  content: "\ee32";
}
.icon-user-tie:before {
  content: "\ee33";
}
.icon-quotes-left:before {
  content: "\ee34";
}
.icon-quotes-right:before {
  content: "\ee35";
}
.icon-hour-glass:before {
  content: "\ee36";
}
.icon-spinner:before {
  content: "\ee37";
}
.icon-spinner2:before {
  content: "\ee38";
}
.icon-spinner3:before {
  content: "\ee39";
}
.icon-spinner4:before {
  content: "\ee3a";
}
.icon-spinner5:before {
  content: "\ee3b";
}
.icon-spinner6:before {
  content: "\ee3c";
}
.icon-spinner7:before {
  content: "\ee3d";
}
.icon-spinner8:before {
  content: "\ee3e";
}
.icon-spinner9:before {
  content: "\ee3f";
}
.icon-spinner10:before {
  content: "\ee40";
}
.icon-spinner11:before {
  content: "\ee41";
}
.icon-binoculars:before {
  content: "\ee42";
}
.icon-search:before {
  content: "\ee43";
}
.icon-zoom-in:before {
  content: "\ee44";
}
.icon-zoom-out:before {
  content: "\ee45";
}
.icon-enlarge:before {
  content: "\ee46";
}
.icon-shrink:before {
  content: "\ee47";
}
.icon-enlarge2:before {
  content: "\ee48";
}
.icon-shrink2:before {
  content: "\ee49";
}
.icon-key:before {
  content: "\ee4a";
}
.icon-key2:before {
  content: "\ee4b";
}
.icon-lock:before {
  content: "\ee4c";
}
.icon-unlocked:before {
  content: "\ee4d";
}
.icon-wrench:before {
  content: "\ee4e";
}
.icon-equalizer:before {
  content: "\ee4f";
}
.icon-equalizer2:before {
  content: "\ee50";
}
.icon-cog:before {
  content: "\ee51";
}
.icon-cogs:before {
  content: "\ee52";
}
.icon-hammer:before {
  content: "\ee53";
}
.icon-magic-wand:before {
  content: "\ee54";
}
.icon-aid-kit:before {
  content: "\ee55";
}
.icon-bug:before {
  content: "\ee56";
}
.icon-pie-chart:before {
  content: "\ee57";
}
.icon-stats-dots:before {
  content: "\ee58";
}
.icon-stats-bars:before {
  content: "\ee59";
}
.icon-stats-bars2:before {
  content: "\ee5a";
}
.icon-trophy:before {
  content: "\ee5b";
}
.icon-gift:before {
  content: "\ee5c";
}
.icon-glass:before {
  content: "\ee5d";
}
.icon-glass2:before {
  content: "\ee5e";
}
.icon-mug:before {
  content: "\ee5f";
}
.icon-spoon-knife:before {
  content: "\ee60";
}
.icon-leaf:before {
  content: "\ee61";
}
.icon-rocket:before {
  content: "\ee62";
}
.icon-meter:before {
  content: "\ee63";
}
.icon-meter2:before {
  content: "\ee64";
}
.icon-hammer2:before {
  content: "\ee65";
}
.icon-fire:before {
  content: "\ee66";
}
.icon-lab:before {
  content: "\ee67";
}
.icon-magnet:before {
  content: "\ee68";
}
.icon-bin:before {
  content: "\ee69";
}
.icon-bin2:before {
  content: "\ee6a";
}
.icon-briefcase:before {
  content: "\ee6b";
}
.icon-airplane:before {
  content: "\ee6c";
}
.icon-truck:before {
  content: "\ee6d";
}
.icon-road:before {
  content: "\ee6e";
}
.icon-accessibility:before {
  content: "\ee6f";
}
.icon-target:before {
  content: "\ee70";
}
.icon-shield:before {
  content: "\ee71";
}
.icon-power:before {
  content: "\ee72";
}
.icon-switch:before {
  content: "\ee73";
}
.icon-power-cord:before {
  content: "\ee74";
}
.icon-clipboard:before {
  content: "\ee75";
}
.icon-list-numbered:before {
  content: "\ee76";
}
.icon-list:before {
  content: "\ee77";
}
.icon-list2:before {
  content: "\ee78";
}
.icon-tree:before {
  content: "\ee79";
}
.icon-menu:before {
  content: "\ee7a";
}
.icon-menu2:before {
  content: "\ee7b";
}
.icon-menu3:before {
  content: "\ee7c";
}
.icon-menu4:before {
  content: "\ee7d";
}
.icon-cloud:before {
  content: "\ee7e";
}
.icon-cloud-download:before {
  content: "\ee7f";
}
.icon-cloud-upload:before {
  content: "\ee80";
}
.icon-cloud-check:before {
  content: "\ee81";
}
.icon-download2:before {
  content: "\ee82";
}
.icon-upload2:before {
  content: "\ee83";
}
.icon-download3:before {
  content: "\ee84";
}
.icon-upload3:before {
  content: "\ee85";
}
.icon-sphere:before {
  content: "\ee86";
}
.icon-earth:before {
  content: "\ee87";
}
.icon-link:before {
  content: "\ee88";
}
.icon-flag:before {
  content: "\ee89";
}
.icon-attachment:before {
  content: "\ee8a";
}
.icon-eye:before {
  content: "\ee8b";
}
.icon-eye-plus:before {
  content: "\ee8c";
}
.icon-eye-minus:before {
  content: "\ee8d";
}
.icon-eye-blocked:before {
  content: "\ee8e";
}
.icon-bookmark:before {
  content: "\ee8f";
}
.icon-bookmarks:before {
  content: "\ee90";
}
.icon-sun:before {
  content: "\ee91";
}
.icon-contrast:before {
  content: "\ee92";
}
.icon-brightness-contrast:before {
  content: "\ee93";
}
.icon-star-empty:before {
  content: "\ee94";
}
.icon-star-half:before {
  content: "\ee95";
}
.icon-star-full:before {
  content: "\ee96";
}
.icon-heart:before {
  content: "\ee97";
}
.icon-heart-broken:before {
  content: "\ee98";
}
.icon-man:before {
  content: "\ee99";
}
.icon-woman:before {
  content: "\ee9a";
}
.icon-man-woman:before {
  content: "\ee9b";
}
.icon-happy:before {
  content: "\ee9c";
}
.icon-happy2:before {
  content: "\ee9d";
}
.icon-smile:before {
  content: "\ee9e";
}
.icon-smile2:before {
  content: "\ee9f";
}
.icon-tongue:before {
  content: "\eea0";
}
.icon-tongue2:before {
  content: "\eea1";
}
.icon-sad:before {
  content: "\eea2";
}
.icon-sad2:before {
  content: "\eea3";
}
.icon-wink:before {
  content: "\eea4";
}
.icon-wink2:before {
  content: "\eea5";
}
.icon-grin:before {
  content: "\eea6";
}
.icon-grin2:before {
  content: "\eea7";
}
.icon-cool:before {
  content: "\eea8";
}
.icon-cool2:before {
  content: "\eea9";
}
.icon-angry:before {
  content: "\eeaa";
}
.icon-angry2:before {
  content: "\eeab";
}
.icon-evil:before {
  content: "\eeac";
}
.icon-evil2:before {
  content: "\eead";
}
.icon-shocked:before {
  content: "\eeae";
}
.icon-shocked2:before {
  content: "\eeaf";
}
.icon-baffled:before {
  content: "\eeb0";
}
.icon-baffled2:before {
  content: "\eeb1";
}
.icon-confused:before {
  content: "\eeb2";
}
.icon-confused2:before {
  content: "\eeb3";
}
.icon-neutral:before {
  content: "\eeb4";
}
.icon-neutral2:before {
  content: "\eeb5";
}
.icon-hipster:before {
  content: "\eeb6";
}
.icon-hipster2:before {
  content: "\eeb7";
}
.icon-wondering:before {
  content: "\eeb8";
}
.icon-wondering2:before {
  content: "\eeb9";
}
.icon-sleepy:before {
  content: "\eeba";
}
.icon-sleepy2:before {
  content: "\eebb";
}
.icon-frustrated:before {
  content: "\eebc";
}
.icon-frustrated2:before {
  content: "\eebd";
}
.icon-crying:before {
  content: "\eebe";
}
.icon-crying2:before {
  content: "\eebf";
}
.icon-point-up:before {
  content: "\eec0";
}
.icon-point-right:before {
  content: "\eec1";
}
.icon-point-down:before {
  content: "\eec2";
}
.icon-point-left:before {
  content: "\eec3";
}
.icon-warning:before {
  content: "\eec4";
}
.icon-notification:before {
  content: "\eec5";
}
.icon-question:before {
  content: "\eec6";
}
.icon-plus:before {
  content: "\eec7";
}
.icon-minus:before {
  content: "\eec8";
}
.icon-info:before {
  content: "\eec9";
}
.icon-cancel-circle:before {
  content: "\eeca";
}
.icon-blocked:before {
  content: "\eecb";
}
.icon-cross:before {
  content: "\eecc";
}
.icon-checkmark:before {
  content: "\eecd";
}
.icon-checkmark2:before {
  content: "\eece";
}
.icon-spell-check:before {
  content: "\eecf";
}
.icon-enter:before {
  content: "\eed0";
}
.icon-exit:before {
  content: "\eed1";
}
.icon-play2:before {
  content: "\eed2";
}
.icon-pause:before {
  content: "\eed3";
}
.icon-stop:before {
  content: "\eed4";
}
.icon-previous:before {
  content: "\eed5";
}
.icon-next:before {
  content: "\eed6";
}
.icon-backward:before {
  content: "\eed7";
}
.icon-forward2:before {
  content: "\eed8";
}
.icon-play3:before {
  content: "\eed9";
}
.icon-pause2:before {
  content: "\eeda";
}
.icon-stop2:before {
  content: "\eedb";
}
.icon-backward2:before {
  content: "\eedc";
}
.icon-forward3:before {
  content: "\eedd";
}
.icon-first:before {
  content: "\eede";
}
.icon-last:before {
  content: "\eedf";
}
.icon-previous2:before {
  content: "\eee0";
}
.icon-next2:before {
  content: "\eee1";
}
.icon-eject:before {
  content: "\eee2";
}
.icon-volume-high:before {
  content: "\eee3";
}
.icon-volume-medium:before {
  content: "\eee4";
}
.icon-volume-low:before {
  content: "\eee5";
}
.icon-volume-mute:before {
  content: "\eee6";
}
.icon-volume-mute2:before {
  content: "\eee7";
}
.icon-volume-increase:before {
  content: "\eee8";
}
.icon-volume-decrease:before {
  content: "\eee9";
}
.icon-loop:before {
  content: "\eeea";
}
.icon-loop2:before {
  content: "\eeeb";
}
.icon-infinite:before {
  content: "\eeec";
}
.icon-shuffle:before {
  content: "\eeed";
}
.icon-arrow-up-left:before {
  content: "\eeee";
}
.icon-arrow-up:before {
  content: "\eeef";
}
.icon-arrow-up-right:before {
  content: "\eef0";
}
.icon-arrow-right:before {
  content: "\eef1";
}
.icon-arrow-down-right:before {
  content: "\eef2";
}
.icon-arrow-down:before {
  content: "\eef3";
}
.icon-arrow-down-left:before {
  content: "\eef4";
}
.icon-arrow-left:before {
  content: "\eef5";
}
.icon-arrow-up-left2:before {
  content: "\eef6";
}
.icon-arrow-up2:before {
  content: "\eef7";
}
.icon-arrow-up-right2:before {
  content: "\eef8";
}
.icon-arrow-right2:before {
  content: "\eef9";
}
.icon-arrow-down-right2:before {
  content: "\eefa";
}
.icon-arrow-down2:before {
  content: "\eefb";
}
.icon-arrow-down-left2:before {
  content: "\eefc";
}
.icon-arrow-left2:before {
  content: "\eefd";
}
.icon-circle-up:before {
  content: "\eefe";
}
.icon-circle-right:before {
  content: "\eeff";
}
.icon-circle-down:before {
  content: "\ef00";
}
.icon-circle-left:before {
  content: "\ef01";
}
.icon-tab:before {
  content: "\ef02";
}
.icon-move-up:before {
  content: "\ef03";
}
.icon-move-down:before {
  content: "\ef04";
}
.icon-sort-alpha-asc:before {
  content: "\ef05";
}
.icon-sort-alpha-desc:before {
  content: "\ef06";
}
.icon-sort-numeric-asc:before {
  content: "\ef07";
}
.icon-sort-numberic-desc:before {
  content: "\ef08";
}
.icon-sort-amount-asc:before {
  content: "\ef09";
}
.icon-sort-amount-desc:before {
  content: "\ef0a";
}
.icon-command:before {
  content: "\ef0b";
}
.icon-shift:before {
  content: "\ef0c";
}
.icon-ctrl:before {
  content: "\ef0d";
}
.icon-opt:before {
  content: "\ef0e";
}
.icon-checkbox-checked:before {
  content: "\ef0f";
}
.icon-checkbox-unchecked:before {
  content: "\ef10";
}
.icon-radio-checked:before {
  content: "\ef11";
}
.icon-radio-checked2:before {
  content: "\ef12";
}
.icon-radio-unchecked:before {
  content: "\ef13";
}
.icon-crop:before {
  content: "\ef14";
}
.icon-make-group:before {
  content: "\ef15";
}
.icon-ungroup:before {
  content: "\ef16";
}
.icon-scissors:before {
  content: "\ef17";
}
.icon-filter:before {
  content: "\ef18";
}
.icon-font:before {
  content: "\ef19";
}
.icon-ligature:before {
  content: "\ef1a";
}
.icon-ligature2:before {
  content: "\ef1b";
}
.icon-text-height:before {
  content: "\ef1c";
}
.icon-text-width:before {
  content: "\ef1d";
}
.icon-font-size:before {
  content: "\ef1e";
}
.icon-bold:before {
  content: "\ef1f";
}
.icon-underline:before {
  content: "\ef20";
}
.icon-italic:before {
  content: "\ef21";
}
.icon-strikethrough:before {
  content: "\ef22";
}
.icon-omega:before {
  content: "\ef23";
}
.icon-sigma:before {
  content: "\ef24";
}
.icon-page-break:before {
  content: "\ef25";
}
.icon-superscript:before {
  content: "\ef26";
}
.icon-subscript:before {
  content: "\ef27";
}
.icon-superscript2:before {
  content: "\ef28";
}
.icon-subscript2:before {
  content: "\ef29";
}
.icon-text-color:before {
  content: "\ef2a";
}
.icon-pagebreak:before {
  content: "\ef2b";
}
.icon-clear-formatting:before {
  content: "\ef2c";
}
.icon-table:before {
  content: "\ef2d";
}
.icon-table2:before {
  content: "\ef2e";
}
.icon-insert-template:before {
  content: "\ef2f";
}
.icon-pilcrow:before {
  content: "\ef30";
}
.icon-ltr:before {
  content: "\ef31";
}
.icon-rtl:before {
  content: "\ef32";
}
.icon-section:before {
  content: "\ef33";
}
.icon-paragraph-left:before {
  content: "\ef34";
}
.icon-paragraph-center:before {
  content: "\ef35";
}
.icon-paragraph-right:before {
  content: "\ef36";
}
.icon-paragraph-justify:before {
  content: "\ef37";
}
.icon-indent-increase:before {
  content: "\ef38";
}
.icon-indent-decrease:before {
  content: "\ef39";
}
.icon-share:before {
  content: "\ef3a";
}
.icon-new-tab:before {
  content: "\ef3b";
}
.icon-embed:before {
  content: "\ef3c";
}
.icon-embed2:before {
  content: "\ef3d";
}
.icon-terminal:before {
  content: "\ef3e";
}
.icon-share2:before {
  content: "\ef3f";
}
.icon-mail:before {
  content: "\ef40";
}
.icon-mail2:before {
  content: "\ef41";
}
.icon-mail3:before {
  content: "\ef42";
}
.icon-mail4:before {
  content: "\ef43";
}
.icon-amazon:before {
  content: "\ef44";
}
.icon-google:before {
  content: "\ef45";
}
.icon-google2:before {
  content: "\ef46";
}
.icon-google3:before {
  content: "\ef47";
}
.icon-google-plus:before {
  content: "\ef48";
}
.icon-google-plus2:before {
  content: "\ef49";
}
.icon-google-plus3:before {
  content: "\ef4a";
}
.icon-hangouts:before {
  content: "\ef4b";
}
.icon-google-drive:before {
  content: "\ef4c";
}
.icon-facebook:before {
  content: "\ef4d";
}
.icon-facebook2:before {
  content: "\ef4e";
}
.icon-instagram:before {
  content: "\ef4f";
}
.icon-whatsapp:before {
  content: "\ef50";
}
.icon-spotify:before {
  content: "\ef51";
}
.icon-telegram:before {
  content: "\ef52";
}
.icon-twitter:before {
  content: "\ef53";
}
.icon-vine:before {
  content: "\ef54";
}
.icon-vk:before {
  content: "\ef55";
}
.icon-renren:before {
  content: "\ef56";
}
.icon-sina-weibo:before {
  content: "\ef57";
}
.icon-rss:before {
  content: "\ef58";
}
.icon-rss2:before {
  content: "\ef59";
}
.icon-youtube:before {
  content: "\ef5a";
}
.icon-youtube2:before {
  content: "\ef5b";
}
.icon-twitch:before {
  content: "\ef5c";
}
.icon-vimeo:before {
  content: "\ef5d";
}
.icon-vimeo2:before {
  content: "\ef5e";
}
.icon-lanyrd:before {
  content: "\ef5f";
}
.icon-flickr:before {
  content: "\ef60";
}
.icon-flickr2:before {
  content: "\ef61";
}
.icon-flickr3:before {
  content: "\ef62";
}
.icon-flickr4:before {
  content: "\ef63";
}
.icon-dribbble:before {
  content: "\ef64";
}
.icon-behance:before {
  content: "\ef65";
}
.icon-behance2:before {
  content: "\ef66";
}
.icon-deviantart:before {
  content: "\ef67";
}
.icon-500px:before {
  content: "\ef68";
}
.icon-steam:before {
  content: "\ef69";
}
.icon-steam2:before {
  content: "\ef6a";
}
.icon-dropbox:before {
  content: "\ef6b";
}
.icon-onedrive:before {
  content: "\ef6c";
}
.icon-github:before {
  content: "\ef6d";
}
.icon-npm:before {
  content: "\ef6e";
}
.icon-basecamp:before {
  content: "\ef6f";
}
.icon-trello:before {
  content: "\ef70";
}
.icon-wordpress:before {
  content: "\ef71";
}
.icon-joomla:before {
  content: "\ef72";
}
.icon-ello:before {
  content: "\ef73";
}
.icon-blogger:before {
  content: "\ef74";
}
.icon-blogger2:before {
  content: "\ef75";
}
.icon-tumblr:before {
  content: "\ef76";
}
.icon-tumblr2:before {
  content: "\ef77";
}
.icon-yahoo:before {
  content: "\ef78";
}
.icon-yahoo2:before {
  content: "\ef79";
}
.icon-tux:before {
  content: "\ef7a";
}
.icon-appleinc:before {
  content: "\ef7b";
}
.icon-finder:before {
  content: "\ef7c";
}
.icon-android:before {
  content: "\ef7d";
}
.icon-windows:before {
  content: "\ef7e";
}
.icon-windows8:before {
  content: "\ef7f";
}
.icon-soundcloud:before {
  content: "\ef80";
}
.icon-soundcloud2:before {
  content: "\ef81";
}
.icon-skype:before {
  content: "\ef82";
}
.icon-reddit:before {
  content: "\ef83";
}
.icon-hackernews:before {
  content: "\ef84";
}
.icon-wikipedia:before {
  content: "\ef85";
}
.icon-linkedin:before {
  content: "\ef86";
}
.icon-linkedin2:before {
  content: "\ef87";
}
.icon-lastfm:before {
  content: "\ef88";
}
.icon-lastfm2:before {
  content: "\ef89";
}
.icon-delicious:before {
  content: "\ef8a";
}
.icon-stumbleupon:before {
  content: "\ef8b";
}
.icon-stumbleupon2:before {
  content: "\ef8c";
}
.icon-stackoverflow:before {
  content: "\ef8d";
}
.icon-pinterest:before {
  content: "\ef8e";
}
.icon-pinterest2:before {
  content: "\ef8f";
}
.icon-xing:before {
  content: "\ef90";
}
.icon-xing2:before {
  content: "\ef91";
}
.icon-flattr:before {
  content: "\ef92";
}
.icon-foursquare:before {
  content: "\ef93";
}
.icon-yelp:before {
  content: "\ef94";
}
.icon-paypal:before {
  content: "\ef95";
}
.icon-chrome:before {
  content: "\ef96";
}
.icon-firefox:before {
  content: "\ef97";
}
.icon-IE:before {
  content: "\ef98";
}
.icon-edge:before {
  content: "\ef99";
}
.icon-safari:before {
  content: "\ef9a";
}
.icon-opera:before {
  content: "\ef9b";
}
.icon-file-pdf:before {
  content: "\ef9c";
}
.icon-file-openoffice:before {
  content: "\ef9d";
}
.icon-file-word:before {
  content: "\ef9e";
}
.icon-file-excel:before {
  content: "\ef9f";
}
.icon-libreoffice:before {
  content: "\efa0";
}
.icon-html-five:before {
  content: "\efa1";
}
.icon-html-five2:before {
  content: "\efa2";
}
.icon-css3:before {
  content: "\efa3";
}
.icon-git:before {
  content: "\efa4";
}
.icon-codepen:before {
  content: "\efa5";
}
.icon-svg:before {
  content: "\efa6";
}
.icon-IcoMoon:before {
  content: "\efa7";
}
.icon-branches:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-cancel:before {
  content: "\e902";
}
.icon-check-tick:before {
  content: "\e903";
}
.icon-check-mark:before {
  content: "\e904";
}
.icon-clock-time:before {
  content: "\e905";
}
.icon-counter:before {
  content: "\e906";
}
.icon-down-arrow:before {
  content: "\e907";
}
.icon-fast-forward:before {
  content: "\e908";
}
.icon-file-text1:before {
  content: "\e909";
}
.icon-loading:before {
  content: "\e90a";
}
.icon-location:before {
  content: "\e90b";
}
.icon-logo-symbol:before {
  content: "\e90c";
}
.icon-signout:before {
  content: "\e90d";
}
.icon-menu-bars:before {
  content: "\e90e";
}
.icon-password:before {
  content: "\e90f";
}
.icon-recipt:before {
  content: "\e910";
}
.icon-reply-all:before {
  content: "\e911";
}
.icon-up-arrow:before {
  content: "\e912";
}
.icon-username:before {
  content: "\e913";
}
.icon-wall-clock:before {
  content: "\e914";
}
