@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?e1b9bs');
  src:  url('icomoon.eot?e1b9bs#iefix') format('embedded-opentype'),
    url('icomoon.ttf?e1b9bs') format('truetype'),
    url('icomoon.woff?e1b9bs') format('woff'),
    url('icomoon.svg?e1b9bs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon2-"], [class*=" icon2-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon2-error:before {
  content: "\e915";
}
.icon2-error_outline:before {
  content: "\e916";
}
.icon2-warning1:before {
  content: "\e917";
}
.icon2-add_alert:before {
  content: "\e918";
}
.icon2-notification_important:before {
  content: "\e919";
}
.icon2-album:before {
  content: "\e91a";
}
.icon2-av_timer:before {
  content: "\e91b";
}
.icon2-closed_caption:before {
  content: "\e91c";
}
.icon2-equalizer1:before {
  content: "\e91d";
}
.icon2-explicit:before {
  content: "\e91e";
}
.icon2-fast_forward:before {
  content: "\e91f";
}
.icon2-fast_rewind:before {
  content: "\e920";
}
.icon2-games:before {
  content: "\e921";
}
.icon2-hearing:before {
  content: "\e922";
}
.icon2-high_quality:before {
  content: "\e923";
}
.icon2-loop1:before {
  content: "\e924";
}
.icon2-mic1:before {
  content: "\e925";
}
.icon2-mic_none:before {
  content: "\e926";
}
.icon2-mic_off:before {
  content: "\e927";
}
.icon2-movie:before {
  content: "\e928";
}
.icon2-library_add:before {
  content: "\e929";
}
.icon2-library_books:before {
  content: "\e92a";
}
.icon2-library_music:before {
  content: "\e92b";
}
.icon2-new_releases:before {
  content: "\e92c";
}
.icon2-not_interested:before {
  content: "\e92d";
}
.icon2-pause1:before {
  content: "\e92e";
}
.icon2-pause_circle_filled:before {
  content: "\e92f";
}
.icon2-pause_circle_outline:before {
  content: "\e930";
}
.icon2-play_arrow:before {
  content: "\e931";
}
.icon2-play_circle_filled:before {
  content: "\e932";
}
.icon2-play_circle_outline:before {
  content: "\e933";
}
.icon2-playlist_add:before {
  content: "\e934";
}
.icon2-queue_music:before {
  content: "\e935";
}
.icon2-radio:before {
  content: "\e936";
}
.icon2-recent_actors:before {
  content: "\e937";
}
.icon2-repeat:before {
  content: "\e938";
}
.icon2-repeat_one:before {
  content: "\e939";
}
.icon2-replay:before {
  content: "\e93a";
}
.icon2-shuffle1:before {
  content: "\e93b";
}
.icon2-skip_next:before {
  content: "\e93c";
}
.icon2-skip_previous:before {
  content: "\e93d";
}
.icon2-snooze:before {
  content: "\e93e";
}
.icon2-stop1:before {
  content: "\e93f";
}
.icon2-subtitles:before {
  content: "\e940";
}
.icon2-surround_sound:before {
  content: "\e941";
}
.icon2-video_collection:before {
  content: "\e942";
}
.icon2-videocam:before {
  content: "\e943";
}
.icon2-videocam_off:before {
  content: "\e944";
}
.icon2-volume_down:before {
  content: "\e945";
}
.icon2-volume_mute:before {
  content: "\e946";
}
.icon2-volume_off:before {
  content: "\e947";
}
.icon2-volume_up:before {
  content: "\e948";
}
.icon2-web:before {
  content: "\e949";
}
.icon2-hd:before {
  content: "\e94a";
}
.icon2-sort_by_alpha:before {
  content: "\e94b";
}
.icon2-airplay:before {
  content: "\e94c";
}
.icon2-forward_10:before {
  content: "\e94d";
}
.icon2-forward_30:before {
  content: "\e94e";
}
.icon2-forward_5:before {
  content: "\e94f";
}
.icon2-replay_10:before {
  content: "\e950";
}
.icon2-replay_30:before {
  content: "\e951";
}
.icon2-replay_5:before {
  content: "\e952";
}
.icon2-add_to_queue:before {
  content: "\e953";
}
.icon2-fiber_dvr:before {
  content: "\e954";
}
.icon2-fiber_new:before {
  content: "\e955";
}
.icon2-playlist_play:before {
  content: "\e956";
}
.icon2-art_track:before {
  content: "\e957";
}
.icon2-fiber_manual_record:before {
  content: "\e958";
}
.icon2-fiber_smart_record:before {
  content: "\e959";
}
.icon2-music_video:before {
  content: "\e95a";
}
.icon2-subscriptions:before {
  content: "\e95b";
}
.icon2-playlist_add_check:before {
  content: "\e95c";
}
.icon2-queue_play_next:before {
  content: "\e95d";
}
.icon2-remove_from_queue:before {
  content: "\e95e";
}
.icon2-slow_motion_video:before {
  content: "\e95f";
}
.icon2-web_asset:before {
  content: "\e960";
}
.icon2-fiber_pin:before {
  content: "\e961";
}
.icon2-branding_watermark:before {
  content: "\e962";
}
.icon2-call_to_action:before {
  content: "\e963";
}
.icon2-featured_play_list:before {
  content: "\e964";
}
.icon2-featured_video:before {
  content: "\e965";
}
.icon2-note:before {
  content: "\e966";
}
.icon2-video_call:before {
  content: "\e967";
}
.icon2-video_label:before {
  content: "\e968";
}
.icon2-4k:before {
  content: "\e969";
}
.icon2-missed_video_call:before {
  content: "\e96a";
}
.icon2-control_camera:before {
  content: "\e96b";
}
.icon2-business:before {
  content: "\e96c";
}
.icon2-call:before {
  content: "\e96d";
}
.icon2-call_end:before {
  content: "\e96e";
}
.icon2-call_made:before {
  content: "\e96f";
}
.icon2-call_merge:before {
  content: "\e970";
}
.icon2-call_missed:before {
  content: "\e971";
}
.icon2-call_received:before {
  content: "\e972";
}
.icon2-call_split:before {
  content: "\e973";
}
.icon2-chat:before {
  content: "\e974";
}
.icon2-clear_all:before {
  content: "\e975";
}
.icon2-comment:before {
  content: "\e976";
}
.icon2-contacts:before {
  content: "\e977";
}
.icon2-dialer_sip:before {
  content: "\e978";
}
.icon2-dialpad:before {
  content: "\e979";
}
.icon2-email:before {
  content: "\e97a";
}
.icon2-forum:before {
  content: "\e97b";
}
.icon2-import_export:before {
  content: "\e97c";
}
.icon2-invert_colors_off:before {
  content: "\e97d";
}
.icon2-live_help:before {
  content: "\e97e";
}
.icon2-location_off:before {
  content: "\e97f";
}
.icon2-location_on:before {
  content: "\e980";
}
.icon2-message:before {
  content: "\e981";
}
.icon2-chat_bubble:before {
  content: "\e982";
}
.icon2-chat_bubble_outline:before {
  content: "\e983";
}
.icon2-no_sim:before {
  content: "\e984";
}
.icon2-phone1:before {
  content: "\e985";
}
.icon2-portable_wifi_off:before {
  content: "\e986";
}
.icon2-contact_phone:before {
  content: "\e987";
}
.icon2-contact_mail:before {
  content: "\e988";
}
.icon2-ring_volume:before {
  content: "\e989";
}
.icon2-speaker_phone:before {
  content: "\e98a";
}
.icon2-stay_current_landscape:before {
  content: "\e98b";
}
.icon2-stay_current_portrait:before {
  content: "\e98c";
}
.icon2-swap_calls:before {
  content: "\e98d";
}
.icon2-textsms:before {
  content: "\e98e";
}
.icon2-voicemail:before {
  content: "\e98f";
}
.icon2-vpn_key:before {
  content: "\e990";
}
.icon2-phonelink_erase:before {
  content: "\e991";
}
.icon2-phonelink_lock:before {
  content: "\e992";
}
.icon2-phonelink_ring:before {
  content: "\e993";
}
.icon2-phonelink_setup:before {
  content: "\e994";
}
.icon2-present_to_all:before {
  content: "\e995";
}
.icon2-import_contacts:before {
  content: "\e996";
}
.icon2-mail_outline:before {
  content: "\e997";
}
.icon2-screen_share:before {
  content: "\e998";
}
.icon2-stop_screen_share:before {
  content: "\e999";
}
.icon2-call_missed_outgoing:before {
  content: "\e99a";
}
.icon2-rss_feed:before {
  content: "\e99b";
}
.icon2-alternate_email:before {
  content: "\e99c";
}
.icon2-mobile_screen_share:before {
  content: "\e99d";
}
.icon2-add_call:before {
  content: "\e99e";
}
.icon2-cancel_presentation:before {
  content: "\e99f";
}
.icon2-pause_presentation:before {
  content: "\e9a0";
}
.icon2-unsubscribe:before {
  content: "\e9a1";
}
.icon2-cell_wifi:before {
  content: "\e9a2";
}
.icon2-sentiment_satisfied_alt:before {
  content: "\e9a3";
}
.icon2-list_alt:before {
  content: "\e9a4";
}
.icon2-domain_disabled:before {
  content: "\e9a5";
}
.icon2-lightbulb:before {
  content: "\e9a6";
}
.icon2-add:before {
  content: "\e9a7";
}
.icon2-add_box:before {
  content: "\e9a8";
}
.icon2-add_circle:before {
  content: "\e9a9";
}
.icon2-add_circle_outline:before {
  content: "\e9aa";
}
.icon2-archive:before {
  content: "\e9ab";
}
.icon2-backspace:before {
  content: "\e9ac";
}
.icon2-block:before {
  content: "\e9ad";
}
.icon2-clear:before {
  content: "\e9ae";
}
.icon2-content_copy:before {
  content: "\e9af";
}
.icon2-content_cut:before {
  content: "\e9b0";
}
.icon2-content_paste:before {
  content: "\e9b1";
}
.icon2-create:before {
  content: "\e9b2";
}
.icon2-drafts:before {
  content: "\e9b3";
}
.icon2-filter_list:before {
  content: "\e9b4";
}
.icon2-flag1:before {
  content: "\e9b5";
}
.icon2-forward1:before {
  content: "\e9b6";
}
.icon2-gesture:before {
  content: "\e9b7";
}
.icon2-inbox:before {
  content: "\e9b8";
}
.icon2-link1:before {
  content: "\e9b9";
}
.icon2-redo1:before {
  content: "\e9ba";
}
.icon2-remove:before {
  content: "\e9bb";
}
.icon2-remove_circle:before {
  content: "\e9bc";
}
.icon2-remove_circle_outline:before {
  content: "\e9bd";
}
.icon2-reply1:before {
  content: "\e9be";
}
.icon2-reply_all:before {
  content: "\e9bf";
}
.icon2-report:before {
  content: "\e9c0";
}
.icon2-save:before {
  content: "\e9c1";
}
.icon2-select_all:before {
  content: "\e9c2";
}
.icon2-send:before {
  content: "\e9c3";
}
.icon2-sort:before {
  content: "\e9c4";
}
.icon2-text_format:before {
  content: "\e9c5";
}
.icon2-undo1:before {
  content: "\e9c6";
}
.icon2-font_download:before {
  content: "\e9c7";
}
.icon2-move_to_inbox:before {
  content: "\e9c8";
}
.icon2-unarchive:before {
  content: "\e9c9";
}
.icon2-next_week:before {
  content: "\e9ca";
}
.icon2-weekend:before {
  content: "\e9cb";
}
.icon2-delete_sweep:before {
  content: "\e9cc";
}
.icon2-low_priority:before {
  content: "\e9cd";
}
.icon2-outlined_flag:before {
  content: "\e9ce";
}
.icon2-link_off:before {
  content: "\e9cf";
}
.icon2-report_off:before {
  content: "\e9d0";
}
.icon2-save_alt:before {
  content: "\e9d1";
}
.icon2-ballot:before {
  content: "\e9d2";
}
.icon2-file_copy:before {
  content: "\e9d3";
}
.icon2-how_to_reg:before {
  content: "\e9d4";
}
.icon2-how_to_vote:before {
  content: "\e9d5";
}
.icon2-waves:before {
  content: "\e9d6";
}
.icon2-where_to_vote:before {
  content: "\e9d7";
}
.icon2-add_link:before {
  content: "\e9d8";
}
.icon2-inventory:before {
  content: "\e9d9";
}
.icon2-access_alarm:before {
  content: "\e9da";
}
.icon2-access_alarms:before {
  content: "\e9db";
}
.icon2-access_time:before {
  content: "\e9dc";
}
.icon2-add_alarm:before {
  content: "\e9dd";
}
.icon2-airplanemode_inactive:before {
  content: "\e9de";
}
.icon2-airplanemode_active:before {
  content: "\e9df";
}
.icon2-battery_alert:before {
  content: "\e9e0";
}
.icon2-battery_charging_full:before {
  content: "\e9e1";
}
.icon2-battery_full:before {
  content: "\e9e2";
}
.icon2-battery_unknown:before {
  content: "\e9e3";
}
.icon2-bluetooth:before {
  content: "\e9e4";
}
.icon2-bluetooth_connected:before {
  content: "\e9e5";
}
.icon2-bluetooth_disabled:before {
  content: "\e9e6";
}
.icon2-bluetooth_searching:before {
  content: "\e9e7";
}
.icon2-brightness_auto:before {
  content: "\e9e8";
}
.icon2-brightness_high:before {
  content: "\e9e9";
}
.icon2-brightness_low:before {
  content: "\e9ea";
}
.icon2-brightness_medium:before {
  content: "\e9eb";
}
.icon2-data_usage:before {
  content: "\e9ec";
}
.icon2-developer_mode:before {
  content: "\e9ed";
}
.icon2-devices:before {
  content: "\e9ee";
}
.icon2-dvr:before {
  content: "\e9ef";
}
.icon2-gps_fixed:before {
  content: "\e9f0";
}
.icon2-gps_not_fixed:before {
  content: "\e9f1";
}
.icon2-gps_off:before {
  content: "\e9f2";
}
.icon2-graphic_eq:before {
  content: "\e9f3";
}
.icon2-network_cell:before {
  content: "\e9f4";
}
.icon2-network_wifi:before {
  content: "\e9f5";
}
.icon2-nfc:before {
  content: "\e9f6";
}
.icon2-now_wallpaper:before {
  content: "\e9f7";
}
.icon2-now_widgets:before {
  content: "\e9f8";
}
.icon2-screen_lock_landscape:before {
  content: "\e9f9";
}
.icon2-screen_lock_portrait:before {
  content: "\e9fa";
}
.icon2-screen_lock_rotation:before {
  content: "\e9fb";
}
.icon2-screen_rotation:before {
  content: "\e9fc";
}
.icon2-sd_storage:before {
  content: "\e9fd";
}
.icon2-settings_system_daydream:before {
  content: "\e9fe";
}
.icon2-signal_cellular_4_bar:before {
  content: "\e9ff";
}
.icon2-signal_cellular_connected_no_internet_4_bar:before {
  content: "\ea00";
}
.icon2-signal_cellular_null:before {
  content: "\ea01";
}
.icon2-signal_cellular_off:before {
  content: "\ea02";
}
.icon2-signal_wifi_4_bar:before {
  content: "\ea03";
}
.icon2-signal_wifi_4_bar_lock:before {
  content: "\ea04";
}
.icon2-signal_wifi_off:before {
  content: "\ea05";
}
.icon2-storage:before {
  content: "\ea06";
}
.icon2-usb:before {
  content: "\ea07";
}
.icon2-wifi_lock:before {
  content: "\ea08";
}
.icon2-wifi_tethering:before {
  content: "\ea09";
}
.icon2-add_to_home_screen:before {
  content: "\ea0a";
}
.icon2-device_thermostat:before {
  content: "\ea0b";
}
.icon2-mobile_friendly:before {
  content: "\ea0c";
}
.icon2-mobile_off:before {
  content: "\ea0d";
}
.icon2-signal_cellular_alt:before {
  content: "\ea0e";
}
.icon2-attach_file:before {
  content: "\ea0f";
}
.icon2-attach_money:before {
  content: "\ea10";
}
.icon2-border_all:before {
  content: "\ea11";
}
.icon2-border_bottom:before {
  content: "\ea12";
}
.icon2-border_clear:before {
  content: "\ea13";
}
.icon2-border_color:before {
  content: "\ea14";
}
.icon2-border_horizontal:before {
  content: "\ea15";
}
.icon2-border_inner:before {
  content: "\ea16";
}
.icon2-border_left:before {
  content: "\ea17";
}
.icon2-border_outer:before {
  content: "\ea18";
}
.icon2-border_right:before {
  content: "\ea19";
}
.icon2-border_style:before {
  content: "\ea1a";
}
.icon2-border_top:before {
  content: "\ea1b";
}
.icon2-border_vertical:before {
  content: "\ea1c";
}
.icon2-format_align_center:before {
  content: "\ea1d";
}
.icon2-format_align_justify:before {
  content: "\ea1e";
}
.icon2-format_align_left:before {
  content: "\ea1f";
}
.icon2-format_align_right:before {
  content: "\ea20";
}
.icon2-format_bold:before {
  content: "\ea21";
}
.icon2-format_clear:before {
  content: "\ea22";
}
.icon2-format_color_fill:before {
  content: "\ea23";
}
.icon2-format_color_reset:before {
  content: "\ea24";
}
.icon2-format_color_text:before {
  content: "\ea25";
}
.icon2-format_indent_decrease:before {
  content: "\ea26";
}
.icon2-format_indent_increase:before {
  content: "\ea27";
}
.icon2-format_italic:before {
  content: "\ea28";
}
.icon2-format_line_spacing:before {
  content: "\ea29";
}
.icon2-format_list_bulleted:before {
  content: "\ea2a";
}
.icon2-format_list_numbered:before {
  content: "\ea2b";
}
.icon2-format_paint:before {
  content: "\ea2c";
}
.icon2-format_quote:before {
  content: "\ea2d";
}
.icon2-format_size:before {
  content: "\ea2e";
}
.icon2-format_strikethrough:before {
  content: "\ea2f";
}
.icon2-format_textdirection_l_to_r:before {
  content: "\ea30";
}
.icon2-format_textdirection_r_to_l:before {
  content: "\ea31";
}
.icon2-format_underlined:before {
  content: "\ea32";
}
.icon2-functions:before {
  content: "\ea33";
}
.icon2-insert_chart:before {
  content: "\ea34";
}
.icon2-insert_comment:before {
  content: "\ea35";
}
.icon2-insert_drive_file:before {
  content: "\ea36";
}
.icon2-insert_emoticon:before {
  content: "\ea37";
}
.icon2-insert_invitation:before {
  content: "\ea38";
}
.icon2-insert_photo:before {
  content: "\ea39";
}
.icon2-mode_comment:before {
  content: "\ea3a";
}
.icon2-publish:before {
  content: "\ea3b";
}
.icon2-space_bar:before {
  content: "\ea3c";
}
.icon2-strikethrough_s:before {
  content: "\ea3d";
}
.icon2-vertical_align_bottom:before {
  content: "\ea3e";
}
.icon2-vertical_align_center:before {
  content: "\ea3f";
}
.icon2-vertical_align_top:before {
  content: "\ea40";
}
.icon2-wrap_text:before {
  content: "\ea41";
}
.icon2-money_off:before {
  content: "\ea42";
}
.icon2-drag_handle:before {
  content: "\ea43";
}
.icon2-format_shapes:before {
  content: "\ea44";
}
.icon2-highlight:before {
  content: "\ea45";
}
.icon2-linear_scale:before {
  content: "\ea46";
}
.icon2-short_text:before {
  content: "\ea47";
}
.icon2-text_fields:before {
  content: "\ea48";
}
.icon2-monetization_on:before {
  content: "\ea49";
}
.icon2-title:before {
  content: "\ea4a";
}
.icon2-table_chart:before {
  content: "\ea4b";
}
.icon2-add_comment:before {
  content: "\ea4c";
}
.icon2-format_list_numbered_rtl:before {
  content: "\ea4d";
}
.icon2-scatter_plot:before {
  content: "\ea4e";
}
.icon2-score:before {
  content: "\ea4f";
}
.icon2-insert_chart_outlined:before {
  content: "\ea50";
}
.icon2-bar_chart:before {
  content: "\ea51";
}
.icon2-notes:before {
  content: "\ea52";
}
.icon2-attachment1:before {
  content: "\ea53";
}
.icon2-cloud1:before {
  content: "\ea54";
}
.icon2-cloud_circle:before {
  content: "\ea55";
}
.icon2-cloud_done:before {
  content: "\ea56";
}
.icon2-cloud_download:before {
  content: "\ea57";
}
.icon2-cloud_off:before {
  content: "\ea58";
}
.icon2-cloud_queue:before {
  content: "\ea59";
}
.icon2-cloud_upload:before {
  content: "\ea5a";
}
.icon2-file_download:before {
  content: "\ea5b";
}
.icon2-file_upload:before {
  content: "\ea5c";
}
.icon2-folder1:before {
  content: "\ea5d";
}
.icon2-folder_open:before {
  content: "\ea5e";
}
.icon2-folder_shared:before {
  content: "\ea5f";
}
.icon2-create_new_folder:before {
  content: "\ea60";
}
.icon2-cast:before {
  content: "\ea61";
}
.icon2-cast_connected:before {
  content: "\ea62";
}
.icon2-computer:before {
  content: "\ea63";
}
.icon2-desktop_mac:before {
  content: "\ea64";
}
.icon2-desktop_windows:before {
  content: "\ea65";
}
.icon2-developer_board:before {
  content: "\ea66";
}
.icon2-dock:before {
  content: "\ea67";
}
.icon2-headset:before {
  content: "\ea68";
}
.icon2-headset_mic:before {
  content: "\ea69";
}
.icon2-keyboard1:before {
  content: "\ea6a";
}
.icon2-keyboard_arrow_down:before {
  content: "\ea6b";
}
.icon2-keyboard_arrow_left:before {
  content: "\ea6c";
}
.icon2-keyboard_arrow_right:before {
  content: "\ea6d";
}
.icon2-keyboard_arrow_up:before {
  content: "\ea6e";
}
.icon2-keyboard_backspace:before {
  content: "\ea6f";
}
.icon2-keyboard_capslock:before {
  content: "\ea70";
}
.icon2-keyboard_hide:before {
  content: "\ea71";
}
.icon2-keyboard_return:before {
  content: "\ea72";
}
.icon2-keyboard_tab:before {
  content: "\ea73";
}
.icon2-keyboard_voice:before {
  content: "\ea74";
}
.icon2-laptop_chromebook:before {
  content: "\ea75";
}
.icon2-laptop_mac:before {
  content: "\ea76";
}
.icon2-laptop_windows:before {
  content: "\ea77";
}
.icon2-memory:before {
  content: "\ea78";
}
.icon2-mouse:before {
  content: "\ea79";
}
.icon2-phone_android:before {
  content: "\ea7a";
}
.icon2-phone_iphone:before {
  content: "\ea7b";
}
.icon2-phonelink_off:before {
  content: "\ea7c";
}
.icon2-router:before {
  content: "\ea7d";
}
.icon2-scanner:before {
  content: "\ea7e";
}
.icon2-security:before {
  content: "\ea7f";
}
.icon2-sim_card:before {
  content: "\ea80";
}
.icon2-speaker:before {
  content: "\ea81";
}
.icon2-speaker_group:before {
  content: "\ea82";
}
.icon2-tablet1:before {
  content: "\ea83";
}
.icon2-tablet_android:before {
  content: "\ea84";
}
.icon2-tablet_mac:before {
  content: "\ea85";
}
.icon2-toys:before {
  content: "\ea86";
}
.icon2-tv1:before {
  content: "\ea87";
}
.icon2-watch:before {
  content: "\ea88";
}
.icon2-device_hub:before {
  content: "\ea89";
}
.icon2-power_input:before {
  content: "\ea8a";
}
.icon2-devices_other:before {
  content: "\ea8b";
}
.icon2-videogame_asset:before {
  content: "\ea8c";
}
.icon2-device_unknown:before {
  content: "\ea8d";
}
.icon2-headset_off:before {
  content: "\ea8e";
}
.icon2-adjust:before {
  content: "\ea8f";
}
.icon2-assistant:before {
  content: "\ea90";
}
.icon2-audiotrack:before {
  content: "\ea91";
}
.icon2-blur_circular:before {
  content: "\ea92";
}
.icon2-blur_linear:before {
  content: "\ea93";
}
.icon2-blur_off:before {
  content: "\ea94";
}
.icon2-blur_on:before {
  content: "\ea95";
}
.icon2-brightness_1:before {
  content: "\ea96";
}
.icon2-brightness_2:before {
  content: "\ea97";
}
.icon2-brightness_3:before {
  content: "\ea98";
}
.icon2-brightness_4:before {
  content: "\ea99";
}
.icon2-broken_image:before {
  content: "\ea9a";
}
.icon2-brush:before {
  content: "\ea9b";
}
.icon2-camera1:before {
  content: "\ea9c";
}
.icon2-camera_alt:before {
  content: "\ea9d";
}
.icon2-camera_front:before {
  content: "\ea9e";
}
.icon2-camera_rear:before {
  content: "\ea9f";
}
.icon2-camera_roll:before {
  content: "\eaa0";
}
.icon2-center_focus_strong:before {
  content: "\eaa1";
}
.icon2-center_focus_weak:before {
  content: "\eaa2";
}
.icon2-collections:before {
  content: "\eaa3";
}
.icon2-color_lens:before {
  content: "\eaa4";
}
.icon2-colorize:before {
  content: "\eaa5";
}
.icon2-compare:before {
  content: "\eaa6";
}
.icon2-control_point_duplicate:before {
  content: "\eaa7";
}
.icon2-crop_16_9:before {
  content: "\eaa8";
}
.icon2-crop_3_2:before {
  content: "\eaa9";
}
.icon2-crop1:before {
  content: "\eaaa";
}
.icon2-crop_5_4:before {
  content: "\eaab";
}
.icon2-crop_7_5:before {
  content: "\eaac";
}
.icon2-crop_din:before {
  content: "\eaad";
}
.icon2-crop_free:before {
  content: "\eaae";
}
.icon2-crop_original:before {
  content: "\eaaf";
}
.icon2-crop_portrait:before {
  content: "\eab0";
}
.icon2-crop_square:before {
  content: "\eab1";
}
.icon2-dehaze:before {
  content: "\eab2";
}
.icon2-details:before {
  content: "\eab3";
}
.icon2-exposure:before {
  content: "\eab4";
}
.icon2-exposure_minus_1:before {
  content: "\eab5";
}
.icon2-exposure_minus_2:before {
  content: "\eab6";
}
.icon2-exposure_plus_1:before {
  content: "\eab7";
}
.icon2-exposure_plus_2:before {
  content: "\eab8";
}
.icon2-exposure_zero:before {
  content: "\eab9";
}
.icon2-filter_1:before {
  content: "\eaba";
}
.icon2-filter_2:before {
  content: "\eabb";
}
.icon2-filter_3:before {
  content: "\eabc";
}
.icon2-filter1:before {
  content: "\eabd";
}
.icon2-filter_4:before {
  content: "\eabe";
}
.icon2-filter_5:before {
  content: "\eabf";
}
.icon2-filter_6:before {
  content: "\eac0";
}
.icon2-filter_7:before {
  content: "\eac1";
}
.icon2-filter_8:before {
  content: "\eac2";
}
.icon2-filter_9:before {
  content: "\eac3";
}
.icon2-filter_9_plus:before {
  content: "\eac4";
}
.icon2-filter_b_and_w:before {
  content: "\eac5";
}
.icon2-filter_center_focus:before {
  content: "\eac6";
}
.icon2-filter_drama:before {
  content: "\eac7";
}
.icon2-filter_frames:before {
  content: "\eac8";
}
.icon2-filter_hdr:before {
  content: "\eac9";
}
.icon2-filter_none:before {
  content: "\eaca";
}
.icon2-filter_tilt_shift:before {
  content: "\eacb";
}
.icon2-filter_vintage:before {
  content: "\eacc";
}
.icon2-flare:before {
  content: "\eacd";
}
.icon2-flash_auto:before {
  content: "\eace";
}
.icon2-flash_off:before {
  content: "\eacf";
}
.icon2-flash_on:before {
  content: "\ead0";
}
.icon2-flip:before {
  content: "\ead1";
}
.icon2-gradient:before {
  content: "\ead2";
}
.icon2-grain:before {
  content: "\ead3";
}
.icon2-grid_off:before {
  content: "\ead4";
}
.icon2-grid_on:before {
  content: "\ead5";
}
.icon2-hdr_off:before {
  content: "\ead6";
}
.icon2-hdr_on:before {
  content: "\ead7";
}
.icon2-hdr_strong:before {
  content: "\ead8";
}
.icon2-hdr_weak:before {
  content: "\ead9";
}
.icon2-healing:before {
  content: "\eada";
}
.icon2-image_aspect_ratio:before {
  content: "\eadb";
}
.icon2-iso:before {
  content: "\eadc";
}
.icon2-leak_add:before {
  content: "\eadd";
}
.icon2-leak_remove:before {
  content: "\eade";
}
.icon2-lens:before {
  content: "\eadf";
}
.icon2-looks_3:before {
  content: "\eae0";
}
.icon2-looks:before {
  content: "\eae1";
}
.icon2-looks_4:before {
  content: "\eae2";
}
.icon2-looks_5:before {
  content: "\eae3";
}
.icon2-looks_6:before {
  content: "\eae4";
}
.icon2-looks_one:before {
  content: "\eae5";
}
.icon2-looks_two:before {
  content: "\eae6";
}
.icon2-loupe:before {
  content: "\eae7";
}
.icon2-monochrome_photos:before {
  content: "\eae8";
}
.icon2-music_note:before {
  content: "\eae9";
}
.icon2-nature:before {
  content: "\eaea";
}
.icon2-nature_people:before {
  content: "\eaeb";
}
.icon2-navigate_before:before {
  content: "\eaec";
}
.icon2-navigate_next:before {
  content: "\eaed";
}
.icon2-panorama:before {
  content: "\eaee";
}
.icon2-panorama_fish_eye:before {
  content: "\eaef";
}
.icon2-panorama_horizontal:before {
  content: "\eaf0";
}
.icon2-panorama_vertical:before {
  content: "\eaf1";
}
.icon2-panorama_wide_angle:before {
  content: "\eaf2";
}
.icon2-photo_album:before {
  content: "\eaf3";
}
.icon2-picture_as_pdf:before {
  content: "\eaf4";
}
.icon2-portrait:before {
  content: "\eaf5";
}
.icon2-remove_red_eye:before {
  content: "\eaf6";
}
.icon2-rotate_90_degrees_ccw:before {
  content: "\eaf7";
}
.icon2-rotate_left:before {
  content: "\eaf8";
}
.icon2-rotate_right:before {
  content: "\eaf9";
}
.icon2-slideshow:before {
  content: "\eafa";
}
.icon2-straighten:before {
  content: "\eafb";
}
.icon2-style:before {
  content: "\eafc";
}
.icon2-switch_camera:before {
  content: "\eafd";
}
.icon2-switch_video:before {
  content: "\eafe";
}
.icon2-texture:before {
  content: "\eaff";
}
.icon2-timelapse:before {
  content: "\eb00";
}
.icon2-timer_10:before {
  content: "\eb01";
}
.icon2-timer_3:before {
  content: "\eb02";
}
.icon2-timer:before {
  content: "\eb03";
}
.icon2-timer_off:before {
  content: "\eb04";
}
.icon2-tonality:before {
  content: "\eb05";
}
.icon2-transform:before {
  content: "\eb06";
}
.icon2-tune:before {
  content: "\eb07";
}
.icon2-view_comfortable:before {
  content: "\eb08";
}
.icon2-view_compact:before {
  content: "\eb09";
}
.icon2-wb_auto:before {
  content: "\eb0a";
}
.icon2-wb_cloudy:before {
  content: "\eb0b";
}
.icon2-wb_incandescent:before {
  content: "\eb0c";
}
.icon2-wb_sunny:before {
  content: "\eb0d";
}
.icon2-collections_bookmark:before {
  content: "\eb0e";
}
.icon2-photo_size_select_actual:before {
  content: "\eb0f";
}
.icon2-photo_size_select_large:before {
  content: "\eb10";
}
.icon2-photo_size_select_small:before {
  content: "\eb11";
}
.icon2-vignette:before {
  content: "\eb12";
}
.icon2-wb_iridescent:before {
  content: "\eb13";
}
.icon2-crop_rotate:before {
  content: "\eb14";
}
.icon2-linked_camera:before {
  content: "\eb15";
}
.icon2-add_a_photo:before {
  content: "\eb16";
}
.icon2-movie_filter:before {
  content: "\eb17";
}
.icon2-photo_filter:before {
  content: "\eb18";
}
.icon2-burst_mode:before {
  content: "\eb19";
}
.icon2-shutter_speed:before {
  content: "\eb1a";
}
.icon2-add_photo_alternate:before {
  content: "\eb1b";
}
.icon2-image_search:before {
  content: "\eb1c";
}
.icon2-music_off:before {
  content: "\eb1d";
}
.icon2-beenhere:before {
  content: "\eb1e";
}
.icon2-directions:before {
  content: "\eb1f";
}
.icon2-directions_bike:before {
  content: "\eb20";
}
.icon2-directions_bus:before {
  content: "\eb21";
}
.icon2-directions_car:before {
  content: "\eb22";
}
.icon2-directions_ferry:before {
  content: "\eb23";
}
.icon2-directions_subway:before {
  content: "\eb24";
}
.icon2-directions_railway:before {
  content: "\eb25";
}
.icon2-directions_walk:before {
  content: "\eb26";
}
.icon2-hotel:before {
  content: "\eb27";
}
.icon2-layers:before {
  content: "\eb28";
}
.icon2-layers_clear:before {
  content: "\eb29";
}
.icon2-local_atm:before {
  content: "\eb2a";
}
.icon2-local_attraction:before {
  content: "\eb2b";
}
.icon2-local_bar:before {
  content: "\eb2c";
}
.icon2-local_cafe:before {
  content: "\eb2d";
}
.icon2-local_car_wash:before {
  content: "\eb2e";
}
.icon2-local_convenience_store:before {
  content: "\eb2f";
}
.icon2-local_drink:before {
  content: "\eb30";
}
.icon2-local_florist:before {
  content: "\eb31";
}
.icon2-local_gas_station:before {
  content: "\eb32";
}
.icon2-local_grocery_store:before {
  content: "\eb33";
}
.icon2-local_hospital:before {
  content: "\eb34";
}
.icon2-local_laundry_service:before {
  content: "\eb35";
}
.icon2-local_library:before {
  content: "\eb36";
}
.icon2-local_mall:before {
  content: "\eb37";
}
.icon2-local_movies:before {
  content: "\eb38";
}
.icon2-local_offer:before {
  content: "\eb39";
}
.icon2-local_parking:before {
  content: "\eb3a";
}
.icon2-local_pharmacy:before {
  content: "\eb3b";
}
.icon2-local_pizza:before {
  content: "\eb3c";
}
.icon2-local_print_shop:before {
  content: "\eb3d";
}
.icon2-local_restaurant:before {
  content: "\eb3e";
}
.icon2-local_shipping:before {
  content: "\eb3f";
}
.icon2-local_taxi:before {
  content: "\eb40";
}
.icon2-location_history:before {
  content: "\eb41";
}
.icon2-map1:before {
  content: "\eb42";
}
.icon2-navigation:before {
  content: "\eb43";
}
.icon2-pin_drop:before {
  content: "\eb44";
}
.icon2-rate_review:before {
  content: "\eb45";
}
.icon2-satellite:before {
  content: "\eb46";
}
.icon2-store_mall_directory:before {
  content: "\eb47";
}
.icon2-traffic:before {
  content: "\eb48";
}
.icon2-directions_run:before {
  content: "\eb49";
}
.icon2-add_location:before {
  content: "\eb4a";
}
.icon2-edit_location:before {
  content: "\eb4b";
}
.icon2-near_me:before {
  content: "\eb4c";
}
.icon2-person_pin_circle:before {
  content: "\eb4d";
}
.icon2-zoom_out_map:before {
  content: "\eb4e";
}
.icon2-restaurant:before {
  content: "\eb4f";
}
.icon2-ev_station:before {
  content: "\eb50";
}
.icon2-streetview:before {
  content: "\eb51";
}
.icon2-subway:before {
  content: "\eb52";
}
.icon2-train:before {
  content: "\eb53";
}
.icon2-tram:before {
  content: "\eb54";
}
.icon2-transfer_within_a_station:before {
  content: "\eb55";
}
.icon2-atm:before {
  content: "\eb56";
}
.icon2-category:before {
  content: "\eb57";
}
.icon2-not_listed_location:before {
  content: "\eb58";
}
.icon2-departure_board:before {
  content: "\eb59";
}
.icon2-360:before {
  content: "\eb5a";
}
.icon2-edit_attributes:before {
  content: "\eb5b";
}
.icon2-transit_enterexit:before {
  content: "\eb5c";
}
.icon2-fastfood:before {
  content: "\eb5d";
}
.icon2-trip_origin:before {
  content: "\eb5e";
}
.icon2-compass_calibration:before {
  content: "\eb5f";
}
.icon2-money:before {
  content: "\eb60";
}
.icon2-apps:before {
  content: "\eb61";
}
.icon2-arrow_back:before {
  content: "\eb62";
}
.icon2-arrow_drop_down:before {
  content: "\eb63";
}
.icon2-arrow_drop_down_circle:before {
  content: "\eb64";
}
.icon2-arrow_drop_up:before {
  content: "\eb65";
}
.icon2-arrow_forward:before {
  content: "\eb66";
}
.icon2-cancel1:before {
  content: "\eb67";
}
.icon2-check1:before {
  content: "\eb68";
}
.icon2-expand_less:before {
  content: "\eb69";
}
.icon2-expand_more:before {
  content: "\eb6a";
}
.icon2-fullscreen:before {
  content: "\eb6b";
}
.icon2-fullscreen_exit:before {
  content: "\eb6c";
}
.icon2-menu1:before {
  content: "\eb6d";
}
.icon2-keyboard_control:before {
  content: "\eb6e";
}
.icon2-more_vert:before {
  content: "\eb6f";
}
.icon2-refresh:before {
  content: "\eb70";
}
.icon2-unfold_less:before {
  content: "\eb71";
}
.icon2-unfold_more:before {
  content: "\eb72";
}
.icon2-arrow_upward:before {
  content: "\eb73";
}
.icon2-subdirectory_arrow_left:before {
  content: "\eb74";
}
.icon2-subdirectory_arrow_right:before {
  content: "\eb75";
}
.icon2-arrow_downward:before {
  content: "\eb76";
}
.icon2-first_page:before {
  content: "\eb77";
}
.icon2-last_page:before {
  content: "\eb78";
}
.icon2-arrow_left:before {
  content: "\eb79";
}
.icon2-arrow_right:before {
  content: "\eb7a";
}
.icon2-arrow_back_ios:before {
  content: "\eb7b";
}
.icon2-arrow_forward_ios:before {
  content: "\eb7c";
}
.icon2-adb:before {
  content: "\eb7d";
}
.icon2-disc_full:before {
  content: "\eb7e";
}
.icon2-do_not_disturb_alt:before {
  content: "\eb7f";
}
.icon2-drive_eta:before {
  content: "\eb80";
}
.icon2-event_available:before {
  content: "\eb81";
}
.icon2-event_busy:before {
  content: "\eb82";
}
.icon2-event_note:before {
  content: "\eb83";
}
.icon2-folder_special:before {
  content: "\eb84";
}
.icon2-mms:before {
  content: "\eb85";
}
.icon2-more:before {
  content: "\eb86";
}
.icon2-network_locked:before {
  content: "\eb87";
}
.icon2-phone_bluetooth_speaker:before {
  content: "\eb88";
}
.icon2-phone_forwarded:before {
  content: "\eb89";
}
.icon2-phone_in_talk:before {
  content: "\eb8a";
}
.icon2-phone_locked:before {
  content: "\eb8b";
}
.icon2-phone_missed:before {
  content: "\eb8c";
}
.icon2-phone_paused:before {
  content: "\eb8d";
}
.icon2-sim_card_alert:before {
  content: "\eb8e";
}
.icon2-sms_failed:before {
  content: "\eb8f";
}
.icon2-sync_disabled:before {
  content: "\eb90";
}
.icon2-sync_problem:before {
  content: "\eb91";
}
.icon2-system_update:before {
  content: "\eb92";
}
.icon2-tap_and_play:before {
  content: "\eb93";
}
.icon2-vibration:before {
  content: "\eb94";
}
.icon2-voice_chat:before {
  content: "\eb95";
}
.icon2-vpn_lock:before {
  content: "\eb96";
}
.icon2-airline_seat_flat:before {
  content: "\eb97";
}
.icon2-airline_seat_flat_angled:before {
  content: "\eb98";
}
.icon2-airline_seat_individual_suite:before {
  content: "\eb99";
}
.icon2-airline_seat_legroom_extra:before {
  content: "\eb9a";
}
.icon2-airline_seat_legroom_normal:before {
  content: "\eb9b";
}
.icon2-airline_seat_legroom_reduced:before {
  content: "\eb9c";
}
.icon2-airline_seat_recline_extra:before {
  content: "\eb9d";
}
.icon2-airline_seat_recline_normal:before {
  content: "\eb9e";
}
.icon2-confirmation_number:before {
  content: "\eb9f";
}
.icon2-live_tv:before {
  content: "\eba0";
}
.icon2-ondemand_video:before {
  content: "\eba1";
}
.icon2-personal_video:before {
  content: "\eba2";
}
.icon2-power1:before {
  content: "\eba3";
}
.icon2-wc:before {
  content: "\eba4";
}
.icon2-wifi:before {
  content: "\eba5";
}
.icon2-enhanced_encryption:before {
  content: "\eba6";
}
.icon2-network_check:before {
  content: "\eba7";
}
.icon2-no_encryption:before {
  content: "\eba8";
}
.icon2-rv_hookup:before {
  content: "\eba9";
}
.icon2-do_not_disturb_off:before {
  content: "\ebaa";
}
.icon2-priority_high:before {
  content: "\ebab";
}
.icon2-power_off:before {
  content: "\ebac";
}
.icon2-tv_off:before {
  content: "\ebad";
}
.icon2-wifi_off:before {
  content: "\ebae";
}
.icon2-phone_callback:before {
  content: "\ebaf";
}
.icon2-pie_chart:before {
  content: "\ebb0";
}
.icon2-pie_chart_outlined:before {
  content: "\ebb1";
}
.icon2-bubble_chart:before {
  content: "\ebb2";
}
.icon2-multiline_chart:before {
  content: "\ebb3";
}
.icon2-show_chart:before {
  content: "\ebb4";
}
.icon2-cake:before {
  content: "\ebb5";
}
.icon2-group:before {
  content: "\ebb6";
}
.icon2-group_add:before {
  content: "\ebb7";
}
.icon2-location_city:before {
  content: "\ebb8";
}
.icon2-mood_bad:before {
  content: "\ebb9";
}
.icon2-notifications:before {
  content: "\ebba";
}
.icon2-notifications_none:before {
  content: "\ebbb";
}
.icon2-notifications_off:before {
  content: "\ebbc";
}
.icon2-notifications_active:before {
  content: "\ebbd";
}
.icon2-notifications_paused:before {
  content: "\ebbe";
}
.icon2-pages:before {
  content: "\ebbf";
}
.icon2-party_mode:before {
  content: "\ebc0";
}
.icon2-people_outline:before {
  content: "\ebc1";
}
.icon2-person:before {
  content: "\ebc2";
}
.icon2-person_add:before {
  content: "\ebc3";
}
.icon2-person_outline:before {
  content: "\ebc4";
}
.icon2-plus_one:before {
  content: "\ebc5";
}
.icon2-public:before {
  content: "\ebc6";
}
.icon2-school:before {
  content: "\ebc7";
}
.icon2-share1:before {
  content: "\ebc8";
}
.icon2-whatshot:before {
  content: "\ebc9";
}
.icon2-sentiment_dissatisfied:before {
  content: "\ebca";
}
.icon2-sentiment_neutral:before {
  content: "\ebcb";
}
.icon2-sentiment_satisfied:before {
  content: "\ebcc";
}
.icon2-sentiment_very_dissatisfied:before {
  content: "\ebcd";
}
.icon2-sentiment_very_satisfied:before {
  content: "\ebce";
}
.icon2-thumb_down_alt:before {
  content: "\ebcf";
}
.icon2-thumb_up_alt:before {
  content: "\ebd0";
}
.icon2-check_box:before {
  content: "\ebd1";
}
.icon2-check_box_outline_blank:before {
  content: "\ebd2";
}
.icon2-radio_button_checked:before {
  content: "\ebd3";
}
.icon2-star:before {
  content: "\ebd4";
}
.icon2-star_half:before {
  content: "\ebd5";
}
.icon2-star_outline:before {
  content: "\ebd6";
}
.icon2-3d_rotation:before {
  content: "\ebd7";
}
.icon2-accessibility1:before {
  content: "\ebd8";
}
.icon2-account_balance:before {
  content: "\ebd9";
}
.icon2-account_balance_wallet:before {
  content: "\ebda";
}
.icon2-account_box:before {
  content: "\ebdb";
}
.icon2-account_circle:before {
  content: "\ebdc";
}
.icon2-add_shopping_cart:before {
  content: "\ebdd";
}
.icon2-alarm_off:before {
  content: "\ebde";
}
.icon2-alarm_on:before {
  content: "\ebdf";
}
.icon2-android1:before {
  content: "\ebe0";
}
.icon2-announcement:before {
  content: "\ebe1";
}
.icon2-aspect_ratio:before {
  content: "\ebe2";
}
.icon2-assignment:before {
  content: "\ebe3";
}
.icon2-assignment_ind:before {
  content: "\ebe4";
}
.icon2-assignment_late:before {
  content: "\ebe5";
}
.icon2-assignment_return:before {
  content: "\ebe6";
}
.icon2-assignment_returned:before {
  content: "\ebe7";
}
.icon2-assignment_turned_in:before {
  content: "\ebe8";
}
.icon2-autorenew:before {
  content: "\ebe9";
}
.icon2-book1:before {
  content: "\ebea";
}
.icon2-bookmark1:before {
  content: "\ebeb";
}
.icon2-bookmark_outline:before {
  content: "\ebec";
}
.icon2-bug_report:before {
  content: "\ebed";
}
.icon2-build:before {
  content: "\ebee";
}
.icon2-cached:before {
  content: "\ebef";
}
.icon2-change_history:before {
  content: "\ebf0";
}
.icon2-check_circle:before {
  content: "\ebf1";
}
.icon2-chrome_reader_mode:before {
  content: "\ebf2";
}
.icon2-code:before {
  content: "\ebf3";
}
.icon2-credit_card:before {
  content: "\ebf4";
}
.icon2-dashboard:before {
  content: "\ebf5";
}
.icon2-delete:before {
  content: "\ebf6";
}
.icon2-description:before {
  content: "\ebf7";
}
.icon2-dns:before {
  content: "\ebf8";
}
.icon2-done:before {
  content: "\ebf9";
}
.icon2-done_all:before {
  content: "\ebfa";
}
.icon2-exit_to_app:before {
  content: "\ebfb";
}
.icon2-explore:before {
  content: "\ebfc";
}
.icon2-extension:before {
  content: "\ebfd";
}
.icon2-face:before {
  content: "\ebfe";
}
.icon2-favorite:before {
  content: "\ebff";
}
.icon2-favorite_outline:before {
  content: "\ec00";
}
.icon2-find_in_page:before {
  content: "\ec01";
}
.icon2-find_replace:before {
  content: "\ec02";
}
.icon2-flip_to_back:before {
  content: "\ec03";
}
.icon2-flip_to_front:before {
  content: "\ec04";
}
.icon2-group_work:before {
  content: "\ec05";
}
.icon2-help:before {
  content: "\ec06";
}
.icon2-highlight_remove:before {
  content: "\ec07";
}
.icon2-history1:before {
  content: "\ec08";
}
.icon2-home1:before {
  content: "\ec09";
}
.icon2-hourglass_empty:before {
  content: "\ec0a";
}
.icon2-hourglass_full:before {
  content: "\ec0b";
}
.icon2-https:before {
  content: "\ec0c";
}
.icon2-info1:before {
  content: "\ec0d";
}
.icon2-info_outline:before {
  content: "\ec0e";
}
.icon2-input:before {
  content: "\ec0f";
}
.icon2-invert_colors_on:before {
  content: "\ec10";
}
.icon2-label:before {
  content: "\ec11";
}
.icon2-label_outline:before {
  content: "\ec12";
}
.icon2-language:before {
  content: "\ec13";
}
.icon2-launch:before {
  content: "\ec14";
}
.icon2-list1:before {
  content: "\ec15";
}
.icon2-lock_open:before {
  content: "\ec16";
}
.icon2-lock_outline:before {
  content: "\ec17";
}
.icon2-loyalty:before {
  content: "\ec18";
}
.icon2-markunread_mailbox:before {
  content: "\ec19";
}
.icon2-note_add:before {
  content: "\ec1a";
}
.icon2-open_in_browser:before {
  content: "\ec1b";
}
.icon2-open_with:before {
  content: "\ec1c";
}
.icon2-pageview:before {
  content: "\ec1d";
}
.icon2-perm_camera_mic:before {
  content: "\ec1e";
}
.icon2-perm_contact_calendar:before {
  content: "\ec1f";
}
.icon2-perm_data_setting:before {
  content: "\ec20";
}
.icon2-perm_device_information:before {
  content: "\ec21";
}
.icon2-perm_media:before {
  content: "\ec22";
}
.icon2-perm_phone_msg:before {
  content: "\ec23";
}
.icon2-perm_scan_wifi:before {
  content: "\ec24";
}
.icon2-picture_in_picture:before {
  content: "\ec25";
}
.icon2-polymer:before {
  content: "\ec26";
}
.icon2-power_settings_new:before {
  content: "\ec27";
}
.icon2-receipt:before {
  content: "\ec28";
}
.icon2-redeem:before {
  content: "\ec29";
}
.icon2-search1:before {
  content: "\ec2a";
}
.icon2-settings:before {
  content: "\ec2b";
}
.icon2-settings_applications:before {
  content: "\ec2c";
}
.icon2-settings_backup_restore:before {
  content: "\ec2d";
}
.icon2-settings_bluetooth:before {
  content: "\ec2e";
}
.icon2-settings_cell:before {
  content: "\ec2f";
}
.icon2-settings_brightness:before {
  content: "\ec30";
}
.icon2-settings_ethernet:before {
  content: "\ec31";
}
.icon2-settings_input_antenna:before {
  content: "\ec32";
}
.icon2-settings_input_component:before {
  content: "\ec33";
}
.icon2-settings_input_hdmi:before {
  content: "\ec34";
}
.icon2-settings_input_svideo:before {
  content: "\ec35";
}
.icon2-settings_overscan:before {
  content: "\ec36";
}
.icon2-settings_phone:before {
  content: "\ec37";
}
.icon2-settings_power:before {
  content: "\ec38";
}
.icon2-settings_remote:before {
  content: "\ec39";
}
.icon2-settings_voice:before {
  content: "\ec3a";
}
.icon2-shop:before {
  content: "\ec3b";
}
.icon2-shop_two:before {
  content: "\ec3c";
}
.icon2-shopping_basket:before {
  content: "\ec3d";
}
.icon2-speaker_notes:before {
  content: "\ec3e";
}
.icon2-spellcheck:before {
  content: "\ec3f";
}
.icon2-stars:before {
  content: "\ec40";
}
.icon2-subject:before {
  content: "\ec41";
}
.icon2-supervisor_account:before {
  content: "\ec42";
}
.icon2-swap_horiz:before {
  content: "\ec43";
}
.icon2-swap_vert:before {
  content: "\ec44";
}
.icon2-swap_vertical_circle:before {
  content: "\ec45";
}
.icon2-system_update_alt:before {
  content: "\ec46";
}
.icon2-tab1:before {
  content: "\ec47";
}
.icon2-tab_unselected:before {
  content: "\ec48";
}
.icon2-thumb_down:before {
  content: "\ec49";
}
.icon2-thumb_up:before {
  content: "\ec4a";
}
.icon2-thumbs_up_down:before {
  content: "\ec4b";
}
.icon2-toc:before {
  content: "\ec4c";
}
.icon2-today:before {
  content: "\ec4d";
}
.icon2-toll:before {
  content: "\ec4e";
}
.icon2-track_changes:before {
  content: "\ec4f";
}
.icon2-translate:before {
  content: "\ec50";
}
.icon2-trending_down:before {
  content: "\ec51";
}
.icon2-trending_neutral:before {
  content: "\ec52";
}
.icon2-trending_up:before {
  content: "\ec53";
}
.icon2-verified_user:before {
  content: "\ec54";
}
.icon2-view_agenda:before {
  content: "\ec55";
}
.icon2-view_array:before {
  content: "\ec56";
}
.icon2-view_carousel:before {
  content: "\ec57";
}
.icon2-view_column:before {
  content: "\ec58";
}
.icon2-view_day:before {
  content: "\ec59";
}
.icon2-view_headline:before {
  content: "\ec5a";
}
.icon2-view_list:before {
  content: "\ec5b";
}
.icon2-view_module:before {
  content: "\ec5c";
}
.icon2-view_quilt:before {
  content: "\ec5d";
}
.icon2-view_stream:before {
  content: "\ec5e";
}
.icon2-view_week:before {
  content: "\ec5f";
}
.icon2-visibility_off:before {
  content: "\ec60";
}
.icon2-card_membership:before {
  content: "\ec61";
}
.icon2-card_travel:before {
  content: "\ec62";
}
.icon2-work:before {
  content: "\ec63";
}
.icon2-youtube_searched_for:before {
  content: "\ec64";
}
.icon2-eject1:before {
  content: "\ec65";
}
.icon2-camera_enhance:before {
  content: "\ec66";
}
.icon2-help_outline:before {
  content: "\ec67";
}
.icon2-reorder:before {
  content: "\ec68";
}
.icon2-zoom_in:before {
  content: "\ec69";
}
.icon2-zoom_out:before {
  content: "\ec6a";
}
.icon2-http:before {
  content: "\ec6b";
}
.icon2-event_seat:before {
  content: "\ec6c";
}
.icon2-flight_land:before {
  content: "\ec6d";
}
.icon2-flight_takeoff:before {
  content: "\ec6e";
}
.icon2-play_for_work:before {
  content: "\ec6f";
}
.icon2-gif:before {
  content: "\ec70";
}
.icon2-indeterminate_check_box:before {
  content: "\ec71";
}
.icon2-offline_pin:before {
  content: "\ec72";
}
.icon2-all_out:before {
  content: "\ec73";
}
.icon2-copyright:before {
  content: "\ec74";
}
.icon2-fingerprint:before {
  content: "\ec75";
}
.icon2-gavel:before {
  content: "\ec76";
}
.icon2-lightbulb_outline:before {
  content: "\ec77";
}
.icon2-picture_in_picture_alt:before {
  content: "\ec78";
}
.icon2-important_devices:before {
  content: "\ec79";
}
.icon2-touch_app:before {
  content: "\ec7a";
}
.icon2-accessible:before {
  content: "\ec7b";
}
.icon2-compare_arrows:before {
  content: "\ec7c";
}
.icon2-date_range:before {
  content: "\ec7d";
}
.icon2-donut_large:before {
  content: "\ec7e";
}
.icon2-donut_small:before {
  content: "\ec7f";
}
.icon2-line_style:before {
  content: "\ec80";
}
.icon2-line_weight:before {
  content: "\ec81";
}
.icon2-motorcycle:before {
  content: "\ec82";
}
.icon2-opacity:before {
  content: "\ec83";
}
.icon2-pets:before {
  content: "\ec84";
}
.icon2-pregnant_woman:before {
  content: "\ec85";
}
.icon2-record_voice_over:before {
  content: "\ec86";
}
.icon2-rounded_corner:before {
  content: "\ec87";
}
.icon2-rowing:before {
  content: "\ec88";
}
.icon2-timeline:before {
  content: "\ec89";
}
.icon2-update:before {
  content: "\ec8a";
}
.icon2-watch_later:before {
  content: "\ec8b";
}
.icon2-pan_tool:before {
  content: "\ec8c";
}
.icon2-euro_symbol:before {
  content: "\ec8d";
}
.icon2-g_translate:before {
  content: "\ec8e";
}
.icon2-remove_shopping_cart:before {
  content: "\ec8f";
}
.icon2-restore_page:before {
  content: "\ec90";
}
.icon2-speaker_notes_off:before {
  content: "\ec91";
}
.icon2-delete_forever:before {
  content: "\ec92";
}
.icon2-accessibility_new:before {
  content: "\ec93";
}
.icon2-check_circle_outline:before {
  content: "\ec94";
}
.icon2-delete_outline:before {
  content: "\ec95";
}
.icon2-done_outline:before {
  content: "\ec96";
}
.icon2-maximize:before {
  content: "\ec97";
}
.icon2-minimize:before {
  content: "\ec98";
}
.icon2-offline_bolt:before {
  content: "\ec99";
}
.icon2-swap_horizontal_circle:before {
  content: "\ec9a";
}
.icon2-accessible_forward:before {
  content: "\ec9b";
}
.icon2-calendar_today:before {
  content: "\ec9c";
}
.icon2-calendar_view_day:before {
  content: "\ec9d";
}
.icon2-label_important:before {
  content: "\ec9e";
}
.icon2-restore_from_trash:before {
  content: "\ec9f";
}
.icon2-supervised_user_circle:before {
  content: "\eca0";
}
.icon2-text_rotate_up:before {
  content: "\eca1";
}
.icon2-text_rotate_vertical:before {
  content: "\eca2";
}
.icon2-text_rotation_angledown:before {
  content: "\eca3";
}
.icon2-text_rotation_angleup:before {
  content: "\eca4";
}
.icon2-text_rotation_down:before {
  content: "\eca5";
}
.icon2-text_rotation_none:before {
  content: "\eca6";
}
.icon2-commute:before {
  content: "\eca7";
}
.icon2-arrow_right_alt:before {
  content: "\eca8";
}
.icon2-work_off:before {
  content: "\eca9";
}
.icon2-work_outline:before {
  content: "\ecaa";
}
.icon2-drag_indicator:before {
  content: "\ecab";
}
.icon2-horizontal_split:before {
  content: "\ecac";
}
.icon2-label_important_outline:before {
  content: "\ecad";
}
.icon2-vertical_split:before {
  content: "\ecae";
}
.icon2-voice_over_off:before {
  content: "\ecaf";
}
.icon2-segment:before {
  content: "\ecb0";
}
.icon2-contact_support:before {
  content: "\ecb1";
}
.icon2-compress:before {
  content: "\ecb2";
}
.icon2-filter_list_alt:before {
  content: "\ecb3";
}
.icon2-expand:before {
  content: "\ecb4";
}
.icon2-edit_off:before {
  content: "\ecb5";
}
.icon2-10k:before {
  content: "\ecb6";
}
.icon2-10mp:before {
  content: "\ecb7";
}
.icon2-11mp:before {
  content: "\ecb8";
}
.icon2-12mp:before {
  content: "\ecb9";
}
.icon2-13mp:before {
  content: "\ecba";
}
.icon2-14mp:before {
  content: "\ecbb";
}
.icon2-15mp:before {
  content: "\ecbc";
}
.icon2-16mp:before {
  content: "\ecbd";
}
.icon2-17mp:before {
  content: "\ecbe";
}
.icon2-18mp:before {
  content: "\ecbf";
}
.icon2-19mp:before {
  content: "\ecc0";
}
.icon2-1k:before {
  content: "\ecc1";
}
.icon2-1k_plus:before {
  content: "\ecc2";
}
.icon2-20mp:before {
  content: "\ecc3";
}
.icon2-21mp:before {
  content: "\ecc4";
}
.icon2-22mp:before {
  content: "\ecc5";
}
.icon2-23mp:before {
  content: "\ecc6";
}
.icon2-24mp:before {
  content: "\ecc7";
}
.icon2-2k:before {
  content: "\ecc8";
}
.icon2-2k_plus:before {
  content: "\ecc9";
}
.icon2-2mp:before {
  content: "\ecca";
}
.icon2-3k:before {
  content: "\eccb";
}
.icon2-3k_plus:before {
  content: "\eccc";
}
.icon2-3mp:before {
  content: "\eccd";
}
.icon2-4k_plus:before {
  content: "\ecce";
}
.icon2-4mp:before {
  content: "\eccf";
}
.icon2-5k:before {
  content: "\ecd0";
}
.icon2-5k_plus:before {
  content: "\ecd1";
}
.icon2-5mp:before {
  content: "\ecd2";
}
.icon2-6k:before {
  content: "\ecd3";
}
.icon2-6k_plus:before {
  content: "\ecd4";
}
.icon2-6mp:before {
  content: "\ecd5";
}
.icon2-7k:before {
  content: "\ecd6";
}
.icon2-7k_plus:before {
  content: "\ecd7";
}
.icon2-7mp:before {
  content: "\ecd8";
}
.icon2-8k:before {
  content: "\ecd9";
}
.icon2-8k_plus:before {
  content: "\ecda";
}
.icon2-8mp:before {
  content: "\ecdb";
}
.icon2-9k:before {
  content: "\ecdc";
}
.icon2-9k_plus:before {
  content: "\ecdd";
}
.icon2-9mp:before {
  content: "\ecde";
}
.icon2-account_tree:before {
  content: "\ecdf";
}
.icon2-add_chart:before {
  content: "\ece0";
}
.icon2-add_ic_call:before {
  content: "\ece1";
}
.icon2-add_moderator:before {
  content: "\ece2";
}
.icon2-all_inbox:before {
  content: "\ece3";
}
.icon2-approval:before {
  content: "\ece4";
}
.icon2-assistant_direction:before {
  content: "\ece5";
}
.icon2-assistant_navigation:before {
  content: "\ece6";
}
.icon2-bookmarks1:before {
  content: "\ece7";
}
.icon2-bus_alert:before {
  content: "\ece8";
}
.icon2-cases:before {
  content: "\ece9";
}
.icon2-circle_notifications:before {
  content: "\ecea";
}
.icon2-closed_caption_off:before {
  content: "\eceb";
}
.icon2-connected_tv:before {
  content: "\ecec";
}
.icon2-dangerous:before {
  content: "\eced";
}
.icon2-dashboard_customize:before {
  content: "\ecee";
}
.icon2-desktop_access_disabled:before {
  content: "\ecef";
}
.icon2-drive_file_move_outline:before {
  content: "\ecf0";
}
.icon2-drive_file_rename_outline:before {
  content: "\ecf1";
}
.icon2-drive_folder_upload:before {
  content: "\ecf2";
}
.icon2-duo:before {
  content: "\ecf3";
}
.icon2-explore_off:before {
  content: "\ecf4";
}
.icon2-file_download_done:before {
  content: "\ecf5";
}
.icon2-rtt:before {
  content: "\ecf6";
}
.icon2-grid_view:before {
  content: "\ecf7";
}
.icon2-hail:before {
  content: "\ecf8";
}
.icon2-home_filled:before {
  content: "\ecf9";
}
.icon2-imagesearch_roller:before {
  content: "\ecfa";
}
.icon2-label_off:before {
  content: "\ecfb";
}
.icon2-library_add_check:before {
  content: "\ecfc";
}
.icon2-logout1:before {
  content: "\ecfd";
}
.icon2-margin:before {
  content: "\ecfe";
}
.icon2-mark_as_unread:before {
  content: "\ecff";
}
.icon2-menu_open:before {
  content: "\ed00";
}
.icon2-mp:before {
  content: "\ed01";
}
.icon2-offline_share:before {
  content: "\ed02";
}
.icon2-padding:before {
  content: "\ed03";
}
.icon2-panorama_photosphere:before {
  content: "\ed04";
}
.icon2-panorama_photosphere_select:before {
  content: "\ed05";
}
.icon2-person_add_disabled:before {
  content: "\ed06";
}
.icon2-phone_disabled:before {
  content: "\ed07";
}
.icon2-phone_enabled:before {
  content: "\ed08";
}
.icon2-pivot_table_chart:before {
  content: "\ed09";
}
.icon2-print_disabled:before {
  content: "\ed0a";
}
.icon2-railway_alert:before {
  content: "\ed0b";
}
.icon2-recommend:before {
  content: "\ed0c";
}
.icon2-remove_done:before {
  content: "\ed0d";
}
.icon2-remove_moderator:before {
  content: "\ed0e";
}
.icon2-repeat_on:before {
  content: "\ed0f";
}
.icon2-repeat_one_on:before {
  content: "\ed10";
}
.icon2-replay_circle_filled:before {
  content: "\ed11";
}
.icon2-reset_tv:before {
  content: "\ed12";
}
.icon2-sd:before {
  content: "\ed13";
}
.icon2-shield1:before {
  content: "\ed14";
}
.icon2-shuffle_on:before {
  content: "\ed15";
}
.icon2-speed:before {
  content: "\ed16";
}
.icon2-stacked_bar_chart:before {
  content: "\ed17";
}
.icon2-stream:before {
  content: "\ed18";
}
.icon2-swipe:before {
  content: "\ed19";
}
.icon2-switch_account:before {
  content: "\ed1a";
}
.icon2-tag:before {
  content: "\ed1b";
}
.icon2-thumb_down_off_alt:before {
  content: "\ed1c";
}
.icon2-thumb_up_off_alt:before {
  content: "\ed1d";
}
.icon2-toggle_off:before {
  content: "\ed1e";
}
.icon2-toggle_on:before {
  content: "\ed1f";
}
.icon2-two_wheeler:before {
  content: "\ed20";
}
.icon2-upload_file:before {
  content: "\ed21";
}
.icon2-view_in_ar:before {
  content: "\ed22";
}
.icon2-waterfall_chart:before {
  content: "\ed23";
}
.icon2-wb_shade:before {
  content: "\ed24";
}
.icon2-wb_twighlight:before {
  content: "\ed25";
}
.icon2-home_work:before {
  content: "\ed26";
}
.icon2-schedule_send:before {
  content: "\ed27";
}
.icon2-bolt:before {
  content: "\ed28";
}
.icon2-send_and_archive:before {
  content: "\ed29";
}
.icon2-workspaces_filled:before {
  content: "\ed2a";
}
.icon2-file_present:before {
  content: "\ed2b";
}
.icon2-workspaces_outline:before {
  content: "\ed2c";
}
.icon2-fit_screen:before {
  content: "\ed2d";
}
.icon2-saved_search:before {
  content: "\ed2e";
}
.icon2-storefront:before {
  content: "\ed2f";
}
.icon2-amp_stories:before {
  content: "\ed30";
}
.icon2-dynamic_feed:before {
  content: "\ed31";
}
.icon2-euro:before {
  content: "\ed32";
}
.icon2-height:before {
  content: "\ed33";
}
.icon2-policy:before {
  content: "\ed34";
}
.icon2-sync_alt:before {
  content: "\ed35";
}
.icon2-menu_book:before {
  content: "\ed36";
}
.icon2-emoji_flags:before {
  content: "\ed37";
}
.icon2-emoji_food_beverage:before {
  content: "\ed38";
}
.icon2-emoji_nature:before {
  content: "\ed39";
}
.icon2-emoji_people:before {
  content: "\ed3a";
}
.icon2-emoji_symbols:before {
  content: "\ed3b";
}
.icon2-emoji_transportation:before {
  content: "\ed3c";
}
.icon2-post_add:before {
  content: "\ed3d";
}
.icon2-people_alt:before {
  content: "\ed3e";
}
.icon2-emoji_emotions:before {
  content: "\ed3f";
}
.icon2-emoji_events:before {
  content: "\ed40";
}
.icon2-emoji_objects:before {
  content: "\ed41";
}
.icon2-sports_basketball:before {
  content: "\ed42";
}
.icon2-sports_cricket:before {
  content: "\ed43";
}
.icon2-sports_esports:before {
  content: "\ed44";
}
.icon2-sports_football:before {
  content: "\ed45";
}
.icon2-sports_golf:before {
  content: "\ed46";
}
.icon2-sports_hockey:before {
  content: "\ed47";
}
.icon2-sports_mma:before {
  content: "\ed48";
}
.icon2-sports_motorsports:before {
  content: "\ed49";
}
.icon2-sports_rugby:before {
  content: "\ed4a";
}
.icon2-sports_soccer:before {
  content: "\ed4b";
}
.icon2-sports:before {
  content: "\ed4c";
}
.icon2-sports_volleyball:before {
  content: "\ed4d";
}
.icon2-sports_tennis:before {
  content: "\ed4e";
}
.icon2-sports_handball:before {
  content: "\ed4f";
}
.icon2-sports_kabaddi:before {
  content: "\ed50";
}
.icon2-eco:before {
  content: "\ed51";
}
.icon2-museum:before {
  content: "\ed52";
}
.icon2-flip_camera_android:before {
  content: "\ed53";
}
.icon2-flip_camera_ios:before {
  content: "\ed54";
}
.icon2-cancel_schedule_send:before {
  content: "\ed55";
}
.icon2-apartment:before {
  content: "\ed56";
}
.icon2-bathtub:before {
  content: "\ed57";
}
.icon2-deck:before {
  content: "\ed58";
}
.icon2-fireplace:before {
  content: "\ed59";
}
.icon2-house:before {
  content: "\ed5a";
}
.icon2-king_bed:before {
  content: "\ed5b";
}
.icon2-nights_stay:before {
  content: "\ed5c";
}
.icon2-outdoor_grill:before {
  content: "\ed5d";
}
.icon2-single_bed:before {
  content: "\ed5e";
}
.icon2-square_foot:before {
  content: "\ed5f";
}
.icon2-double_arrow:before {
  content: "\ed60";
}
.icon2-sports_baseball:before {
  content: "\ed61";
}
.icon2-attractions:before {
  content: "\ed62";
}
.icon2-bakery_dining:before {
  content: "\ed63";
}
.icon2-breakfast_dining:before {
  content: "\ed64";
}
.icon2-car_rental:before {
  content: "\ed65";
}
.icon2-car_repair:before {
  content: "\ed66";
}
.icon2-dinner_dining:before {
  content: "\ed67";
}
.icon2-dry_cleaning:before {
  content: "\ed68";
}
.icon2-hardware:before {
  content: "\ed69";
}
.icon2-liquor:before {
  content: "\ed6a";
}
.icon2-lunch_dining:before {
  content: "\ed6b";
}
.icon2-nightlife:before {
  content: "\ed6c";
}
.icon2-park:before {
  content: "\ed6d";
}
.icon2-ramen_dining:before {
  content: "\ed6e";
}
.icon2-celebration:before {
  content: "\ed6f";
}
.icon2-theater_comedy:before {
  content: "\ed70";
}
.icon2-badge:before {
  content: "\ed71";
}
.icon2-festival:before {
  content: "\ed72";
}
.icon2-icecream:before {
  content: "\ed73";
}
.icon2-volunteer_activism:before {
  content: "\ed74";
}
.icon2-contactless:before {
  content: "\ed75";
}
.icon2-delivery_dining:before {
  content: "\ed76";
}
.icon2-brunch_dining:before {
  content: "\ed77";
}
.icon2-takeout_dining:before {
  content: "\ed78";
}
.icon2-ac_unit:before {
  content: "\ed79";
}
.icon2-airport_shuttle:before {
  content: "\ed7a";
}
.icon2-all_inclusive:before {
  content: "\ed7b";
}
.icon2-beach_access:before {
  content: "\ed7c";
}
.icon2-business_center:before {
  content: "\ed7d";
}
.icon2-casino:before {
  content: "\ed7e";
}
.icon2-child_care:before {
  content: "\ed7f";
}
.icon2-child_friendly:before {
  content: "\ed80";
}
.icon2-fitness_center:before {
  content: "\ed81";
}
.icon2-golf_course:before {
  content: "\ed82";
}
.icon2-hot_tub:before {
  content: "\ed83";
}
.icon2-kitchen:before {
  content: "\ed84";
}
.icon2-pool:before {
  content: "\ed85";
}
.icon2-room_service:before {
  content: "\ed86";
}
.icon2-smoke_free:before {
  content: "\ed87";
}
.icon2-smoking_rooms:before {
  content: "\ed88";
}
.icon2-spa:before {
  content: "\ed89";
}
.icon2-no_meeting_room:before {
  content: "\ed8a";
}
.icon2-meeting_room:before {
  content: "\ed8b";
}
.icon2-goat:before {
  content: "\ed8c";
}
.icon2-heart1:before {
  content: "\ed8d";
}
.icon2-cloud2:before {
  content: "\ed8e";
}
.icon2-star1:before {
  content: "\ed8f";
}
.icon2-tv2:before {
  content: "\ed90";
}
.icon2-sound:before {
  content: "\ed91";
}
.icon2-video:before {
  content: "\ed92";
}
.icon2-trash:before {
  content: "\ed93";
}
.icon2-user2:before {
  content: "\ed94";
}
.icon2-key1:before {
  content: "\ed95";
}
.icon2-search2:before {
  content: "\ed96";
}
.icon2-settings1:before {
  content: "\ed97";
}
.icon2-camera2:before {
  content: "\ed98";
}
.icon2-tag1:before {
  content: "\ed99";
}
.icon2-lock1:before {
  content: "\ed9a";
}
.icon2-bulb:before {
  content: "\ed9b";
}
.icon2-pen1:before {
  content: "\ed9c";
}
.icon2-diamond:before {
  content: "\ed9d";
}
.icon2-display1:before {
  content: "\ed9e";
}
.icon2-location3:before {
  content: "\ed9f";
}
.icon2-eye1:before {
  content: "\eda0";
}
.icon2-bubble1:before {
  content: "\eda1";
}
.icon2-stack1:before {
  content: "\eda2";
}
.icon2-cup:before {
  content: "\eda3";
}
.icon2-phone2:before {
  content: "\eda4";
}
.icon2-news:before {
  content: "\eda5";
}
.icon2-mail1:before {
  content: "\eda6";
}
.icon2-like:before {
  content: "\eda7";
}
.icon2-photo:before {
  content: "\eda8";
}
.icon2-note1:before {
  content: "\eda9";
}
.icon2-clock3:before {
  content: "\edaa";
}
.icon2-paperplane:before {
  content: "\edab";
}
.icon2-params:before {
  content: "\edac";
}
.icon2-banknote:before {
  content: "\edad";
}
.icon2-data:before {
  content: "\edae";
}
.icon2-music1:before {
  content: "\edaf";
}
.icon2-megaphone:before {
  content: "\edb0";
}
.icon2-study:before {
  content: "\edb1";
}
.icon2-lab1:before {
  content: "\edb2";
}
.icon2-food:before {
  content: "\edb3";
}
.icon2-t-shirt:before {
  content: "\edb4";
}
.icon2-fire1:before {
  content: "\edb5";
}
.icon2-clip:before {
  content: "\edb6";
}
.icon2-shop1:before {
  content: "\edb7";
}
.icon2-calendar2:before {
  content: "\edb8";
}
.icon2-wallet:before {
  content: "\edb9";
}
.icon2-vynil:before {
  content: "\edba";
}
.icon2-truck1:before {
  content: "\edbb";
}
.icon2-world:before {
  content: "\edbc";
}
.icon2-home:before {
  content: "\edbd";
}
.icon2-home2:before {
  content: "\edbe";
}
.icon2-home3:before {
  content: "\edbf";
}
.icon2-office:before {
  content: "\edc0";
}
.icon2-newspaper:before {
  content: "\edc1";
}
.icon2-pencil:before {
  content: "\edc2";
}
.icon2-pencil2:before {
  content: "\edc3";
}
.icon2-quill:before {
  content: "\edc4";
}
.icon2-pen:before {
  content: "\edc5";
}
.icon2-blog:before {
  content: "\edc6";
}
.icon2-eyedropper:before {
  content: "\edc7";
}
.icon2-droplet:before {
  content: "\edc8";
}
.icon2-paint-format:before {
  content: "\edc9";
}
.icon2-image:before {
  content: "\edca";
}
.icon2-images:before {
  content: "\edcb";
}
.icon2-camera:before {
  content: "\edcc";
}
.icon2-headphones:before {
  content: "\edcd";
}
.icon2-music:before {
  content: "\edce";
}
.icon2-play:before {
  content: "\edcf";
}
.icon2-film:before {
  content: "\edd0";
}
.icon2-video-camera:before {
  content: "\edd1";
}
.icon2-dice:before {
  content: "\edd2";
}
.icon2-pacman:before {
  content: "\edd3";
}
.icon2-spades:before {
  content: "\edd4";
}
.icon2-clubs:before {
  content: "\edd5";
}
.icon2-diamonds:before {
  content: "\edd6";
}
.icon2-bullhorn:before {
  content: "\edd7";
}
.icon2-connection:before {
  content: "\edd8";
}
.icon2-podcast:before {
  content: "\edd9";
}
.icon2-feed:before {
  content: "\edda";
}
.icon2-mic:before {
  content: "\eddb";
}
.icon2-book:before {
  content: "\eddc";
}
.icon2-books:before {
  content: "\eddd";
}
.icon2-library:before {
  content: "\edde";
}
.icon2-file-text:before {
  content: "\eddf";
}
.icon2-profile:before {
  content: "\ede0";
}
.icon2-file-empty:before {
  content: "\ede1";
}
.icon2-files-empty:before {
  content: "\ede2";
}
.icon2-file-text2:before {
  content: "\ede3";
}
.icon2-file-picture:before {
  content: "\ede4";
}
.icon2-file-music:before {
  content: "\ede5";
}
.icon2-file-play:before {
  content: "\ede6";
}
.icon2-file-video:before {
  content: "\ede7";
}
.icon2-file-zip:before {
  content: "\ede8";
}
.icon2-copy:before {
  content: "\ede9";
}
.icon2-paste:before {
  content: "\edea";
}
.icon2-stack:before {
  content: "\edeb";
}
.icon2-folder:before {
  content: "\edec";
}
.icon2-folder-open:before {
  content: "\eded";
}
.icon2-folder-plus:before {
  content: "\edee";
}
.icon2-folder-minus:before {
  content: "\edef";
}
.icon2-folder-download:before {
  content: "\edf0";
}
.icon2-folder-upload:before {
  content: "\edf1";
}
.icon2-price-tag:before {
  content: "\edf2";
}
.icon2-price-tags:before {
  content: "\edf3";
}
.icon2-barcode:before {
  content: "\edf4";
}
.icon2-qrcode:before {
  content: "\edf5";
}
.icon2-ticket:before {
  content: "\edf6";
}
.icon2-cart:before {
  content: "\edf7";
}
.icon2-coin-dollar:before {
  content: "\edf8";
}
.icon2-coin-euro:before {
  content: "\edf9";
}
.icon2-coin-pound:before {
  content: "\edfa";
}
.icon2-coin-yen:before {
  content: "\edfb";
}
.icon2-credit-card:before {
  content: "\edfc";
}
.icon2-calculator:before {
  content: "\edfd";
}
.icon2-lifebuoy:before {
  content: "\edfe";
}
.icon2-phone:before {
  content: "\edff";
}
.icon2-phone-hang-up:before {
  content: "\ee00";
}
.icon2-address-book:before {
  content: "\ee01";
}
.icon2-envelop:before {
  content: "\ee02";
}
.icon2-pushpin:before {
  content: "\ee03";
}
.icon2-location1:before {
  content: "\ee04";
}
.icon2-location2:before {
  content: "\ee05";
}
.icon2-compass:before {
  content: "\ee06";
}
.icon2-compass2:before {
  content: "\ee07";
}
.icon2-map:before {
  content: "\ee08";
}
.icon2-map2:before {
  content: "\ee09";
}
.icon2-history:before {
  content: "\ee0a";
}
.icon2-clock1:before {
  content: "\ee0b";
}
.icon2-clock2:before {
  content: "\ee0c";
}
.icon2-alarm:before {
  content: "\ee0d";
}
.icon2-bell:before {
  content: "\ee0e";
}
.icon2-stopwatch:before {
  content: "\ee0f";
}
.icon2-calendar1:before {
  content: "\ee10";
}
.icon2-printer:before {
  content: "\ee11";
}
.icon2-keyboard:before {
  content: "\ee12";
}
.icon2-display:before {
  content: "\ee13";
}
.icon2-laptop:before {
  content: "\ee14";
}
.icon2-mobile:before {
  content: "\ee15";
}
.icon2-mobile2:before {
  content: "\ee16";
}
.icon2-tablet:before {
  content: "\ee17";
}
.icon2-tv:before {
  content: "\ee18";
}
.icon2-drawer:before {
  content: "\ee19";
}
.icon2-drawer2:before {
  content: "\ee1a";
}
.icon2-box-add:before {
  content: "\ee1b";
}
.icon2-box-remove:before {
  content: "\ee1c";
}
.icon2-download:before {
  content: "\ee1d";
}
.icon2-upload:before {
  content: "\ee1e";
}
.icon2-floppy-disk:before {
  content: "\ee1f";
}
.icon2-drive:before {
  content: "\ee20";
}
.icon2-database:before {
  content: "\ee21";
}
.icon2-undo:before {
  content: "\ee22";
}
.icon2-redo:before {
  content: "\ee23";
}
.icon2-undo2:before {
  content: "\ee24";
}
.icon2-redo2:before {
  content: "\ee25";
}
.icon2-forward:before {
  content: "\ee26";
}
.icon2-reply:before {
  content: "\ee27";
}
.icon2-bubble:before {
  content: "\ee28";
}
.icon2-bubbles:before {
  content: "\ee29";
}
.icon2-bubbles2:before {
  content: "\ee2a";
}
.icon2-bubble2:before {
  content: "\ee2b";
}
.icon2-bubbles3:before {
  content: "\ee2c";
}
.icon2-bubbles4:before {
  content: "\ee2d";
}
.icon2-user1:before {
  content: "\ee2e";
}
.icon2-users:before {
  content: "\ee2f";
}
.icon2-user-plus:before {
  content: "\ee30";
}
.icon2-user-minus:before {
  content: "\ee31";
}
.icon2-user-check:before {
  content: "\ee32";
}
.icon2-user-tie:before {
  content: "\ee33";
}
.icon2-quotes-left:before {
  content: "\ee34";
}
.icon2-quotes-right:before {
  content: "\ee35";
}
.icon2-hour-glass:before {
  content: "\ee36";
}
.icon2-spinner:before {
  content: "\ee37";
}
.icon2-spinner2:before {
  content: "\ee38";
}
.icon2-spinner3:before {
  content: "\ee39";
}
.icon2-spinner4:before {
  content: "\ee3a";
}
.icon2-spinner5:before {
  content: "\ee3b";
}
.icon2-spinner6:before {
  content: "\ee3c";
}
.icon2-spinner7:before {
  content: "\ee3d";
}
.icon2-spinner8:before {
  content: "\ee3e";
}
.icon2-spinner9:before {
  content: "\ee3f";
}
.icon2-spinner10:before {
  content: "\ee40";
}
.icon2-spinner11:before {
  content: "\ee41";
}
.icon2-binoculars:before {
  content: "\ee42";
}
.icon2-search:before {
  content: "\ee43";
}
.icon2-zoom-in:before {
  content: "\ee44";
}
.icon2-zoom-out:before {
  content: "\ee45";
}
.icon2-enlarge:before {
  content: "\ee46";
}
.icon2-shrink:before {
  content: "\ee47";
}
.icon2-enlarge2:before {
  content: "\ee48";
}
.icon2-shrink2:before {
  content: "\ee49";
}
.icon2-key:before {
  content: "\ee4a";
}
.icon2-key2:before {
  content: "\ee4b";
}
.icon2-lock:before {
  content: "\ee4c";
}
.icon2-unlocked:before {
  content: "\ee4d";
}
.icon2-wrench:before {
  content: "\ee4e";
}
.icon2-equalizer:before {
  content: "\ee4f";
}
.icon2-equalizer2:before {
  content: "\ee50";
}
.icon2-cog:before {
  content: "\ee51";
}
.icon2-cogs:before {
  content: "\ee52";
}
.icon2-hammer:before {
  content: "\ee53";
}
.icon2-magic-wand:before {
  content: "\ee54";
}
.icon2-aid-kit:before {
  content: "\ee55";
}
.icon2-bug:before {
  content: "\ee56";
}
.icon2-pie-chart:before {
  content: "\ee57";
}
.icon2-stats-dots:before {
  content: "\ee58";
}
.icon2-stats-bars:before {
  content: "\ee59";
}
.icon2-stats-bars2:before {
  content: "\ee5a";
}
.icon2-trophy:before {
  content: "\ee5b";
}
.icon2-gift:before {
  content: "\ee5c";
}
.icon2-glass:before {
  content: "\ee5d";
}
.icon2-glass2:before {
  content: "\ee5e";
}
.icon2-mug:before {
  content: "\ee5f";
}
.icon2-spoon-knife:before {
  content: "\ee60";
}
.icon2-leaf:before {
  content: "\ee61";
}
.icon2-rocket:before {
  content: "\ee62";
}
.icon2-meter:before {
  content: "\ee63";
}
.icon2-meter2:before {
  content: "\ee64";
}
.icon2-hammer2:before {
  content: "\ee65";
}
.icon2-fire:before {
  content: "\ee66";
}
.icon2-lab:before {
  content: "\ee67";
}
.icon2-magnet:before {
  content: "\ee68";
}
.icon2-bin:before {
  content: "\ee69";
}
.icon2-bin2:before {
  content: "\ee6a";
}
.icon2-briefcase:before {
  content: "\ee6b";
}
.icon2-airplane:before {
  content: "\ee6c";
}
.icon2-truck:before {
  content: "\ee6d";
}
.icon2-road:before {
  content: "\ee6e";
}
.icon2-accessibility:before {
  content: "\ee6f";
}
.icon2-target:before {
  content: "\ee70";
}
.icon2-shield:before {
  content: "\ee71";
}
.icon2-power:before {
  content: "\ee72";
}
.icon2-switch:before {
  content: "\ee73";
}
.icon2-power-cord:before {
  content: "\ee74";
}
.icon2-clipboard:before {
  content: "\ee75";
}
.icon2-list-numbered:before {
  content: "\ee76";
}
.icon2-list:before {
  content: "\ee77";
}
.icon2-list2:before {
  content: "\ee78";
}
.icon2-tree:before {
  content: "\ee79";
}
.icon2-menu:before {
  content: "\ee7a";
}
.icon2-menu2:before {
  content: "\ee7b";
}
.icon2-menu3:before {
  content: "\ee7c";
}
.icon2-menu4:before {
  content: "\ee7d";
}
.icon2-cloud:before {
  content: "\ee7e";
}
.icon2-cloud-download:before {
  content: "\ee7f";
}
.icon2-cloud-upload:before {
  content: "\ee80";
}
.icon2-cloud-check:before {
  content: "\ee81";
}
.icon2-download2:before {
  content: "\ee82";
}
.icon2-upload2:before {
  content: "\ee83";
}
.icon2-download3:before {
  content: "\ee84";
}
.icon2-upload3:before {
  content: "\ee85";
}
.icon2-sphere:before {
  content: "\ee86";
}
.icon2-earth:before {
  content: "\ee87";
}
.icon2-link:before {
  content: "\ee88";
}
.icon2-flag:before {
  content: "\ee89";
}
.icon2-attachment:before {
  content: "\ee8a";
}
.icon2-eye:before {
  content: "\ee8b";
}
.icon2-eye-plus:before {
  content: "\ee8c";
}
.icon2-eye-minus:before {
  content: "\ee8d";
}
.icon2-eye-blocked:before {
  content: "\ee8e";
}
.icon2-bookmark:before {
  content: "\ee8f";
}
.icon2-bookmarks:before {
  content: "\ee90";
}
.icon2-sun:before {
  content: "\ee91";
}
.icon2-contrast:before {
  content: "\ee92";
}
.icon2-brightness-contrast:before {
  content: "\ee93";
}
.icon2-star-empty:before {
  content: "\ee94";
}
.icon2-star-half:before {
  content: "\ee95";
}
.icon2-star-full:before {
  content: "\ee96";
}
.icon2-heart:before {
  content: "\ee97";
}
.icon2-heart-broken:before {
  content: "\ee98";
}
.icon2-man:before {
  content: "\ee99";
}
.icon2-woman:before {
  content: "\ee9a";
}
.icon2-man-woman:before {
  content: "\ee9b";
}
.icon2-happy:before {
  content: "\ee9c";
}
.icon2-happy2:before {
  content: "\ee9d";
}
.icon2-smile:before {
  content: "\ee9e";
}
.icon2-smile2:before {
  content: "\ee9f";
}
.icon2-tongue:before {
  content: "\eea0";
}
.icon2-tongue2:before {
  content: "\eea1";
}
.icon2-sad:before {
  content: "\eea2";
}
.icon2-sad2:before {
  content: "\eea3";
}
.icon2-wink:before {
  content: "\eea4";
}
.icon2-wink2:before {
  content: "\eea5";
}
.icon2-grin:before {
  content: "\eea6";
}
.icon2-grin2:before {
  content: "\eea7";
}
.icon2-cool:before {
  content: "\eea8";
}
.icon2-cool2:before {
  content: "\eea9";
}
.icon2-angry:before {
  content: "\eeaa";
}
.icon2-angry2:before {
  content: "\eeab";
}
.icon2-evil:before {
  content: "\eeac";
}
.icon2-evil2:before {
  content: "\eead";
}
.icon2-shocked:before {
  content: "\eeae";
}
.icon2-shocked2:before {
  content: "\eeaf";
}
.icon2-baffled:before {
  content: "\eeb0";
}
.icon2-baffled2:before {
  content: "\eeb1";
}
.icon2-confused:before {
  content: "\eeb2";
}
.icon2-confused2:before {
  content: "\eeb3";
}
.icon2-neutral:before {
  content: "\eeb4";
}
.icon2-neutral2:before {
  content: "\eeb5";
}
.icon2-hipster:before {
  content: "\eeb6";
}
.icon2-hipster2:before {
  content: "\eeb7";
}
.icon2-wondering:before {
  content: "\eeb8";
}
.icon2-wondering2:before {
  content: "\eeb9";
}
.icon2-sleepy:before {
  content: "\eeba";
}
.icon2-sleepy2:before {
  content: "\eebb";
}
.icon2-frustrated:before {
  content: "\eebc";
}
.icon2-frustrated2:before {
  content: "\eebd";
}
.icon2-crying:before {
  content: "\eebe";
}
.icon2-crying2:before {
  content: "\eebf";
}
.icon2-point-up:before {
  content: "\eec0";
}
.icon2-point-right:before {
  content: "\eec1";
}
.icon2-point-down:before {
  content: "\eec2";
}
.icon2-point-left:before {
  content: "\eec3";
}
.icon2-warning:before {
  content: "\eec4";
}
.icon2-notification:before {
  content: "\eec5";
}
.icon2-question:before {
  content: "\eec6";
}
.icon2-plus:before {
  content: "\eec7";
}
.icon2-minus:before {
  content: "\eec8";
}
.icon2-info:before {
  content: "\eec9";
}
.icon2-cancel-circle:before {
  content: "\eeca";
}
.icon2-blocked:before {
  content: "\eecb";
}
.icon2-cross:before {
  content: "\eecc";
}
.icon2-checkmark:before {
  content: "\eecd";
}
.icon2-checkmark2:before {
  content: "\eece";
}
.icon2-spell-check:before {
  content: "\eecf";
}
.icon2-enter:before {
  content: "\eed0";
}
.icon2-exit:before {
  content: "\eed1";
}
.icon2-play2:before {
  content: "\eed2";
}
.icon2-pause:before {
  content: "\eed3";
}
.icon2-stop:before {
  content: "\eed4";
}
.icon2-previous:before {
  content: "\eed5";
}
.icon2-next:before {
  content: "\eed6";
}
.icon2-backward:before {
  content: "\eed7";
}
.icon2-forward2:before {
  content: "\eed8";
}
.icon2-play3:before {
  content: "\eed9";
}
.icon2-pause2:before {
  content: "\eeda";
}
.icon2-stop2:before {
  content: "\eedb";
}
.icon2-backward2:before {
  content: "\eedc";
}
.icon2-forward3:before {
  content: "\eedd";
}
.icon2-first:before {
  content: "\eede";
}
.icon2-last:before {
  content: "\eedf";
}
.icon2-previous2:before {
  content: "\eee0";
}
.icon2-next2:before {
  content: "\eee1";
}
.icon2-eject:before {
  content: "\eee2";
}
.icon2-volume-high:before {
  content: "\eee3";
}
.icon2-volume-medium:before {
  content: "\eee4";
}
.icon2-volume-low:before {
  content: "\eee5";
}
.icon2-volume-mute:before {
  content: "\eee6";
}
.icon2-volume-mute2:before {
  content: "\eee7";
}
.icon2-volume-increase:before {
  content: "\eee8";
}
.icon2-volume-decrease:before {
  content: "\eee9";
}
.icon2-loop:before {
  content: "\eeea";
}
.icon2-loop2:before {
  content: "\eeeb";
}
.icon2-infinite:before {
  content: "\eeec";
}
.icon2-shuffle:before {
  content: "\eeed";
}
.icon2-arrow-up-left:before {
  content: "\eeee";
}
.icon2-arrow-up:before {
  content: "\eeef";
}
.icon2-arrow-up-right:before {
  content: "\eef0";
}
.icon2-arrow-right:before {
  content: "\eef1";
}
.icon2-arrow-down-right:before {
  content: "\eef2";
}
.icon2-arrow-down:before {
  content: "\eef3";
}
.icon2-arrow-down-left:before {
  content: "\eef4";
}
.icon2-arrow-left:before {
  content: "\eef5";
}
.icon2-arrow-up-left2:before {
  content: "\eef6";
}
.icon2-arrow-up2:before {
  content: "\eef7";
}
.icon2-arrow-up-right2:before {
  content: "\eef8";
}
.icon2-arrow-right2:before {
  content: "\eef9";
}
.icon2-arrow-down-right2:before {
  content: "\eefa";
}
.icon2-arrow-down2:before {
  content: "\eefb";
}
.icon2-arrow-down-left2:before {
  content: "\eefc";
}
.icon2-arrow-left2:before {
  content: "\eefd";
}
.icon2-circle-up:before {
  content: "\eefe";
}
.icon2-circle-right:before {
  content: "\eeff";
}
.icon2-circle-down:before {
  content: "\ef00";
}
.icon2-circle-left:before {
  content: "\ef01";
}
.icon2-tab:before {
  content: "\ef02";
}
.icon2-move-up:before {
  content: "\ef03";
}
.icon2-move-down:before {
  content: "\ef04";
}
.icon2-sort-alpha-asc:before {
  content: "\ef05";
}
.icon2-sort-alpha-desc:before {
  content: "\ef06";
}
.icon2-sort-numeric-asc:before {
  content: "\ef07";
}
.icon2-sort-numberic-desc:before {
  content: "\ef08";
}
.icon2-sort-amount-asc:before {
  content: "\ef09";
}
.icon2-sort-amount-desc:before {
  content: "\ef0a";
}
.icon2-command:before {
  content: "\ef0b";
}
.icon2-shift:before {
  content: "\ef0c";
}
.icon2-ctrl:before {
  content: "\ef0d";
}
.icon2-opt:before {
  content: "\ef0e";
}
.icon2-checkbox-checked:before {
  content: "\ef0f";
}
.icon2-checkbox-unchecked:before {
  content: "\ef10";
}
.icon2-radio-checked:before {
  content: "\ef11";
}
.icon2-radio-checked2:before {
  content: "\ef12";
}
.icon2-radio-unchecked:before {
  content: "\ef13";
}
.icon2-crop:before {
  content: "\ef14";
}
.icon2-make-group:before {
  content: "\ef15";
}
.icon2-ungroup:before {
  content: "\ef16";
}
.icon2-scissors:before {
  content: "\ef17";
}
.icon2-filter:before {
  content: "\ef18";
}
.icon2-font:before {
  content: "\ef19";
}
.icon2-ligature:before {
  content: "\ef1a";
}
.icon2-ligature2:before {
  content: "\ef1b";
}
.icon2-text-height:before {
  content: "\ef1c";
}
.icon2-text-width:before {
  content: "\ef1d";
}
.icon2-font-size:before {
  content: "\ef1e";
}
.icon2-bold:before {
  content: "\ef1f";
}
.icon2-underline:before {
  content: "\ef20";
}
.icon2-italic:before {
  content: "\ef21";
}
.icon2-strikethrough:before {
  content: "\ef22";
}
.icon2-omega:before {
  content: "\ef23";
}
.icon2-sigma:before {
  content: "\ef24";
}
.icon2-page-break:before {
  content: "\ef25";
}
.icon2-superscript:before {
  content: "\ef26";
}
.icon2-subscript:before {
  content: "\ef27";
}
.icon2-superscript2:before {
  content: "\ef28";
}
.icon2-subscript2:before {
  content: "\ef29";
}
.icon2-text-color:before {
  content: "\ef2a";
}
.icon2-pagebreak:before {
  content: "\ef2b";
}
.icon2-clear-formatting:before {
  content: "\ef2c";
}
.icon2-table:before {
  content: "\ef2d";
}
.icon2-table2:before {
  content: "\ef2e";
}
.icon2-insert-template:before {
  content: "\ef2f";
}
.icon2-pilcrow:before {
  content: "\ef30";
}
.icon2-ltr:before {
  content: "\ef31";
}
.icon2-rtl:before {
  content: "\ef32";
}
.icon2-section:before {
  content: "\ef33";
}
.icon2-paragraph-left:before {
  content: "\ef34";
}
.icon2-paragraph-center:before {
  content: "\ef35";
}
.icon2-paragraph-right:before {
  content: "\ef36";
}
.icon2-paragraph-justify:before {
  content: "\ef37";
}
.icon2-indent-increase:before {
  content: "\ef38";
}
.icon2-indent-decrease:before {
  content: "\ef39";
}
.icon2-share:before {
  content: "\ef3a";
}
.icon2-new-tab:before {
  content: "\ef3b";
}
.icon2-embed:before {
  content: "\ef3c";
}
.icon2-embed2:before {
  content: "\ef3d";
}
.icon2-terminal:before {
  content: "\ef3e";
}
.icon2-share2:before {
  content: "\ef3f";
}
.icon2-mail:before {
  content: "\ef40";
}
.icon2-mail2:before {
  content: "\ef41";
}
.icon2-mail3:before {
  content: "\ef42";
}
.icon2-mail4:before {
  content: "\ef43";
}
.icon2-amazon:before {
  content: "\ef44";
}
.icon2-google:before {
  content: "\ef45";
}
.icon2-google2:before {
  content: "\ef46";
}
.icon2-google3:before {
  content: "\ef47";
}
.icon2-google-plus:before {
  content: "\ef48";
}
.icon2-google-plus2:before {
  content: "\ef49";
}
.icon2-google-plus3:before {
  content: "\ef4a";
}
.icon2-hangouts:before {
  content: "\ef4b";
}
.icon2-google-drive:before {
  content: "\ef4c";
}
.icon2-facebook:before {
  content: "\ef4d";
}
.icon2-facebook2:before {
  content: "\ef4e";
}
.icon2-instagram:before {
  content: "\ef4f";
}
.icon2-whatsapp:before {
  content: "\ef50";
}
.icon2-spotify:before {
  content: "\ef51";
}
.icon2-telegram:before {
  content: "\ef52";
}
.icon2-twitter:before {
  content: "\ef53";
}
.icon2-vine:before {
  content: "\ef54";
}
.icon2-vk:before {
  content: "\ef55";
}
.icon2-renren:before {
  content: "\ef56";
}
.icon2-sina-weibo:before {
  content: "\ef57";
}
.icon2-rss:before {
  content: "\ef58";
}
.icon2-rss2:before {
  content: "\ef59";
}
.icon2-youtube:before {
  content: "\ef5a";
}
.icon2-youtube2:before {
  content: "\ef5b";
}
.icon2-twitch:before {
  content: "\ef5c";
}
.icon2-vimeo:before {
  content: "\ef5d";
}
.icon2-vimeo2:before {
  content: "\ef5e";
}
.icon2-lanyrd:before {
  content: "\ef5f";
}
.icon2-flickr:before {
  content: "\ef60";
}
.icon2-flickr2:before {
  content: "\ef61";
}
.icon2-flickr3:before {
  content: "\ef62";
}
.icon2-flickr4:before {
  content: "\ef63";
}
.icon2-dribbble:before {
  content: "\ef64";
}
.icon2-behance:before {
  content: "\ef65";
}
.icon2-behance2:before {
  content: "\ef66";
}
.icon2-deviantart:before {
  content: "\ef67";
}
.icon2-500px:before {
  content: "\ef68";
}
.icon2-steam:before {
  content: "\ef69";
}
.icon2-steam2:before {
  content: "\ef6a";
}
.icon2-dropbox:before {
  content: "\ef6b";
}
.icon2-onedrive:before {
  content: "\ef6c";
}
.icon2-github:before {
  content: "\ef6d";
}
.icon2-npm:before {
  content: "\ef6e";
}
.icon2-basecamp:before {
  content: "\ef6f";
}
.icon2-trello:before {
  content: "\ef70";
}
.icon2-wordpress:before {
  content: "\ef71";
}
.icon2-joomla:before {
  content: "\ef72";
}
.icon2-ello:before {
  content: "\ef73";
}
.icon2-blogger:before {
  content: "\ef74";
}
.icon2-blogger2:before {
  content: "\ef75";
}
.icon2-tumblr:before {
  content: "\ef76";
}
.icon2-tumblr2:before {
  content: "\ef77";
}
.icon2-yahoo:before {
  content: "\ef78";
}
.icon2-yahoo2:before {
  content: "\ef79";
}
.icon2-tux:before {
  content: "\ef7a";
}
.icon2-appleinc:before {
  content: "\ef7b";
}
.icon2-finder:before {
  content: "\ef7c";
}
.icon2-android:before {
  content: "\ef7d";
}
.icon2-windows:before {
  content: "\ef7e";
}
.icon2-windows8:before {
  content: "\ef7f";
}
.icon2-soundcloud:before {
  content: "\ef80";
}
.icon2-soundcloud2:before {
  content: "\ef81";
}
.icon2-skype:before {
  content: "\ef82";
}
.icon2-reddit:before {
  content: "\ef83";
}
.icon2-hackernews:before {
  content: "\ef84";
}
.icon2-wikipedia:before {
  content: "\ef85";
}
.icon2-linkedin:before {
  content: "\ef86";
}
.icon2-linkedin2:before {
  content: "\ef87";
}
.icon2-lastfm:before {
  content: "\ef88";
}
.icon2-lastfm2:before {
  content: "\ef89";
}
.icon2-delicious:before {
  content: "\ef8a";
}
.icon2-stumbleupon:before {
  content: "\ef8b";
}
.icon2-stumbleupon2:before {
  content: "\ef8c";
}
.icon2-stackoverflow:before {
  content: "\ef8d";
}
.icon2-pinterest:before {
  content: "\ef8e";
}
.icon2-pinterest2:before {
  content: "\ef8f";
}
.icon2-xing:before {
  content: "\ef90";
}
.icon2-xing2:before {
  content: "\ef91";
}
.icon2-flattr:before {
  content: "\ef92";
}
.icon2-foursquare:before {
  content: "\ef93";
}
.icon2-yelp:before {
  content: "\ef94";
}
.icon2-paypal:before {
  content: "\ef95";
}
.icon2-chrome:before {
  content: "\ef96";
}
.icon2-firefox:before {
  content: "\ef97";
}
.icon2-IE:before {
  content: "\ef98";
}
.icon2-edge:before {
  content: "\ef99";
}
.icon2-safari:before {
  content: "\ef9a";
}
.icon2-opera:before {
  content: "\ef9b";
}
.icon2-file-pdf:before {
  content: "\ef9c";
}
.icon2-file-openoffice:before {
  content: "\ef9d";
}
.icon2-file-word:before {
  content: "\ef9e";
}
.icon2-file-excel:before {
  content: "\ef9f";
}
.icon2-libreoffice:before {
  content: "\efa0";
}
.icon2-html-five:before {
  content: "\efa1";
}
.icon2-html-five2:before {
  content: "\efa2";
}
.icon2-css3:before {
  content: "\efa3";
}
.icon2-git:before {
  content: "\efa4";
}
.icon2-codepen:before {
  content: "\efa5";
}
.icon2-svg:before {
  content: "\efa6";
}
.icon2-IcoMoon:before {
  content: "\efa7";
}
.icon2-branches:before {
  content: "\e900";
}
.icon2-calendar:before {
  content: "\e901";
}
.icon2-cancel:before {
  content: "\e902";
}
.icon2-check-tick:before {
  content: "\e903";
}
.icon2-check-mark:before {
  content: "\e904";
}
.icon2-clock-time:before {
  content: "\e905";
}
.icon2-counter:before {
  content: "\e906";
}
.icon2-down-arrow:before {
  content: "\e907";
}
.icon2-fast-forward:before {
  content: "\e908";
}
.icon2-file-text1:before {
  content: "\e909";
}
.icon2-loading:before {
  content: "\e90a";
}
.icon2-location:before {
  content: "\e90b";
}
.icon2-logo-symbol:before {
  content: "\e90c";
}
.icon2-signout:before {
  content: "\e90d";
}
.icon2-menu-bars:before {
  content: "\e90e";
}
.icon2-password:before {
  content: "\e90f";
}
.icon2-recipt:before {
  content: "\e910";
}
.icon2-reply-all:before {
  content: "\e911";
}
.icon2-up-arrow:before {
  content: "\e912";
}
.icon2-username:before {
  content: "\e913";
}
.icon2-wall-clock:before {
  content: "\e914";
}
.icon2-add_circle_outline1:before {
  content: "\efa8";
}
.icon2-addition-sign:before {
  content: "\efa9";
}
.icon2-alarm-bell:before {
  content: "\efaa";
}
.icon2-align-left:before {
  content: "\efab";
}
.icon2-angry-face:before {
  content: "\efac";
}
.icon2-arrow-to-down:before {
  content: "\efad";
}
.icon2-arrow-to-right:before {
  content: "\efae";
}
.icon2-arrow-to-top:before {
  content: "\efaf";
}
.icon2-bar-chart:before {
  content: "\efb0";
}
.icon2-bell-notify:before {
  content: "\efb1";
}
.icon2-calendar-dots:before {
  content: "\efb2";
}
.icon2-clone-copy:before {
  content: "\efb3";
}
.icon2-cube-shape:before {
  content: "\efb4";
}
.icon2-diamond-shape:before {
  content: "\efb5";
}
.icon2-dotted-box:before {
  content: "\efb6";
}
.icon2-download-outline:before {
  content: "\efb7";
}
.icon2-drop-up:before {
  content: "\efb8";
}
.icon2-edit-pencil:before {
  content: "\efb9";
}
.icon2-ellipse:before {
  content: "\efba";
}
.icon2-email-envelop:before {
  content: "\efbb";
}
.icon2-empty-star:before {
  content: "\efbc";
}
.icon2-export:before {
  content: "\efbd";
}
.icon2-filter2:before {
  content: "\efbe";
}
.icon2-home-menu:before {
  content: "\efbf";
}
.icon2-hourglass:before {
  content: "\efc0";
}
.icon2-info-outline:before {
  content: "\efc1";
}
.icon2-list-alt:before {
  content: "\efc2";
}
.icon2-list-file:before {
  content: "\efc3";
}
.icon2-logout-menu:before {
  content: "\efc4";
}
.icon2-magnifying-glass:before {
  content: "\efc5";
}
.icon2-menu21:before {
  content: "\efc6";
}
.icon2-menu-options:before {
  content: "\efc7";
}
.icon2-money-card:before {
  content: "\efc8";
}
.icon2-network-group:before {
  content: "\efc9";
}
.icon2-normal-face:before {
  content: "\efca";
}
.icon2-order-summary:before {
  content: "\efcb";
}
.icon2-payments-card:before {
  content: "\efcc";
}
.icon2-pdf-file:before {
  content: "\efcd";
}
.icon2-phone-call:before {
  content: "\efce";
}
.icon2-pie-chart1:before {
  content: "\efcf";
}
.icon2-queues:before {
  content: "\efd0";
}
.icon2-release:before {
  content: "\efd1";
}
.icon2-remove-circle-outline:before {
  content: "\efd2";
}
.icon2-settings-bars:before {
  content: "\efd3";
}
.icon2-settings-gear:before {
  content: "\efd4";
}
.icon2-smile-face:before {
  content: "\efd5";
}
.icon2-sort-descending:before {
  content: "\efd6";
}
.icon2-success-tick:before {
  content: "\efd7";
}
.icon2-switch-off:before {
  content: "\efd8";
}
.icon2-target1:before {
  content: "\efd9";
}
.icon2-textsms1:before {
  content: "\efda";
}
.icon2-ticket1:before {
  content: "\efdb";
}
.icon2-tools2:before {
  content: "\efdc";
}
.icon2-tools-gear:before {
  content: "\efdd";
}
.icon2-trash-remove:before {
  content: "\efde";
}
.icon2-upload-outline:before {
  content: "\efdf";
}
