#taboor a {
  color: #3358dd;
}
#taboor a:hover {
  text-decoration: none;
}
#taboor h3 {
  font-weight: 500;
  font-size: 22px;
}
#taboor .app-body {
  background: #2f49da;
  margin-top: 0;
}
#taboor .app-body .main {
  background: #fafbfc;
  padding: 20px;
}
.sidebar-lg-show#taboor .app-body .main {
  border-radius: 30px 0 0 30px;
}
#taboor .sidebar .scrollbar-container{
  padding-right: 20px;
}
#taboor .sidebar {
  background: #2f49da;
  height: 100vh;
  padding: 30px;
}
#taboor .sidebar .nav-item {
  border: 1px solid #6c87fe;
  padding: 5px;
  margin: 0 0 10px 0;
  border-radius: 10px;
}
#taboor .sidebar .nav-item:last-child {
  margin-bottom: 0px;
}
#taboor .sidebar .nav-link {
  padding: 1rem 1rem;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
#taboor .sidebar .nav-dropdown .nav-dropdown-items .nav-item {
  border: none;
  padding: 0;
}
#taboor .sidebar .nav-dropdown .nav-dropdown-items .nav-item .nav-link {
  border: none;
  padding: 0;
  font-size: 13px;
}
#taboor .sidebar .nav-link .badge {
  display: block;
  text-align: left;
  padding: 0 !important;
  margin: 8px 0 0 !important;
  color: #5f78f5;
  font-size: 12px;
  font-weight: 500;
}
#taboor .sidebar .nav-link:hover {
  color: #fff;
  background: none;
}
#taboor .sidebar .nav-link.active {
  color: #fff;
  background: none;
}
#taboor .sidebar .nav-link .nav-icon {
  color: inherit;
  display: none;
}
#taboor .sidebar .side-logo {
  text-align: center;
  margin: 20px 0 30px;
}
#taboor .sidebar .nav-title {
  display: none;
}
#taboor .sidebar .nav-item .badge {
  margin-right: 0;
  float: none;
  margin-left: 10px;
  border-radius: 10px;
  padding: 4px 6px;
}
#taboor .sidebar .nav-item .badge::before{
  content: "\e909";
  display: inline-block;
  padding-right: 5px;
  font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#taboor .sidebar .divider {
  margin: 5px 0;
}
#taboor .sidebar .nav-dropdown-toggle::before {
  filter: brightness(1.4);
  width: 10px;
  height: 10px;
  top:27px;
  transform: rotate(-90deg);
}
#taboor .sidebar .nav-dropdown.open > .nav-dropdown-toggle::before {
  transform: rotate(90deg);
}
.main .admin-header {
  display: flex;
  margin: 0 30px 25px;
}
.main .admin-header .page-title {
  flex: 1;
}
.main .admin-header .page-title .breadcrumb {
  margin: 0;
  border: none;
  background: none;
  padding: 0;
}
.main .admin-header .page-title .breadcrumb .breadcrumb-item {
  display: none;
}
.main .admin-header .page-title .breadcrumb .breadcrumb-item.active {
  display: block;
  font-size: 22px;
  color: #2f49da;
  font-weight: 600;
  line-height: normal;
}
.main
  .admin-header
  .page-title
  .breadcrumb
  .breadcrumb-item
  + .breadcrumb-item::before {
  display: none;
}

.main .admin-header .admin-nav {
  display: contents;
}
.main .admin-header .admin-nav li {
  margin: 0 20px;
  line-height: 30px;
}
.main .admin-header .admin-nav li .nav-link {
  padding: 0;
  display: block;
}
.main .admin-header .admin-nav li .nav-link.top-icon {
  line-height: 30px;
}

.main .admin-header .navbar-toggler {
  padding: 0;
}
.main .navbar-toggler-icon {
  height: 44px;
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2373818f' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); */
  background-image: url(./assets/img/menu-bars.svg);
  background-repeat: no-repeat;
  width: 2em;
}
footer.app-footer {
  display: none;
}
.sidebar .sidebar-minimizer {
  display: none;
}

#taboor .btn {
  border-radius: 10px;
}
#taboor .btn-warning {
  color: #fff;
  background-color: #f2ac15;
  border-color: #f2ac15;
}
#taboor .btn-light {
  color: #23282c;
  background-color: #fff;
  border-color: #fff;
}
#taboor .btn-grey {
  color: #fff;
  background-color: #b8b8b8;
  border-color: #b8b8b8;
}

#taboor aside.aside-menu {
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 0 10px #00000014;
  width: 267px;
}
html:not([dir="rtl"]) #taboor.aside-menu-show .aside-menu,
html:not([dir="rtl"]) #taboor.aside-menu-lg-show .aside-menu {
  margin-right: 0;
}
html:not([dir="rtl"]) #taboor .aside-menu {
  right: 0;
  margin-right: -267px;
}
#taboor .aside-menu .tab-content {
  border: none;
}
#taboor .aside-menu .nav-tabs {
  display: block;
  border: none;
}
#taboor .aside-menu .nav-tabs .nav-link.active {
  background: none;
}

#taboor .aside-menu .nav-tabs .navbar-toggler .navbar-toggler-icon {
  width: auto;
  height: auto;
}
#taboor .list-dots {
  margin: 0;
  padding: 0 0 0 15px;
}
#taboor .list-dots li {
  color: #f2ac15;
  line-height: normal;
  margin-bottom: 8px;
}
#taboor .list-dots li a {
  color: #b8b8b8;
}

#taboor .profile-logo {
  background: #f6f7fa;
  padding: 15px;
  text-align: center;
  color: #3358dd;
  font-size: 20px;
  border-radius: 10px;
  width: 100px;
  margin: 0 auto 15px;
  font-weight: bold;
  text-transform: uppercase;
}

#taboor .card {
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 10px #00000014;
}

#taboor .theme-widget {
  color: #333;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 10px #00000014;
}
#taboor .theme-widget .widget-icon {
  border-radius: 10px;
  background: #f0f1f5;
  color: #4868df;
  text-align: center;
  font-size: 20px;
  padding: 5px;
}
#taboor .theme-widget .widget-title p {
  margin: 0;
  color: #4868df;
}
#taboor .theme-widget .widget-title h5 {
  font-weight: 700;
}
#taboor .theme-widget h3 {
  margin: 0;
  font-weight: 400;
}
#taboor .theme-widget h6 {
  color: #b8b8b8;
  margin-bottom: 5px;
}
#taboor .theme-widget sub {
  bottom: 0;
}
#taboor .card-primary {
  background-color: #2f49da;
  border-color: #2f49da;
}

#taboor .card-simple {
  background: none;
  border: 1px solid #ececec;
  box-shadow: none;
}
#taboor .card-simple p {
  color: #bebebe;
  margin-bottom: 5px;
}
#taboor .card-simple h5 {
  color: #191919;
  margin-bottom: 5px;
}
#taboor .card-simple .widget-icon {
  color: #bebebe;
  font-size: 20px;
  text-align: right;
}

#taboor .list-simple {
  list-style: none;
  border: none;
  padding: 0;
}
#taboor .list-simple li {
  list-style: none;
  border: none;
  padding: 0;
  margin-bottom: 5px;
}
#taboor .list-simple li:last-child {
  margin-bottom: 0px;
}

#taboor .table-card {
  border-radius: 20px;
}
#taboor .table-card tr th,
#taboor .table-card tr td {
  padding: 14px;
  font-weight: 300;
  border-color: #f0f1f5;
}
#taboor .table-card tr th {
  border: none;
  color: #b8b8b8;
}
#taboor .table-card tr th.bg-warning {
  color: #fff;
}
#taboor .table-card tr td.bg-warning {
  color: #fff;
  border-color: #e4a214;
}
#taboor .table-card tr:first-child th:first-child {
  border-top-left-radius: 20px;
}
#taboor .table-card tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
  border-color: transparent;
}
#taboor .table-card tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
  border-color: transparent;
}

.dash-content {
  display: none;
}
#taboor .app-header {
  display: none;
}
#taboor .grey-list li a {
  color: #ccc;
  padding: 5px 16px;
  border-radius: 10px;
  margin: 0 2px;
}
#taboor .grey-list li.active a {
  background-color: #2f49da;
  color: #fff;
}
#taboor .grey-list li:hover a {
  background-color: #2f49da;
  color: #fff;
}

#taboor .bg-warning {
  background-color: #f2ac15;
}
#taboor .line-graph canvas {
  height: 143px !important;
}
#taboor .f20 {
  font-size: 20px;
}
#taboor .text-light-grey {
  color: #b8b8b8;
}
#taboor .sky-blue {
  color: #6c87fe;
}
#taboor .text-primary {
  color: #3358dd !important;
}
#taboor .btn-primary {
  color: #fff;
  background-color: #3358dd;
  border-color: #3358dd;
}
#taboor .bg-primary {
  background-color: #3358dd !important;
}

#taboor .pie-graph canvas {
  height: 50px !important;
  width: auto !important;
  margin-top: -15px;
}

#taboor .landing-page {
  background-color: #fff;
  padding: 70px;
}
#taboor .landing-button {
  margin-top: 100px;
}
#taboor .landing-button button {
  background-color: #750578;
  border-radius: 0;
  color: #fff;
  padding: 25px;
  border: none;
  font-size: 36px;
}

#taboor .login-page {
  background-color: #1d2655;
  background-image: url(../src/assets/img/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#taboor .login-page .input-line .form-control {
  color: #73818f;
}
#taboor .login-page .input-line ::placeholder {
  color: #73818f;
}
#taboor .register-page {
  background-color: #3358dd;
  background-image: url(../src/assets/img/register-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}

#taboor .register-page .register-card {
  background: #fafbfc;
  border-radius: 0 20px 20px 0;
}
#taboor .register-page .register-card .card-footer {
  background: #fafbfc;
  border-radius: 0 0 20px 20px;
}
#taboor .input-line .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
  color: #1b1b1b;
  font-weight: 600;
  background: none;
}
#taboor ::placeholder {
  color: #1b1b1b;
  font-weight: 600;
}
#taboor .input-line .input-group-text {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
  font-size: 18px;
}
#taboor .form-group {
  margin: 0 0 30px;
}
#taboor .form-group label {
  margin: 0;
  font-size: 12px;
  color: #b8b8b8;
}
#taboor .upload-image .file-input {
  display: none;
}
#taboor .upload-image .custom-file-upload input[type="file"] {
  display: none;
}
#taboor .upload-image .custom-file-upload .custom-file-content {
  background-color: #3358dd;
  color: #fff;
  border-radius: 20px;
  padding: 40px;
  cursor: pointer;
  margin: 0;
}

#taboor .rc-steps-item-icon {
  background: none;
  border-radius: 7px;
  border: 1px solid #6c87fe;
}
#taboor .rc-steps-item-active .rc-steps-item-icon {
  border-color: #fff;
}
#taboor .rc-steps-item-active .rc-steps-item-icon .rc-steps-icon {
  color: #fff;
}
#taboor .rc-steps-item-icon .rc-steps-icon {
  color: #6c87fe;
}
#taboor .rc-steps-item .rc-steps-item-tail:after {
  background: #6c87fe;
}
#taboor .rc-steps-item-content {
  margin: 0 0 40px;
}
#taboor .rc-steps-item-process .rc-steps-item-title {
  color: #fff;
}
#taboor .rc-steps-item .rc-steps-item-description {
  color: #6c87fe;
}
#taboor .rc-steps-item-wait .rc-steps-item-title {
  color: #6c87fe;
}
#taboor .rc-steps-item-finish .rc-steps-item-title {
  color: #fff;
}
#taboor .rc-steps-item-finish .rc-steps-item-icon {
  border-color: #fff;
  background-color: #fff;
  color: #108ee9;
}
#taboor .rc-steps-item-icon > .rc-steps-icon.rcicon:after {
  content: "\f00c";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#taboor .rc-steps-horizontal .rc-steps-item-content {
  margin: 0px;
}
#taboor .rc-steps-horizontal:not(.rc-steps-label-vertical) .rc-steps-item-tail {
  display: block;
}
#taboor .rc-steps-horizontal .rc-steps-item {
  text-align: left;
}
#taboor .rc-steps-horizontal .rc-steps-item .rc-steps-item-tail:after {
  content: none;
}
#taboor .rc-steps-horizontal .rc-steps-item-finish .rc-steps-item-icon {
  border-color: #108ee9;
  background-color: #108ee9;
  color: #fff;
}
#taboor .rc-steps-horizontal .rc-steps-item-icon .rc-steps-icon {
  color: #fff;
}
#taboor .rc-steps-horizontal .rc-steps-item-finish .rc-steps-item-title {
  color: #23282c;
}

#taboor .rc-steps-horizontal .rc-steps-item-process .rc-steps-item-icon {
  background: none;
  border-radius: 7px;
  border: 1px solid #6c87fe;
}
#taboor .rc-steps-horizontal .rc-steps-item-process .rc-steps-item-title {
  color: #6c87fe;
}
#taboor
  .rc-steps-horizontal
  .rc-steps-item-process
  .rc-steps-item-icon
  .rc-steps-icon {
  color: #6c87fe;
}

#taboor .rc-steps-horizontal .rc-steps-item-wait .rc-steps-item-icon {
  background: none;
  border-radius: 7px;
  border: 1px solid #b8b8b8;
}
#taboor .rc-steps-horizontal .rc-steps-item-wait .rc-steps-item-title {
  color: #b8b8b8;
}
#taboor
  .rc-steps-horizontal
  .rc-steps-item-wait
  .rc-steps-item-icon
  .rc-steps-icon {
  color: #b8b8b8;
}

#taboor .badge {
  border-radius: 10px;
  padding: 5px 7px;
}
#taboor .badge-success {
  color: #06cf99;
  background-color: #d3fff3;
}
#taboor .badge-danger {
  color: #f72c39;
  background-color: #ffe1e3;
}
#taboor .badge-info {
  color: #3d60df;
  background-color: #dde4ff;
}
#taboor .badge-warning {
  color: #eeaf26;
  background-color: #fff0d0;
}

#taboor .tabs-line .nav-tabs {
  border-bottom: 1px solid #ececec;
  justify-content: center;
}
#taboor .tabs-line .nav-tabs .nav-item {
  margin: 0 30px -2px;
}
#taboor .tabs-line .nav-tabs .nav-link {
  border: none;
  background: none;
  color: #b8b8b8;
}
#taboor .tabs-line .nav-tabs .nav-link p {
  color: #b8b8b8;
}
#taboor .tabs-line .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 3px solid #3358dd;
  background: none;
  color: #3358dd;
}
#taboor .tabs-line .tab-content {
  background: none;
  border: none;
  padding: 0;
}
#taboor .tabs-line .tab-pane {
  padding: 0;
}

#taboor .card-box {
  box-shadow: none;
  border: 1px dashed #f3f3f3;
  border-radius: 10px;
}
#taboor .card-box .card-header {
  background: none;
  border: none;
  padding-bottom: 0;
}
#taboor .card-box .card-body {
  padding-top: 0;
}

#taboor .badge-tag {
  background: none;
  border: 1px solid #f3f3f3;
  color: #c1c1c1;
}

#taboor .card-list {
  box-shadow: none;
  border: 1px dashed #6682fb;
  border-radius: 10px;
  background: none;
  color: #6682fb;
}
#taboor .card-list .card-header-actions a {
  color: #6682fb;
}
#taboor .card-list .card-header-actions a:hover {
  color: #fff;
}
#taboor .card-list .table {
  color: #6682fb;
}

#taboor .active-plan {
  border: 1px solid #07cf98;
  position: relative;
  overflow: hidden;
}
#taboor .active-plan:after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 40px solid #07cf98;
  border-left: 40px solid transparent;
}
#taboor .active-plan:before {
  position: absolute;
  right: 8px;
  top: 6px;
  color: #fff;
  display: block;
  content: "\f00c";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 9;
  font-size: 12px;
}

#taboor .theme-alert {
  border: 1px dashed #d7d7d7;
  color: #3358dd;
  font-weight: 500;
  border-radius: 10px;
}
#taboor .main .animated.fadeIn {
  padding-top: 50px;
}
#taboor .counter-page {
  padding-top: 50px;
}
#taboor .btn-style {
  font-size: 36px;
  border-radius: 30px;
  padding: 35px 30px;
}
#taboor .btn-style i {
  font-size: 30px;
  margin-left: 30px;
}
#taboor .counter-page h1 {
  font-size: 80px;
}
#taboor .counter-page h2 {
  font-size: 40px;
}
#taboor .counter-page h4 {
  font-size: 30px;
}
#taboor .btn-danger {
  background: #f72c39;
}
#taboor .btn-primary {
  background: #3358dd;
}
#taboor .btn-success {
  background: #06cf99;
}
#taboor .btn-warning {
  background: #f2ac15;
}
#taboor .modal-dialog .modal-content {
  border-radius: 30px;
}
#taboor .modal-dialog .modal-content .modal-header {
  border: none;
  justify-content: center;
}
#taboor .modal-dialog .modal-content .modal-header .modal-title {
  font-size: 30px;
  color: #191919;
}
#taboor .modal-dialog .modal-content .modal-header .modal-title i {
  color: #f2ac15;
}
#taboor .modal-dialog .modal-content .modal-body {
  padding: 0;
}
#taboor .modal-dialog .modal-content .modal-footer {
  border: none;
  justify-content: center;
}
#taboor .modal-dialog .modal-content .modal-footer .btn {
  color: #3358dd;
  font-size: 24px;
  text-decoration: none;
  width: 40%;
}

#taboor .list-selection {
  list-style: none;
  margin: 0;
  padding: 0;
}
#taboor .list-selection li {
  display: block;
  border-bottom: 1px solid #d4d4d4;
}
#taboor .list-selection li:last-child {
  border-bottom: none;
}
#taboor .list-selection li a {
  color: #b8b8b8;
  font-size: 30px;
  display: block;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}
#taboor .list-selection li:hover {
  border-color: #f2ac15;
}
#taboor .list-selection li:hover a {
  background: #f2ac15;
  color: #fff;
}
#taboor .no-wrap {
  white-space: nowrap;
}
#taboor .customer-details{
font-size: 24px;
color: #191919;
}
.sidebar .nav-dropdown.open{
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.sidebar .nav-dropdown.open > .nav-dropdown-items {
  margin-bottom: 12px;
}
.sidebar .nav-dropdown > .nav-dropdown-items {
  text-align: left;
  padding-left: 30px;
}
.sidebar .nav-dropdown > .nav-dropdown-items li {
  color: #dea028;
  list-style-type: disc;
}
.sidebar .nav-dropdown > .nav-dropdown-items li a {
  color: #fff;
}
.sidebar .nav-dropdown > .nav-dropdown-items li a i {
  display: none;
}

html:not([dir="rtl"]) #taboor.sidebar-lg-show.sidebar-fixed .main,
html:not([dir="rtl"]) #taboor.sidebar-lg-show.sidebar-fixed .app-footer,
html:not([dir="rtl"]) #taboor.sidebar-show.sidebar-fixed .main,
html:not([dir="rtl"]) #taboor.sidebar-show.sidebar-fixed .app-footer {
  margin-left: 265px;
}
#taboor .sidebar .nav {
  width: 100%;
}


html:not([dir="rtl"]) .sidebar {
  margin-left: -264px;
}
@media (min-width: 992px) {
  .sidebar-fixed .sidebar {
    width: 264px;
  }
}

html:not([dir="rtl"]) #taboor.sidebar-fixed .sidebar {
  width: 264px;
  margin-left: -264px;
}
html:not([dir="rtl"]) #taboor.sidebar-lg-show.sidebar-fixed .sidebar {
  width: 264px;
  margin-left: 0;
}









.language-selector{
  text-align: center;
  width: 200px;
  margin: auto;
  position: absolute;
  top:20px;
  left: 0;
  right: 0;
}
.language-selector select{
  font-size: 20px;
  color: #b4bacf;
  background: none;
  border: none;
}
.language-selector select:focus{
  font-size: 20px;
  color: #b4bacf;
  background: none;
  border: none;
}
.language-selector select option{
  font-size: 16px;
  color: #3358dd;
  background: #b4bacf;
  border: none;
  padding: 5px 10px;
}
.setup-btn{
  position: absolute;
  right: 2%;
  bottom: 5%;
  display: none;
}
.copyright{
  text-align: center;
  font-size: 20px;
  color: #b4bacf;
  font-weight: 300;
  position: absolute;
  bottom:20px;
  left: 0;
  right: 0;
}
#taboor .MuiInput-underline:before {
  transition: none;
  border-bottom: 1px solid #e4e7ea;
}

@media (min-width: 992px) {
  .sidebar-fixed .sidebar {
    width: 264px;
  }
}

@media (max-width:1200px){
  #taboor .btn-style i {
    margin-left: 10px;
  }
  #taboor .btn-style {
    font-size: 30px;
    padding: 30px 20px;
}
#taboor .counter-page h1{
  font-size: 50px;
}
}
@media (max-width:768px){
  .main .admin-header{
    margin: 0;
  }
  .main .admin-header .page-title{
    font-size: 24px;
    margin: 0;
    line-height: normal;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f49da52;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f49da;
}
